
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ZZ_MIGRATION_MEMBER_PWD_MD5_2_SHA256_SEL</title>
</head>
<body>
    <div> 

        ===============회원 암호 이행결과===============================
        <br />
        대상건수 :  @ViewBag.TotalRecord
        <br />
        처리건수 : @ViewBag.ACTION_CNT
        <br />
        시작시간 : @ViewBag.START
        <br />
        종료시간 : @ViewBag.END
    </div>
</body>
</html>
