@model AboutMe.Domain.Entity.Order.MyORDER_VIEW
@{
    if (Model.DetailInfo == null)
    {
        Response.Write("<script>alert('존재하지 않은 게시물입니다.'); history.go(-1);</script>");
        Response.End();
    }
    ViewBag.Title = "주문배송조회 - ABOUT ME";
    ViewBag.TopClass = "myorder_list";

    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";

    string ProductPath = AboutMe.Common.Helper.Config.GetConfigValue("ProductPhotoPath");

}
@section Scripts {
    <link href="/aboutCom/css/mypage.css" rel="stylesheet" />


    <script language="javascript">
        function OrderCancel()
        {
            if (confirm("주문을 취소하시겠습니까?"))
            {
                var f = document.myform;
                f.OrderDetailIdx.value = "";
                f.action = "/MyPage/MyOrder/OrderCancel";
                f.submit();
            }
        }

        //배송조회
        function DeliverySearch(delivery_num)
        {
            alert(delivery_num + '조회!');
        }

        //구매확정
        function ConfirmSell(detailIdx)
        {
            if (confirm("구매확정 하시겠습니까?")) {
                var f = document.myform;
                f.OrderDetailIdx.value = detailIdx;
                f.action = "/MyPage/MyOrder/ConfirmSell";
                f.submit();
            }
        }

        //교환반품게시판
        function goReCall(detailIdx) {
            location.href = "/Mypage/Recall/RecallWrite?mode=NEW&order_code=@Model.DetailInfo.ORDER_CODE&order_detail_idx=" + detailIdx;
        }
    </script>
}



		<!--container-->
<div class="container">
    <div class="h2_area">
        <a href="javascript:void(0)" class="historyback"><img src="/aboutCom/images/common/btn_historyback.gif" alt="뒤로가기" /></a>
        <h2>주문상세</h2>
    </div>
    <!-- 꼭 읽어주세요 -->
    <div class="bullistb boxtypeb pb20">
        <h3 class="info_sti">꼭 읽어주세요</h3>
        <ul>
            <li>주문취소는 배송 시작 전 단계에서만 가능합니다. 이후에는 반품으로 진행되며,단순변심으로 인한 반품일 경우 반품배송비가 추가 발생할 수 있습니다.</li>
            <li>고객님께서 직접 구매확정 하지 않은 경우 배송완료 후 14일에 자동 전환됩니다.</li>
            <li>구매확정 후 리뷰쓰기가 가능합니다.</li>
        </ul>
    </div>
    <!-- //꼭 읽어주세요 -->
    <!-- 주문상품 리스트 -->
    <div class="product_list">
        <h3>주문상세내역</h3>
        <a href="#none" class="btn btn_white_h30 v2">전체 주문취소</a>
        <ul class="btnone">
            <li>
                <ul class="product_info">
                    <li class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="ico ico_best">BEST</span>
                            <span class="tit">스킨 톤업 버블 워시</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </li>
                    <li class="count_info">
                        <span class="tit">수량</span>
                        <span class="num"><strong>1</strong>개</span>
                    </li>
                    <li class="pay_info">
                        <span class="tit">결제금액</span>
                        <span class="num">5,000원</span>
                    </li>
                    <li class="state_info">
                        <span class="state"><i></i>결제완료</span>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="product_info">
                    <li class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="ico ico_best">BEST</span>
                            <span class="tit">스킨 톤업 버블 워시</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </li>
                    <li class="count_info">
                        <span class="tit">수량</span>
                        <span class="num"><strong>1</strong>개</span>
                    </li>
                    <li class="pay_info">
                        <span class="tit">결제금액</span>
                        <span class="num">5,000원</span>
                    </li>
                    <li class="state_info">
                        <span class="state"><i></i>결제완료</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- 주문상품 리스트 -->
    <!-- 결제금액 -->
    <div class="boxtypec">
        <h3>결제금액</h3>
        <ul class="con_list pd0">
            <li>
                <div>
                    <span class="tit">상품금액</span>
                    <span class="num">36,000원</span>
                </div>
                <div>
                    <span class="tit">배송비</span>
                    <span class="num">0원</span>
                </div>
            </li>
            <li>
                <strong class="tit">총 상품금액</strong>
                <strong class="num">36,000원</strong>
            </li>
            <li>
                <div>
                    <span class="tit">쿠폰할인금액</span>
                    <span class="num">5,600원</span>
                </div>
                <div>
                    <span class="stit">보유포인트 사용</span>
                    <span class="num">10,000원</span>
                </div>
                <div>
                    <span class="stit">VIP회원할인</span>
                    <span class="num">0원</span>
                </div>
            </li>
            <li class="bbnone">
                <span class="tit">총 할인금액</span>
                <span class="num">4,000원</span>
            </li>
        </ul>
    </div>
    <div class="total_paywrap">
        <div class="total_pay">
            <dl class="point">
                <dt>예상적립포인트</dt>
                <dd>ⓟ298</dd>
            </dl>
            <dl class="amount">
                <dt>총 결제금액</dt>
                <dd>29,000원</dd>
            </dl>
        </div>
        <p class="pstxt2"><span>ⓘ</span> 최종 결제금액 기준으로 포인트는 적립됩니다.</p>
    </div>
    <!-- //결제금액 -->
    <!-- 주문자정보 -->
    <div class="boxtypec pd0">
        <h3>주문자 정보</h3>
        <ul class="addressform2">
            <li>
                <dl>
                    <dt>주문하시는 분</dt>
                    <dd>홍길동</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>주소</dt>
                    <dd>
                        135 -123<br />
                        서울시 마포구 서강대길 3-245<br />
                        서강빌딩 6층
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>집전화번호</dt>
                    <dd>
                        02) 887-8586
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>휴대번호</dt>
                    <dd>
                        010-887-8564
                    </dd>
                </dl>
            </li>
            <li class="bbnone">
                <dl>
                    <dt>이메일</dt>
                    <dd>
                        aboutme@naver.com
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <!-- //주문자정보 -->
    <!-- 배송지정보 -->
    <div class="boxtypec">
        <div class="por">
            <h3>배송지 정보</h3>
        </div>

        <ul class="addressform2">
            <li>
                <dl>
                    <dt>받으시는 분</dt>
                    <dd>홍길동</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>주소</dt>
                    <dd>
                        135 -123<br />
                        서울시 마포구 서강대길 3-245<br />
                        서강빌딩 6층
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>집전화번호</dt>
                    <dd>
                        02) 887-8586
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>휴대번호</dt>
                    <dd>
                        010-887-8564
                    </dd>
                </dl>
            </li>
            <li class="bbnone">
                <dl>
                    <dt>배송시 요청사항<br /><span>(0자/100자)</span></dt>
                    <dd>
                        경비실에 맡겨주세요
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <!-- //배송지정보 -->
    <!-- 결제정보 -->
    <div class="boxtypec payinfo">
        <h3>결제정보</h3>
        <div class="wrap">
            <dl>
                <dt>주문번호</dt>
                <dd>1200215345</dd>
            </dl>
            <dl>
                <dt>결제수단</dt>
                <dd>신용카드 (3개월 할부)</dd>
            </dl>
            <dl>
                <dt>승인번호</dt>
                <dd>2200215345</dd>
            </dl>
        </div>
    </div>
    <!-- //결제정보 -->
    <!-- 배송안내 -->
    <div class="boxtypec odercon">
        <h3>배송안내</h3>
        <p class="tit">배송사</p>
        <p class="contxt">한진택배 <i class="tel"></i>1588-0011</p>
        <p class="tit">배송비</p>
        <p class="contxt">2500원 <span>(단, 제주도 및 도서산간지역은 추가 운임료 발생)</span> </p>
        <p class="tit">배송기간</p>
        <p class="contxt">
            입금완료 확인 후 2-5일 이내에 배송됩니다.(단, 제주도 및 도서산
            간지역은 추가기간 발생)고객님의 연락두절 및 부재 등으로
            인하여 반송된 경우에는 왕복 택배비가 부과 됩니다.
            연락처 및 주소를 정확히 기입해 주시기 바랍니다.
        </p>
        <p class="tit">배송 전 취소 및 변경 </p>
        <p class="contxt">
            게시판 또는 웹상에서 접수하신 경우 처리가 지연.(누락)될 수
            있사오니, 신속한 처리를 위하여 고객센터로 문의 부탁드립니다.<br />
            <span class="fcblue">*</span> 단, 오후 2시 이후 상품취소 및 옵션변경 불가
        </p>
    </div>
    <!-- //배송안내 -->
    <!-- 주문 취소/ 교환/ 반품 안내 -->
    <div class="boxtypec odercon pb30">
        <h3>주문 취소 / 교환 / 반품 안내</h3>
        <p class="contxt mt20">
            교환 및 반품은 물품 수령 후 <strong>7일 이내</strong>에 접수(전화 및 게시판)
            후 당사에 입고된 상품에 한하여 처리됩니다.
            시일이 지난 상품에 대해서는 처리가 되지 않습니다.
            (물품훼손/ 빈 포장폐기 및 물품가치를 상실할 경우에는
            불가합니다.) 교환 및 반품 신청 시에는 <strong>해당구매 사이트</strong>를
            통하여 해주시길 바랍니다. 신청하지 않고 임의 발송하신 경우
            처리가 지연될 수 있습니다.(상품을 보내실 때 발송 시 동봉
            되었던 교환/반품 요청서를 작성하여 함께 보내주시면 신속
            하고 원활한 처리가 이루어집니다.)
        </p>
        <p class="tit">불량 및 오배송 등으로 인한 교환</p>
        <p class="contxt">
            맞교환은 불가하며 교환 상품이 물류센터에 도착하여 상품
            확인 후 처리가 가능합니다. 왕복운송료는 모두 ㈜삼양제넥스
            에서 부담합니다. 단, 동일상품이 아닌 다른 칼라나 사이즈
            등으로 교환 원하시는 경우에는 고객 변심으로 처리됩니다.<br />
            (교환택배 구매자 부담)
        </p>
        <p class="tit">
            교환 및 반품이 불가한 상품
        </p>
        <p class="contxt">
            0000000내용 아직 없음 자리만 만들어주면 됨00000
        </p>
        <p class="tit">교환 및 반품 배송비 결제시</p>
        <p class="contxt">
            무료배송 상품, 단순교환일 경우 5000원(동봉 또는 계좌)을
            지불하셔야 합니다. 선결제, 착불, 단순 반품 및 교환일 경우
            모두 5000원을 지불하셔야 하며, 선결제 배송비는 상품금액<br />
            + 배송료 모두 함께 환불됩니다.
        </p>
        <p class="tit">교환 및 반품 배송비 계좌</p>
        <p class="contxt">
            교환 및 반품 배송비는 아래 계좌로 입금해 주십시오.
            은행명 : 00은행 / 계좌번호 000-000-00000 예금주 0000<br />
            (동봉시 분실 및 분쟁의 소지가 있사오니 가급적 계좌로 입금
            부탁 드립니다.)
        </p>
    </div>
    <!-- 주문 취소/ 교환/ 반품 안내 -->
</div>
<!--//container-->
