
@{
    Layout = null;
}
 <!--event_banner : 이벤트 상세페이지로 이동-->
<div class="event_banner">
    <ul class="slide">
        <li><a href="#"><img src="/aboutCom/images/sample/detailevent_ban_760152.jpg" alt="" /></a></li>
        <li><a href="#"><img src="/aboutCom/images/sample/detailevent_ban_760152.jpg" alt="" /></a></li>
        <li><a href="#"><img src="/aboutCom/images/sample/detailevent_ban_760152.jpg" alt="" /></a></li>
        <!-- <li style="background:red">1</li>
        <li style="background:blue">2</li>
        <li style="background:#ccc">3</li> -->

    </ul>
    <ul class="nav"></ul>
</div>
 <!--//event_banner : 이벤트 상세페이지로 이동-->