
@{
    Layout = null;
}

<!--오른쪽영역 : 상품상세의 right 프로모션-->
<div class="promotion">
    <ul>
        <li>
            <a href="#">
                <img src="/aboutCom/images/sample/thum_270_pro1.jpg" alt="" />
                <span class="date"><em>2015.09.01</em>~<em>2015.09.05</em></span>
                <strong>효린의 파우치 속 그 아이템</strong>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/aboutCom/images/sample/thum_270_pro2.jpg" alt="" />
                <span class="date"><em>2015.09.01</em>~<em>2015.09.05</em></span>
                <strong>효린의 파우치 속 그 아이템</strong>
            </a>
        </li>
    </ul>
</div>
<!--오른쪽영역 : 상품상세의 right 프로모션-->