@model AboutMe.Domain.Entity.Display.BaseDisplayerViewModel
@using AboutMe.Web.Mobile.Controllers
@{
    Layout = null;

    var myController = ViewContext.Controller as ChildActionDisplayerController;
}
<div class="bnr_area">

    @foreach (var item in Model.List)
    {
        <div class="bnr"><a href="@item.URL"><img src="@(string.Format("{0}{1}", myController._img_path_display, item.IMG))" alt="" /></a></div>
    }

</div>
