@model AboutMe.Domain.Entity.Display.BaseDisplayerViewModel
@using AboutMe.Web.Mobile.Controllers
@{
    Layout = null;

    var myController = ViewContext.Controller as ChildActionDisplayerController;
}
<div class="month_banner">
    <img src="@(string.Format("{0}{1}", myController._img_path_display, Model.One.IMG))" alt="" />
</div>