@model AboutMe.Domain.Entity.Display.BaseDisplayerViewModel
@using AboutMe.Web.Mobile.Controllers
@{
    Layout = null;

    var myController = ViewContext.Controller as ChildActionDisplayerController;
}

@if (!String.IsNullOrEmpty(@Model.One.IMG))
{
    <a href="@Model.One.URL" class="bnr">
        <img src="@Model.One.IMG" alt="">
    </a>

}
