@model AboutMe.Domain.Entity.Winner.WINNER_INDEX
@{
    ViewBag.Title = "당첨자발표 - ABOUT ME";
    ViewBag.TopClass = "notice";
    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";
}

@section Scripts {
    <link href="/aboutCom/css/customer.css" rel="stylesheet" />
}
<!--container-->
<div id="container">
    <div class="container1080">
        <!-- cs_top -->
        <div class="cs_top">
            <!-- h2_area -->
            @{
                ViewBag.MenuTitle = "당첨자발표";
                ViewBag.MenuGbn = "winner";
                Html.RenderPartial("~/Views/AboutMePartial/_CustomerSubMenu.cshtml");
            }
        </div>
        <!-- //cs_top -->
        <!-- prizewinner_list -->
        <div class="board_list tabletypeb mt40">
            <table summary="번호, 제목, 등록일">
                <caption>공지사항 표</caption>
                <colgroup>
                    <col width="95" />
                    <col width="*" />
                    <col width="160" />
                </colgroup>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>등록일</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.WinnerList)
                    {
                        <tr>
                            <td>@item.IDX</td>
                            <td class="tit"><a href="/Customer/WinnerView?IDX=@item.IDX">@item.TITLE</a></td>
                            <td>@item.REG_DATE.ToString().Substring(0,10)</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <!-- //prizewinner_list -->
        <!-- paging -->
        @{
            Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = Model.WinnerCount, RecordPerPage = Model.SearchParam.PageSize, PagePerBlock = 10, CurrentPage = Model.SearchParam.Page, QueryStr = "" });
        }
        <!-- //paging -->
    </div>
</div>
<!--//container-->
