@model List<AboutMe.Domain.Entity.Product.SP_CATEGORY_DEPTH_SEL_Result>
@{
    Layout = null;
}

<li class="slidetype on">
    <a href="#">쇼핑</a>
    <div class="depth2">
        <div class="fl">
            <p class="tit"><a href="#">뷰티</a></p>
            <ul>
                @foreach (var item in ViewData["category1"] as List<AboutMe.Domain.Entity.Product.SP_CATEGORY_DEPTH_SEL_Result>)
                {
                    <li><a href="/shopping/Index?p_cate_code=@item.CATE_CODE&DEPTH_NAME3=@item.DEPTH2_NAME">@item.DEPTH2_NAME</a></li>
                }
                @*<li><a href="#">스킨케어</a></li>
                <li><a href="#">팩/마스트</a></li>
                <li><a href="#">선케어</a></li>
                <li><a href="#">클렌징</a></li>
                <li><a href="#">바디/핸드</a></li>
                <li><a href="#">베이스메이크업</a></li>
                <li><a href="#">옴므</a></li>
                <li><a href="#">뷰티툴</a></li>*@
            </ul>
        </div>
        <div class="fl">
            <p class="tit"><a href="#">헬스</a></p>
            <ul>
                @foreach (var item in ViewData["category2"] as List<AboutMe.Domain.Entity.Product.SP_CATEGORY_DEPTH_SEL_Result>)
                {
                    <li><a href="/shopping/Index?p_cate_code=@item.CATE_CODE&DEPTH_NAME3=@item.DEPTH2_NAME">@item.DEPTH2_NAME</a></li>
                }
                @*<li><a href="#">스킨케어</a></li>
                <li><a href="#">뉴트리선케어</a></li>
                <li><a href="#">웨이트케어</a></li>*@
            </ul>
            <p class="tit"><a href="#">기타브랜드</a></p>
            <ul>
                @foreach (var item in ViewData["category3"] as List<AboutMe.Domain.Entity.Product.SP_CATEGORY_DEPTH_SEL_Result>)
                {
                    <li><a href="/shopping/Index?p_cate_code=@item.CATE_CODE&DEPTH_NAME3=@item.DEPTH2_NAME">@item.DEPTH2_NAME</a></li>
                }
                @*<li><a href="#">엘라바쉐</a></li>
                <li><a href="#">엘라바쉐</a></li>
                <li><a href="#">엘라바쉐</a></li>*@
            </ul>
        </div>
    </div>
</li>


