<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <br>
    메일 스킨 001
    <br>
    이름:$$NAME$$
    <br>
    title:$$SUBJECT$$
    <br>
    <table border="1" width="500">
        <tr>
            <td>hi</td>
            <td>hello</td>
        </tr>
        <tr>
            <td>hi</td>
            <td>hello</td>
        </tr>
    </table>
    <br>
    <img src="http://file.thisisgame.com/upload/tboard/user/2014/07/02/20140702182309_8839.jpg" width="500" />

</body>
</html>