<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-AboutMe.Web.Admin-20150526075212.mdf;Initial Catalog=aspnet-AboutMe.Web.Admin-20150526075212;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AdminEtcEntities" connectionString="metadata=res://*/Entity.AdminEtc.ModelAdminEtc.csdl|res://*/Entity.AdminEtc.ModelAdminEtc.ssdl|res://*/Entity.AdminEtc.ModelAdminEtc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminProductEntities" connectionString="metadata=res://*/Entity.AdminProduct.ModelAdminProduct.csdl|res://*/Entity.AdminProduct.ModelAdminProduct.ssdl|res://*/Entity.AdminProduct.ModelAdminProduct.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=sa;password=zhsjtmxhs123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminFrontMemberEntities" connectionString="metadata=res://*/Entity.AdminFrontMember.ModelAdminFrontMember.csdl|res://*/Entity.AdminFrontMember.ModelAdminFrontMember.ssdl|res://*/Entity.AdminFrontMember.ModelAdminFrontMember.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FaqEntities" connectionString="metadata=res://*/Entity.Faq.ModelFaq.csdl|res://*/Entity.Faq.ModelFaq.ssdl|res://*/Entity.Faq.ModelFaq.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NoticeEntities" connectionString="metadata=res://*/Entity.Notice.ModelNotice.csdl|res://*/Entity.Notice.ModelNotice.ssdl|res://*/Entity.Notice.ModelNotice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
    <add name="AdminPointEntities" connectionString="metadata=res://*/Entity.AdminPoint.ModelAdminPoint.csdl|res://*/Entity.AdminPoint.ModelAdminPoint.ssdl|res://*/Entity.AdminPoint.ModelAdminPoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminPromotion3Entities" connectionString="metadata=res://*/Entity.AdminPromotion.ModelAdminPromotion.csdl|res://*/Entity.AdminPromotion.ModelAdminPromotion.ssdl|res://*/Entity.AdminPromotion.ModelAdminPromotion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminCouponEntities" connectionString="metadata=res://*/Entity.AdminCoupon.ModelAdminCoupon.csdl|res://*/Entity.AdminCoupon.ModelAdminCoupon.ssdl|res://*/Entity.AdminCoupon.ModelAdminCoupon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminOrderEntities" connectionString="metadata=res://*/Entity.AdminOrder.ModelAdminOrder.csdl|res://*/Entity.AdminOrder.ModelAdminOrder.ssdl|res://*/Entity.AdminOrder.ModelAdminOrder.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=sa;password=zhsjtmxhs123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OrderEntities" connectionString="metadata=res://*/Entity.Order.ModelOrder.csdl|res://*/Entity.Order.ModelOrder.ssdl|res://*/Entity.Order.ModelOrder.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- for AboutMe Settings [start]-->
    <add key="PhotoBasePath" value="/Upload/" />
    <add key="ProductPhotoPath" value="/Upload/Product/" />
    <add key="AES256_KEY" value="abcdefghijklmnopqrstuvwxyz123456" />

    <add key="HTTP_PROTOCOL" value="http://" />
    <add key="HTTPS_PROTOCOL" value="http://" />  <!-- ssl적용시 :  https://-->

    <add key="MAIL_SENDER_EMAIL" value="noreply@cstone.co.kr" />
    <!--EMAIL발송자 계정:회원가입축하메일,주문완료메일 등..-->
    <add key="MAIL_SENDER_PW" value="cstonedev12" />
    <!--EMAIL발송자 암호-->
    <add key="MAIL_SENDER_SMTP_SERVER" value="smtp.gmail.com" />
    <!--smtp서버-->
    <add key="MAIL_SENDER_SMTP_PORT" value="587" />
    <!--smtp서버 port-->
    <add key="MAIL_SENDER_SMTP_TIMEOUT" value="20000" />
    <!--smtp서버 timeout-->



  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <!-- Maximum request length exceeded. 추가 hsw 2015.06.17-->
    <httpRuntime targetFramework="4.5" executionTimeout="240" maxRequestLength="20480" />

  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <!-- Maximum request length exceeded. 추가 hsw 2015.06.17
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  
  
</configuration>