@model AboutMe.Domain.Entity.Review.ReviewProductListViewModel
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/review.css" rel="stylesheet" />
}

<!--header-->
@section Header{
}
<!--//header-->


@section Scripts{
    <script language="javascript">

    </script>
}

@section Body{
<div class="wrap review">
    @{Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
        
    <!--container-->
    <div class="container pro">
        <div class="h2_area">
            <a href="#" class="historyback"><img src="/aboutCom/images/common/btn_historyback.gif" alt="뒤로가기" /></a>
            <h2>상품리뷰</h2>
        </div>
        <!-- 리뷰 목록 -->
        <!-- 항목 선택 -->
        <ul class="tabs tabtypee">
            <li class="cnt"><a href="#beauty">뷰티</a></li>
            <li><a href="#health">헬스</a></li>
            <li><a href="#selshop">셀렉샵</a></li>
            <li><a href="#theme">테마</a></li>
        </ul>
        <!-- //항목 선택 -->
        <!-- 뷰티 -->
        <div id="beauty" class="tab_content" style="display:block">
            <h3>뷰티</h3>
            <div class="sub_top">
                <form action="">
                    <fieldset>
                        <legend>뷰티상세 선택</legend>
                        <span class="selbox select_a">
                            <select title="세부항목 선택">
                                <option value="0">전체</option>
                                <option value="1">수분/보습</option>
                                <option value="2">탄력/주름</option>
                                <option value="3">브라이트닝</option>
                                <option value="4">화이트닝</option>
                                <option value="5">안티에이징</option>
                                <option value="6">모공/트러블</option>
                                <option value="7">생기/활력</option>
                                <option value="8">선케어</option>
                                <option value="9">남성</option>
                            </select>
                        </span><!--
                     --><span class="selbox select_a">
                            <select title="정렬">
                                <option value="0">포토리뷰순</option>
                                <option value="1">최신순</option>
                            </select>
                        </span>
                    </fieldset>
                </form>
                <span class="information">리뷰 등록하면 <strong>500P</strong>,<br /> 포토리뷰는 <strong>1000P</strong> 바로 적립!</span>
                <p class="count">총 <strong>54</strong>개 상품이 있습니다.</p>
            </div>
            <ul class="review_list">
                <!-- [Desc] Best 상품평은 li에 best클래스를 추가 -->
                <li class="product_info best">
                    <div class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="tit">굿 나이트 모이스처 앰플</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </div>
                    <div class="review_info">
                        <div class="rinfo_top">
                            <!--
                                type class
                                건성 : dry
                                중성 : normal
                                지성 : oily
                            -->
                            <p class="winfo"><span class="type dry"></span><span class="age">40대, 여</span><strong class="id">KKON***</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">마지막 단계에서 앰플 바르니까 촉촉해요, 겉돌지 않고 피부 속까지 꽉 채워주는 느낌!특히 자기전에 바르고 아침에 아주 좋은 피부를 경험하게 된네요</p>
                            <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                            <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                            <div class="morebox">
                                <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                <span class="photo_review"><i></i>포토리뷰</span>
                                <a href="#none" class="btn_more"><i></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product_info">
                    <div class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="tit">굿 나이트 모이스처 앰플</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </div>
                    <div class="review_info">
                        <div class="rinfo_top">
                            <!--
                                type class
                                건성 : dry
                                중성 : normal
                                지성 : oily
                            -->
                            <p class="winfo"><span class="type oily"></span><span class="age">40대, 여</span><strong class="id">KKON***</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">마지막 단계에서 앰플 바르니까 촉촉해요, 겉돌지 않고 피부 속까지 꽉 채워주는 느낌!특히 자기전에 바르고 아침에 아주 좋은 피부를 경험하게 된네요</p>
                            <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                            <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                            <div class="morebox">
                                <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                <span class="photo_review"><i></i>포토리뷰</span>
                                <a href="#none" class="btn_more"><i></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product_info">
                    <div class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="tit">굿 나이트 모이스처 앰플</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </div>
                    <div class="review_info">
                        <div class="rinfo_top">
                            <!--
                                type class
                                건성 : dry
                                중성 : normal
                                지성 : oily
                            -->
                            <p class="winfo"><span class="type dry"></span><span class="age">40대, 여</span><strong class="id">KKON***</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">마지막 단계에서 앰플 바르니까 촉촉해요, 겉돌지 않고 피부 속까지 꽉 채워주는 느낌!특히 자기전에 바르고 아침에 아주 좋은 피부를 경험하게 된네요</p>
                            <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                            <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                            <div class="morebox">
                                <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                <span class="photo_review"><i></i>포토리뷰</span>
                                <a href="#none" class="btn_more"><i></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <!--페이징-->
            <div class="paging">
                <a href="#" class="prev"></a>
                <strong>1</strong> / 50
                <a href="#" class="next"></a>
            </div>
            <!--//페이징-->
        </div>
        <!-- //뷰티 -->
        <!-- 헬스 -->
        <div id="health" class="tab_content">
            <h3>헬스</h3>
            <div class="sub_top">
                <p class="information">리뷰 등록하면 <strong>500P</strong>,<br /> 포토리뷰는 <strong>1000P</strong> 바로 적립!</p>
                <p class="count">총 <strong>54</strong>개 상품이 있습니다.</p>
            </div>
            <ul class="review_list">
                <!-- [Desc] Best 상품평은 li에 best클래스를 추가 -->
                <li class="product_info best">
                    <div class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="tit">굿 나이트 모이스처 앰플</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </div>
                    <div class="review_info">
                        <div class="rinfo_top">
                            <!--
                                type class
                                건성 : dry
                                중성 : normal
                                지성 : oily
                            -->
                            <p class="winfo"><span class="type dry"></span><span class="age">40대, 여</span><strong class="id">KKON***</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">마지막 단계에서 앰플 바르니까 촉촉해요, 겉돌지 않고 피부 속까지 꽉 채워주는 느낌!특히 자기전에 바르고 아침에 아주 좋은 피부를 경험하게 된네요</p>
                            <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                            <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                            <div class="morebox">
                                <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                <span class="photo_review"><i></i>포토리뷰</span>
                                <a href="#none" class="btn_more"><i></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product_info">
                    <div class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="tit">굿 나이트 모이스처 앰플</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </div>
                    <div class="review_info">
                        <div class="rinfo_top">
                            <!--
                                type class
                                건성 : dry
                                중성 : normal
                                지성 : oily
                            -->
                            <p class="winfo"><span class="type normal"></span><span class="age">40대, 여</span><strong class="id">KKON***</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">마지막 단계에서 앰플 바르니까 촉촉해요, 겉돌지 않고 피부 속까지 꽉 채워주는 느낌!특히 자기전에 바르고 아침에 아주 좋은 피부를 경험하게 된네요</p>
                            <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                            <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                            <div class="morebox">
                                <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                <span class="photo_review"><i></i>포토리뷰</span>
                                <a href="#none" class="btn_more"><i></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product_info">
                    <div class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="tit">굿 나이트 모이스처 앰플</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </div>
                    <div class="review_info">
                        <div class="rinfo_top">
                            <!--
                                type class
                                건성 : dry
                                중성 : normal
                                지성 : oily
                            -->
                            <p class="winfo"><span class="type oily"></span><span class="age">40대, 여</span><strong class="id">KKON***</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">마지막 단계에서 앰플 바르니까 촉촉해요, 겉돌지 않고 피부 속까지 꽉 채워주는 느낌!특히 자기전에 바르고 아침에 아주 좋은 피부를 경험하게 된네요</p>
                            <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                            <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                            <div class="morebox">
                                <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                <span class="photo_review"><i></i>포토리뷰</span>
                                <a href="#none" class="btn_more"><i></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <!--페이징-->
            <div class="paging">
                <a href="#" class="prev"></a>
                <strong>1</strong> / 50
                <a href="#" class="next"></a>
            </div>
            <!--//페이징-->
        </div>
        <!-- //헬스 -->
        <!-- 셀렉샵 -->
        <div id="selshop" class="tab_content">
            <h3>셀렉샵</h3>
            <div class="sub_top">
                <form action="">
                    <fieldset>
                        <legend>셀렉샵상세 선택</legend>
                        <span class="selbox select_a">
                            <select title="세부항목 선택">
                                <option value="0">전체</option>
                                <option value="1">엘라바쉐</option>
                                <option value="2">립스메이커</option>
                                <option value="3">페탈프레쉬</option>
                                <option value="4">베이비가닉스</option>
                                <option value="5">피그콜라겐</option>
                                <option value="6">뷰크로스</option>
                                <option value="7">키스 에버레스트</option>
                                <option value="8">기타</option>
                            </select>
                        </span>
                        <!--
                        -->
                        <span class="selbox select_a">
                            <select title="정렬">
                                <option value="0">포토리뷰순</option>
                                <option value="1">최신순</option>
                            </select>
                        </span>
                    </fieldset>
                </form>
                <p class="information">리뷰 등록하면 <strong>500P</strong>,<br /> 포토리뷰는 <strong>1000P</strong> 바로 적립!</p>
                <p class="count">총 <strong>54</strong>개 상품이 있습니다.</p>
            </div>
            <ul class="review_list">
                <!-- [Desc] Best 상품평은 li에 best클래스를 추가 -->
                <li class="product_info best">
                    <div class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="tit">굿 나이트 모이스처 앰플</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </div>
                    <div class="review_info">
                        <div class="rinfo_top">
                            <!--
                                type class
                                건성 : dry
                                중성 : normal
                                지성 : oily
                            -->
                            <p class="winfo"><span class="type dry"></span><span class="age">40대, 여</span><strong class="id">KKON***</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">마지막 단계에서 앰플 바르니까 촉촉해요, 겉돌지 않고 피부 속까지 꽉 채워주는 느낌!특히 자기전에 바르고 아침에 아주 좋은 피부를 경험하게 된네요</p>
                            <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                            <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                            <div class="morebox">
                                <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                <span class="photo_review"><i></i>포토리뷰</span>
                                <a href="#none" class="btn_more"><i></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product_info">
                    <div class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="tit">굿 나이트 모이스처 앰플</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </div>
                    <div class="review_info">
                        <div class="rinfo_top">
                            <!--
                                type class
                                건성 : dry
                                중성 : normal
                                지성 : oily
                            -->
                            <p class="winfo"><span class="type oily"></span><span class="age">40대, 여</span><strong class="id">KKON***</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">마지막 단계에서 앰플 바르니까 촉촉해요, 겉돌지 않고 피부 속까지 꽉 채워주는 느낌!특히 자기전에 바르고 아침에 아주 좋은 피부를 경험하게 된네요</p>
                            <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                            <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                            <div class="morebox">
                                <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                <span class="photo_review"><i></i>포토리뷰</span>
                                <a href="#none" class="btn_more"><i></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product_info">
                    <div class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="tit">굿 나이트 모이스처 앰플</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </div>
                    <div class="review_info">
                        <div class="rinfo_top">
                            <!--
                                type class
                                건성 : dry
                                중성 : normal
                                지성 : oily
                            -->
                            <p class="winfo"><span class="type dry"></span><span class="age">40대, 여</span><strong class="id">KKON***</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">마지막 단계에서 앰플 바르니까 촉촉해요, 겉돌지 않고 피부 속까지 꽉 채워주는 느낌!특히 자기전에 바르고 아침에 아주 좋은 피부를 경험하게 된네요</p>
                            <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                            <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                            <div class="morebox">
                                <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                <span class="photo_review"><i></i>포토리뷰</span>
                                <a href="#none" class="btn_more"><i></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <!--페이징-->
            <div class="paging">
                <a href="#" class="prev"></a>
                <strong>1</strong> / 50
                <a href="#" class="next"></a>
            </div>
            <!--//페이징-->
        </div>
        <!-- //셀렉샵 -->
        <!-- 테마 -->
        <div id="theme" class="tab_content">
            <h3>테마</h3>
            <div class="sub_top">
                <form action="">
                    <fieldset>
                        <legend>테마상세 선택</legend>
                        <span class="selbox select_a">
                            <select title="세부항목 선택">
                                <option value="0">전체</option>
                                <option value="1">테마1</option>
                                <option value="2">테마2</option>
                                <option value="3">테마3</option>
                            </select>
                        </span>
                        <!--
                        -->
                        <span class="selbox select_a">
                            <select title="정렬">
                                <option value="0">포토리뷰순</option>
                                <option value="1">최신순</option>
                            </select>
                        </span>
                    </fieldset>
                </form>
                <p class="information">리뷰 등록하면 <strong>500P</strong>,<br /> 포토리뷰는 <strong>1000P</strong> 바로 적립!</p>
                <p class="count">총 <strong>54</strong>개 상품이 있습니다.</p>
            </div>
            <ul class="review_list">
                <!-- [Desc] Best 상품평은 li에 best클래스를 추가 -->
                <li class="product_info best">
                    <div class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="tit">굿 나이트 모이스처 앰플</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </div>
                    <div class="review_info">
                        <div class="rinfo_top">
                            <!--
                                type class
                                건성 : dry
                                중성 : normal
                                지성 : oily
                            -->
                            <p class="winfo"><span class="type oily"></span><span class="age">40대, 여</span><strong class="id">KKON***</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">마지막 단계에서 앰플 바르니까 촉촉해요, 겉돌지 않고 피부 속까지 꽉 채워주는 느낌!특히 자기전에 바르고 아침에 아주 좋은 피부를 경험하게 된네요</p>
                            <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                            <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                            <div class="morebox">
                                <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                <span class="photo_review"><i></i>포토리뷰</span>
                                <a href="#none" class="btn_more"><i></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product_info">
                    <div class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="tit">굿 나이트 모이스처 앰플</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </div>
                    <div class="review_info">
                        <div class="rinfo_top">
                            <!--
                                type class
                                건성 : dry
                                중성 : normal
                                지성 : oily
                            -->
                            <p class="winfo"><span class="type oily"></span><span class="age">40대, 여</span><strong class="id">KKON***</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">마지막 단계에서 앰플 바르니까 촉촉해요, 겉돌지 않고 피부 속까지 꽉 채워주는 느낌!특히 자기전에 바르고 아침에 아주 좋은 피부를 경험하게 된네요</p>
                            <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                            <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                            <div class="morebox">
                                <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                <span class="photo_review"><i></i>포토리뷰</span>
                                <a href="#none" class="btn_more"><i></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product_info">
                    <div class="photo_info">
                        <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                        <div class="detail">
                            <span class="tit">굿 나이트 모이스처 앰플</span>
                            <span class="price"><del>4,800원</del>4,000원</span>
                        </div>
                    </div>
                    <div class="review_info">
                        <div class="rinfo_top">
                            <!--
                                type class
                                건성 : dry
                                중성 : normal
                                지성 : oily
                            -->
                            <p class="winfo"><span class="type normal"></span><span class="age">40대, 여</span><strong class="id">KKON***</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">마지막 단계에서 앰플 바르니까 촉촉해요, 겉돌지 않고 피부 속까지 꽉 채워주는 느낌!특히 자기전에 바르고 아침에 아주 좋은 피부를 경험하게 된네요</p>
                            <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                            <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                            <div class="morebox">
                                <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                <span class="photo_review"><i></i>포토리뷰</span>
                                <a href="#none" class="btn_more"><i></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <!--페이징-->
            <div class="paging">
                <a href="#" class="prev"></a>
                <strong>1</strong> / 50
                <a href="#" class="next"></a>
            </div>
            <!--//페이징-->
        </div>
        <!-- //테마 -->
        <!-- 리뷰 목록 -->
    </div>
    <!--//container-->

    @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
</div>
}


<!--footer-->
@section Footer{
}
<!--//footer-->
