<div class="footer">
    <div class="tel_area">
        <a href="tel:080.740.7983" class="tel"><img src="/aboutCom/images/common/f_tel.gif" alt="080.740.7983" /></a>
        <span class="txt">
            평일 오전 10시 - 12시<br />
            오후 2시 - 5시(토,일,공휴일 휴무)
        </span>
    </div>
    <div class="address">
        <dl>
            <dt>(주) 삼양제넥스</dt>
            <dd>서울특별시 종로구 연지동 263<br />사업자 등록 번호 : 208-81-07718 / 대표이사: 문성환</dd>
        </dl>
        <dl>
            <dt>K&B 인터내셔널</dt>
            <dd>
                K&B 인터내셔널 : 서울 성북구 장위로 179-1 4층/지층<br />
                사업자 등록 번호 : 209-05-46457 / 대표이사 : 차병석<br />
                통신판매업 신고 번호 : 제성북 2006-476호<br />
                건강식품판매 신고 번호 : 제성북 1249호
            </dd>
        </dl>
    </div>
    <div class="f_link">
        <ul>
            <li><a href="#">회사소개</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보취급방침</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>
    </div>
    <div class="copy">
        <img src="/aboutCom/images/common/f_copy.gif" alt="" />
    </div>
    <div class="f_bottom">
        <a href="#previous" class="historyback"><img src="/aboutCom/images/common/historyback.gif" alt="이전" /></a>
        <a href="#top" class="documtop"><img src="/aboutCom/images/common/documtop.gif" alt="top" /></a>
    </div>
</div>