<div id="footer">
    <div id="footer_inner">
        <div class="f_logo"><img src="/aboutCom/images/common/f_logo.gif" alt="ABOUT ME" /></div>
        <!--f_info-->
        <div class="f_info">
            <ul class="f_link">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보취급방침</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
            <p class="adress"><img src="/aboutCom/images/common/f_address.gif" alt="(주) 삼양제넥스 : 서울특별시 종로구 연지동 263 / 사업자 등록 번호 : 208-81-07718 / 대표이사: 문성환K&amp;B 인터내셔널 : 서울 성북구 장위로 179-1 4층/지층 / 사업자 등록 번호 : 209-05-46457 / 대표이사 : 차병석 통신판매업 신고 번호 : 제성북 2006-476호 / 건강식품판매 신고 번호 : 제성북 1249호" /></p>
            <p class="copy"><img src="/aboutCom/images/common/f_copy.gif" alt="COPYRIGHT 2015 BY SAMYANG GENEX CORPORATION ALL RIGHTS RESERVED." /></p>
        </div>
        <!--//f_info-->
        <div class="f_payicon">
            <img src="/aboutCom/images/common/f_payico.gif" alt="" />
        </div>
    </div>
</div> 