<div id="footer">
    <div id="footer_inner">
        <div class="f_logo"><img src="/aboutCom/images/common/f_logo.gif" alt="ABOUT ME" /></div>
        <!--f_info-->
        <div class="f_info">
            <ul class="f_link">
                <li><a href="http://www.genex.co.kr/" target="_blank">회사소개</a></li>
                <li><a href="javascript:PopupCenter('/Etc/Agreement', '', '760', '600');">이용약관</a></li>
                <li><a href="javascript:PopupCenter('/Etc/Privacy', '', '760', '600');"><strong>개인정보취급방침</strong></a></li>
                <li><a href="/Customer">고객센터</a></li>
                <li class="staff"><a href="javascript:PopupCenter('/MyPage/StaffRequest_PreStep', '', '460', '544');">임직원인증신청</a></li>
            </ul>
            <p class="address"><img src="/aboutCom/images/common/f_address.gif" alt="(주) 삼양제넥스 : 서울특별시 종로구 연지동 263 / 사업자 등록 번호 : 208-81-07718 / 대표이사: 문성환" /></p>
            <p class="copy"><img src="/aboutCom/images/common/f_copy.gif" alt="COPYRIGHT 2015 BY SAMYANG GENEX CORPORATION ALL RIGHTS RESERVED." /></p>
        </div>
        <!--//f_info-->
        <div class="f_payicon">
            <img src="/aboutCom/images/common/f_payico1.gif" alt="" />
            <img src="/aboutCom/images/common/f_payico2.gif" alt="" />
        </div>
    </div>
</div> 
<!-- 공통 적용 스크립트 , 모든 페이지에 노출되도록 설치. 단 전환페이지 설정값보다 항상 하단에 위치해야함 -->
<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"> </script>
<script type="text/javascript">

if (!wcs_add) var wcs_add={};
wcs_add["wa"] = "s_5111ddcf792e";
if (!_nasa) var _nasa={};
wcs.inflow();
wcs_do(_nasa);
</script>
