@using AboutMe.Web.Front.Common;

<!-- SkipNav -->
<div id="skipnavi">
    <a href="#container" title="본문 바로가기">본문 바로가기</a>
</div>
<div id="header">
    <div id="header_inner">
        <h1><a href="/index.asp"><img src="/aboutCom/images/common/h_logo.jpg" alt="ABOUT ME" /></a></h1>
        <!--gnb-->
        <div class="gnb">
            <ul class="depth1">
                <!--브랜드소개-->
                <li>
                    <a href="/aboutme/brand.asp" class="menu dropmenu1"><img src="/aboutCom/images/common/m_brand.gif" class="imgInteractive" alt="브랜드 소개" /></a>
                    <!--2015-07-13브랜드소개-->
                    <div class="depth1_2">
                        <img src="/aboutCom/images/common/bul_detph2.gif" class="bul_detph2" alt="" />
                        <p class="tit">브랜드소개</p>
                        <ul class="list">
                            <li><a href="/aboutme/brand.asp">브랜드 스토리</a></li>
                            <li><a href="/aboutme/magazin.asp">매거진</a></li>
                            <li><a href="/aboutme/store.asp">매장안내</a></li>
                        </ul>
                    </div>
                    <!--//2015-07-13브랜드소개-->
                </li>
                <!--//브랜드소개-->
                <!--쇼핑-->
                <li>
                    <a href="/shopping/Index" class="menu dropmenu2"><img src="/aboutCom/images/common/m_shoping.gif" class="imgInteractive" alt="쇼핑" /></a>
                    <!--depth2-->
                    <div class="depth2">
                        <img src="/aboutCom/images/common/bul_detph2.gif" class="bul_detph2" alt="" />
                        @{Html.RenderAction("HeaderCategoryMenu", "ChildActionProduct");}
                       
                        <!--banner-->
                        <div class="slide_banner">
                            <!--슬라이드배너 260*228-->
                            <div class="gnb_banner moveslider">
                                <ul class="slide moveslidercon">
                                    <li><img src="/aboutCom/images/common/temp_gnbbanner1_260228.jpg" alt="" /></li>
                                    <li><img src="/aboutCom/images/common/temp_gnbbanner1_260228_2.jpg" alt="" /></li>
                                    <li><img src="/aboutCom/images/common/temp_gnbbanner1_260228_3.jpg" alt="" /></li>
                                </ul>
                                <ul class="nav moveslidernav">
                                    <li class="cnt"><a href="javascript:"><img src="/aboutCom/images/common/nav_banner.gif" alt="" /></a></li>
                                    <li><a href="javascript:"><img src="/aboutCom/images/common/nav_banner.gif" alt="" /></a></li>
                                    <li><a href="javascript:"><img src="/aboutCom/images/common/nav_banner.gif" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--//banner-->
                    </div>
                    <!--//depth2-->
                </li>
                <!--//쇼핑-->
                <!--리뷰-->
                <li><a href="/Review" class="menu"><img src="/aboutCom/images/common/m_review.gif" class="imgInteractive" alt="리뷰" /></a></li>
                <!--//리뷰-->
                <!--이벤트-->
                <li><a href="/event//main.asp" class="menu"><img src="/aboutCom/images/common/m_event.gif" class="imgInteractive" alt="이벤트" /></a></li>
                <!--//이벤트-->
                <!--VIP샵-->
                <li><a href="#" class="menu"><img src="/aboutCom/images/common/m_vip.gif" class="imgInteractive" alt="VIP샵" /></a></li>
                <!--//VIP샵-->
            </ul>
        </div>
        <!--gnb-->
        <!--util-->
<!--
        <div class="util">
            <ul>
                <li><a href="/membership/login.asp"><img src="/aboutCom/images/common/util_login.gif" alt="LOGIN" /></a></li>
                <li><a href="/membership/joinstep1.asp"><img src="/aboutCom/images/common/util_joinus.gif" alt="JOIN US" /></a></li>
                <li><a href="/mypage/main.asp"><img src="/aboutCom/images/common/util_mypage.gif" alt="MY PAGE" /></a></li>
            </ul>
        </div>
-->
        <!-- RightTopMenu Util : 로그인/JoinUS | 로그아웃/Mypage-->
        @{Html.RenderAction("ChildRightTopMenu_Util", "CommonChildAction");}
        <!--//util-->

        <div class="h_search">
            <span class="ipt_hearch"><input type="text" id="h_search_keyword" name="h_search_keyword" value="입력하세요" onclick="this.value=''" /><a href="javascript:goSearch();" class="btn_hsearch"><img src="/aboutCom/images/common/btn_search2.gif" alt="" /></a></span>
        </div>
        
        <!--쇼핑백-->
        <div class="cart">
            <a href="#" class="viewcart" onclick="FlyCartLoad(1);">
                <img src="/aboutCom/images/common/h_cart.gif" alt="" />
                <!--몇개 들어갔는지 여기에 들어갑니다-->
                <span class="num" id="flycart_cnt_txt">0</span>
            </a>

            <!--쇼핑백레이어-->
            <div class="lycart" id="flycart_list">
            </div>
            <!--//쇼핑백레이어-->
        </div>
        <!--//쇼핑백-->
        <form name="nowOrderform" method="post">
            <input type="hidden" name="OrderList" value="">
        </form>
    </div>
</div>

<script language="javascript">
    function goSearch() {
        var param = document.getElementById("h_search_keyword").value
        location.href = "/Search/Index?SEARCH_KEWWORD=" + param;
    }

    function FlyCartLoad(page) {
        if (page < 0)
            page = 1;

        $.ajax({
            cache: false,
            type: "POST",
            url: "/Cart/FlyingCart",
            data: "page=" + page,
            success: function (data) {
                $("#flycart_list").empty().html(data);
            },
            complete: function (jqXHR, textStatus) {
            }
        });
    }

    function FlyCartDelete(idx) {
        if (confirm("삭제하시겠습니까?")) {
            var src_url = "/Cart/FlyCartDelete";
            var param = "IDX=" + idx;
            $.ajax({
                cache: false,
                type: "POST",
                url: src_url,
                data: param,
                success: function (data) {
                    FlyCartLoad(1);
                    $("#flycart_cnt_txt").text(data.cart_count);
                },
                complete: function (jqXHR, textStatus) {
                }
            });
        }
    }

    function FlycartClose() {
        $("#header .lycart").hide();
    }


    // 장바구니담기
    function Cart_Product_Input(p_code, p_count) {
        var arrP = new Array;
        var obj = new Object();
        obj.p_code = p_code;
        obj.p_count = p_count;
        arrP.push(obj);
        Cart_Input(arrP);
    }

    // 장바구니담기
    //var arr = [ {"p_code":"1111111", "p_count":"1" }, {"p_code":"1111111", "p_count":"1" }];
    function Cart_Input(arrayOfObjects) {

        var jobj = encodeURIComponent(JSON.stringify(arrayOfObjects));

        var src_url = "/Cart/CartInput";
        var param = "data=" + jobj;

        $.ajax({
            cache: false,
            type: "POST",
            url: src_url,
            data: param,
            success: function (data) {
                if (data.cart_count > -1) {
                    $("#flycart_cnt_txt").text(data.cart_count);
                }

                if (data.result == "true") {
                    //  ow_no("/order/cart_confirm.asp",'cart_confirm', "416","270");
                    if (confirm("장바구니에 담았습니다. 장바구니로 이동하시겠습니까?"))
                    {
                        location.href = "/Cart/";
                    }
                }
                else {
                    if (data.msg != "") {
                        alert(data.msg);
                    }
                }
            },
            complete: function (jqXHR, textStatus) {
            }
        });


    }
    // 장바구니 개수
    function CartCount() {
        var src_url = "/Cart/CartCount";
        //var result = jQuery.parseJSON(getHttpRequest(src_url, 'POST', param));

        $.ajax({
            cache: false,
            type: "POST",
            url: src_url,
            data: "",
            success: function (data) {
                if (data.cart_count > -1) {
                    $("#flycart_cnt_txt").text(data.cart_count);
                }

            },
            complete: function (jqXHR, textStatus) {
            }
        });

    }

    //바로구매 하기 (ToDo)
    function NowOrderInput(p_code, p_count) {
        if (confirm('바로구매하시겠습니까?')) {
            var arrP = new Array;
            var obj = new Object();
            obj.p_code = p_code;
            obj.p_count = p_count;
            arrP.push(obj);

            var jobj = JSON.stringify(arrP);
            var f = document.nowOrderform;
            f.OrderList.value = jobj;
            var islogin = '@MemberInfo.IsMemberLogin()';

            if (islogin == 'True')
            {
                f.action = '/Order/InsertOrderStep1';
            }
            else
            {
                f.action = '/MemberShip/Login';
            }
            f.submit();
        }
    }


    //찜하기
    function Wish_Product_Input(p_code) {
        var arrP = new Array;
        arrP.push(p_code);
        Wish_Input(arrP);
    }

    //찜하기 저장
    function Wish_Input(arrayOfObjects) {

        var jobj = encodeURIComponent(JSON.stringify(arrayOfObjects));

        var src_url = "/Cart/WishInput";
        var param = "data=" + jobj;

        $.ajax({
            cache: false,
            type: "POST",
            url: src_url,
            data: param,
            success: function (data) {
                if (data.wish_count > -1) {
                    // $("#div_QUICK_CART_CNT").text(data.wish_count);
                }

                if (data.result == "true") {
                    alert("찜하였습니다.");
                }
                else {
                    if (data.msg != "") {
                        alert(data.msg);
                    }
                }
            },
            complete: function (jqXHR, textStatus) {
            }
        });
    }

    //찜하기 카운트
    function Wish_Count() {
        var src_url = "/Cart/WishCount";
        var param = "";
        $.ajax({
            cache: false,
            type: "POST",
            url: src_url,
            data: param,
            success: function (data) {
                if (data.wish_count > -1) {
                    // $("#div_QUICK_CART_CNT").text(data.wish_count);
                }
            },
            complete: function (jqXHR, textStatus) {
            }
        });
    }

    //찜하기 삭제
    function Wish_Delete(arrayOfObjects) {

        var jobj = encodeURIComponent(JSON.stringify(arrayOfObjects));

        var src_url = "/Cart/WishDelete";
        var param = "data=" + jobj;

        $.ajax({
            cache: false,
            type: "POST",
            url: src_url,
            data: param,
            success: function (data) {
                if (data.wish_count > -1) {
                    // $("#div_QUICK_CART_CNT").text(data.wish_count);
                }

                if (data.result == "true") {
                    alert("찜을 삭제하였습니다.");
                }
                else {
                    if (data.msg != "") {
                        alert(data.msg);
                    }
                }
            },
            complete: function (jqXHR, textStatus) {
            }
        });
    }

    $(document).ready(function () {
        CartCount();
    });
</script>