@model AboutMe.Web.Front.Models.BaseDisplayerViewModel
@using AboutMe.Web.Front.Controllers
@{
    Layout = null;

    var myController = ViewContext.Controller as ChildActionDisplayerController;
}
 <!--event_banner : 이벤트 상세페이지로 이동-->
<div class="event_banner">
    <ul class="slide">

        @foreach (var item in Model.List)
        {
            <li><a href="@item.URL"><img src="@string.Format("{0}{1}",myController._img_path_display, item.IMG)" alt="" /></a></li>
        }

    </ul>
    <ul class="nav"></ul>
</div>
<!--//event_banner : 이벤트 상세페이지로 이동-->