@model AboutMe.Domain.Entity.Display.BaseDisplayerViewModel
@using AboutMe.Web.Front.Controllers
@{
    Layout = null;

    var myController = ViewContext.Controller as ChildActionDisplayerController;
}
<a href="@Model.One.URL"><img src="@(myController._img_path_display)@(Model.One.IMG)" alt="" /></a>
