@model AboutMe.Domain.Entity.Display.PopupWindowViewModel
@using AboutMe.Web.Front.Controllers
@using AboutMe.Common.Data
@{
    Layout = "~/Views/Shared/_AboutMeLayoutPopup.cshtml";
    var myController = ViewContext.Controller as ChildActionDisplayerController;
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/common.css" rel="stylesheet" />
    <script>

    function gotoPage() {

        @if (Model.Detail.WEB_TARGET == PopupCode.TARGET_SELF)
            {
                @:window.opener.location = "@Model.Detail.WEB_LINK";
                    }
            else
            {
                @:window.opener.open("@Model.Detail.WEB_LINK");
            }


        self.close();
    }
    </script>
}

@section Body{
    <a href="#" onclick="gotoPage();return false;"><img src="@string.Format("{0}{1}", myController._img_path_display, Model.Detail.WEB_IMG)" alt="@Model.Detail.TITLE" /></a>
    <div class="oneday_wrap">
        <label><input id="oneday" type="checkbox"> 오늘 하루 이 창을 열지않음</label>
    </div>
}