@model AboutMe.Domain.Entity.Display.BaseDisplayerViewModel
@using AboutMe.Web.Front.Controllers
@{
    Layout = null;

    var myController = ViewContext.Controller as ChildActionDisplayerController;
}
<div class="weather">
    <a href="@Model.One.URL"><img src="@string.Format("{0}{1}", myController._img_path_display, Model.One.IMG)" alt=""></a>    
</div>
