<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-AboutMe.Web.Admin-20150526075212.mdf;Initial Catalog=aspnet-AboutMe.Web.Admin-20150526075212;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AdminEtcEntities" connectionString="metadata=res://*/Entity.AdminEtc.ModelAdminEtc.csdl|res://*/Entity.AdminEtc.ModelAdminEtc.ssdl|res://*/Entity.AdminEtc.ModelAdminEtc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminProductEntities" connectionString="metadata=res://*/Entity.AdminProduct.ModelAdminProduct.csdl|res://*/Entity.AdminProduct.ModelAdminProduct.ssdl|res://*/Entity.AdminProduct.ModelAdminProduct.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminFrontMemberEntities" connectionString="metadata=res://*/Entity.AdminFrontMember.ModelAdminFrontMember.csdl|res://*/Entity.AdminFrontMember.ModelAdminFrontMember.ssdl|res://*/Entity.AdminFrontMember.ModelAdminFrontMember.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FaqEntities" connectionString="metadata=res://*/Entity.Faq.ModelFaq.csdl|res://*/Entity.Faq.ModelFaq.ssdl|res://*/Entity.Faq.ModelFaq.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NoticeEntities" connectionString="metadata=res://*/Entity.Notice.ModelNotice.csdl|res://*/Entity.Notice.ModelNotice.ssdl|res://*/Entity.Notice.ModelNotice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QnaEntities" connectionString="metadata=res://*/Entity.Qna.QnaModel.csdl|res://*/Entity.Qna.QnaModel.ssdl|res://*/Entity.Qna.QnaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RecallbbsEntities" connectionString="metadata=res://*/Entity.Recallbbs.ModelRecallbbs.csdl|res://*/Entity.Recallbbs.ModelRecallbbs.ssdl|res://*/Entity.Recallbbs.ModelRecallbbs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminPointEntities" connectionString="metadata=res://*/Entity.AdminPoint.ModelAdminPoint.csdl|res://*/Entity.AdminPoint.ModelAdminPoint.ssdl|res://*/Entity.AdminPoint.ModelAdminPoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminPromotion3Entities" connectionString="metadata=res://*/Entity.AdminPromotion.ModelAdminPromotion.csdl|res://*/Entity.AdminPromotion.ModelAdminPromotion.ssdl|res://*/Entity.AdminPromotion.ModelAdminPromotion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminCouponEntities" connectionString="metadata=res://*/Entity.AdminCoupon.ModelAdminCoupon.csdl|res://*/Entity.AdminCoupon.ModelAdminCoupon.ssdl|res://*/Entity.AdminCoupon.ModelAdminCoupon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminOrderEntities" connectionString="metadata=res://*/Entity.AdminOrder.ModelAdminOrder.csdl|res://*/Entity.AdminOrder.ModelAdminOrder.ssdl|res://*/Entity.AdminOrder.ModelAdminOrder.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OrderEntities" connectionString="metadata=res://*/Entity.Order.ModelOrder.csdl|res://*/Entity.Order.ModelOrder.ssdl|res://*/Entity.Order.ModelOrder.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EventEntities" connectionString="metadata=res://*/Entity.Event.ModelEvent.csdl|res://*/Entity.Event.ModelEvent.ssdl|res://*/Entity.Event.ModelEvent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExhibitEntities" connectionString="metadata=res://*/Entity.Exhibit.ModelExhibit.csdl|res://*/Entity.Exhibit.ModelExhibit.ssdl|res://*/Entity.Exhibit.ModelExhibit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminDisplayEntities" connectionString="metadata=res://*/Entity.AdminDisplay.ModelAdminDisplay.csdl|res://*/Entity.AdminDisplay.ModelAdminDisplay.ssdl|res://*/Entity.AdminDisplay.ModelAdminDisplay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminReviewEntities" connectionString="metadata=res://*/Entity.AdminReview.ModelAdminReview.csdl|res://*/Entity.AdminReview.ModelAdminReview.ssdl|res://*/Entity.AdminReview.ModelAdminReview.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MagazineEntities" connectionString="metadata=res://*/Entity.Magazine.ModelMagazine.csdl|res://*/Entity.Magazine.ModelMagazine.ssdl|res://*/Entity.Magazine.ModelMagazine.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	<add name="MagazineEntities" connectionString="metadata=res://*/Entity.Magazine.ModelMagazine.csdl|res://*/Entity.Magazine.ModelMagazine.ssdl|res://*/Entity.Magazine.ModelMagazine.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopinfoEntities" connectionString="metadata=res://*/Entity.Shopinfo.ModelShopinfo.csdl|res://*/Entity.Shopinfo.ModelShopinfo.ssdl|res://*/Entity.Shopinfo.ModelShopinfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OrderStatEntities" connectionString="metadata=res://*/Entity.OrderStat.ModelOrderStat.csdl|res://*/Entity.OrderStat.ModelOrderStat.ssdl|res://*/Entity.OrderStat.ModelOrderStat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SampleEntities" connectionString="metadata=res://*/Entity.Sample.ModelSample.csdl|res://*/Entity.Sample.ModelSample.ssdl|res://*/Entity.Sample.ModelSample.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WinnerEntities" connectionString="metadata=res://*/Entity.Winner.ModelWinner.csdl|res://*/Entity.Winner.ModelWinner.ssdl|res://*/Entity.Winner.ModelWinner.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.122.8.163;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- for AboutMe Settings [start]-->
    <add key="PhotoBasePath" value="/Upload/" />
    <add key="ProductPhotoPath" value="/Upload/Product/" />
    <add key="GiftPhotoPath" value="/Upload/Product/Gift/" />
    <add key="DisplayPath" value="/Upload/Display/" />
    <add key="ReviewPhotoPath" value="/Upload/Review/" />
    <add key="EventUploadPath" value="/Upload/Event/" />
    <add key="ExhibitUploadPath" value="/Upload/Exhibit/" />
    <add key="MagazineUploadPath" value="/Upload/Magazine/" />
    <add key="PromotionPhotoPath" value="/Upload/Promotion/" />
    <add key="StaffBaseDB" value="/Upload/Staff/" />
    
    <add key="AES256_KEY" value="abcdefghijklmnopqrstuvwxyz123456" />


    <!-- site  설정 -->
    <add key="HTTP_PROTOCOL" value="http://" />
    <add key="HTTPS_PROTOCOL" value="http://" /><!-- ssl적용시 :  https://-->
    <add key="FrontUrl" value="http://www.aboutmeshop.com"/>
    <add key="MobileUrl" value="http://m.aboutmeshop.com"/>
    <!-- site  설정 -->
    
    <!--메일관련:start-->
    <!--EMAIL발송자 계정:회원가입축하메일,주문완료메일 등..-->
    <add key="MAIL_SENDER_EMAIL" value="customer@aboutmeshop.com" />
    <!--EMAIL발송자 암호-->
    <add key="MAIL_SENDER_PW" value="cstone!@3" />
    <!--smtp서버 210.122.35.60 smtp.aboutmeshop.com -->
    <add key="MAIL_SENDER_SMTP_SERVER" value="smtp.aboutmeshop.com" />
    <!--smtp서버 port-->
    <add key="MAIL_SENDER_SMTP_PORT" value="25" />
    <!--smtp서버 timeout-->
    <add key="MAIL_SENDER_SMTP_TIMEOUT" value="20000" />
    <!--메일관련:end-->


    <!-- 이니페이 설치 디렉토리 (log, key 폴더 있는 폴더, (주의)보안을위해 webroot 밑에 위치하면 안됨.) -->
    <add key="INIpay.SetPath" value="C:\WWW\INIpayNet50" />
    <!-- 상점 ID(WEB) 테스트계정 : INIpayTest 실계정: aboutmesho-->
    <add key="INIpay.Mid" value="INIpayTest" />
    <!-- 키패스워드(WEB), 키파일을 발급받으실 때 통보받은 키패스워드  -->
    <add key="INIpay.Admin" value="1111" />
    <!-- 상점 ID (MOBILE) 테스트계정 : INIpayTest 실계정: aboutmesh0 -->
    <add key="INIpay.Mobile.Mid" value="INIpayTest" />
    <!-- 키패스워드 (MOBILE), 키파일을 발급받으실 때 통보받은 키패스워드  -->
    <add key="INIpay.Mobile.Admin" value="1111" />
    
    <!-- log 파일 남기는지 여부 (true 설정시 상세로그남김)  -->
    <add key="INIpay.Debug" value="true" />
    
    <!-- 택배사 배송조회 URL (CJ택배, &pTdNo= 파라메터를 붙여서 조회해야함 : 송장번호)  -->
    <add key="Order.DeliveryUrl" value="http://www.doortodoor.co.kr/jsp/cmn/Tracking.jsp?QueryType=3" />



  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <!-- Maximum request length exceeded. 추가 hsw 2015.06.17
    <httpRuntime targetFramework="4.5" executionTimeout="240" maxRequestLength="20480" />-->
    <httpRuntime targetFramework="4.5" executionTimeout="240" maxRequestLength="20480" />
    

    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="Data Source=.\SQLEXPRESS;Trusted_Connection=Yes;" cookieless="false" timeout="100" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <!-- Maximum request length exceeded. 추가 hsw 2015.06.17
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  
  
</configuration>