@{
    ViewBag.Title = "Mobile-Home";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}


@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/aboutme.css" rel="stylesheet" />
}


@section Header{

}

@section Scripts{

}


@section Body{

    <div class="wrap mymain">
        <!--header-->
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
        <!--//header-->

        <!--container-->
        <div class="container">
            <!-- 시작: slide_banner -->
            <div class="slide_banner">
                <div class="nav">
                    <ul></ul>
                </div>
                <div class="slider">
                    <ul>
                        <!--
						<li><a href="/Event/EventView?IDX=9"><img src="/aboutCom/images/aboutme/main_1_5.jpg" alt="씨스타 팬사인회 사전모집 이벤트" /></a></li>
                        <li><a href="/Event/EventView?IDX=8"><img src="/aboutCom/images/aboutme/main_1_4.jpg" alt="어바웃미 홈페이지 리뉴얼 소문내기 이벤트" /></a></li>
						-->
                        <li><a href="/Event/SetPromotion"><img src="http://image.aboutmeshop.com/upload/event/wylie/double_m_640x640.jpg" alt="더블 구매 혜택 찬스" /></a></li>
                        <li><a href="/Event/SetPromotion"><img src="http://image.aboutmeshop.com/upload/event/wylie/emple_m_640x640.jpg" alt="효린의 스페셜 보습케어" /></a></li>
                        <li><a href="/Brand"><img src="/aboutCom/images/aboutme/main_1_1.jpg" alt="어바웃미 원료기술" /></a></li>
                    </ul>
                </div>
            </div>
            <!-- 끝: slide_banner -->
            <ul class="main_list">
                <li><a href="/shopping/Main"><img src="/aboutCom/images/aboutme/main_2.jpg" alt="쇼핑" /></a></li>
                <li><a href="/Event/"><img src="/aboutCom/images/aboutme/main_3.jpg" alt="이벤트" /></a></li>
            </ul>
        </div>
        <!--//container-->



        <!--footer-->
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
        <!--//footer-->
        <!--팝업관리-->
        @Html.Action("PopupMgr", "ChildActionDisplayer")

        <!--/팝업관리-->
    </div>

}

@section Footer{

}
