@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
}

@section Scripts{
<script type="text/javascript" src="/cmsmanager/aboutCom/js/common_admin.js"></script>

<script>
    function fGoSave() {
        var f = document.frmFORM;
        if (f.ADM_ID.value.length < 4) {
            alert("아이디를 입력하세요.");
            return;
        }
        if (f.ADM_NAME.value.length < 1) {
            alert("이름을 입력하세요.");
            return;
        }
        if (f.ADM_PWD.value.length < 4) {
            alert("암호를 입력하세요.");
            return;
        }
        f.action = "/AdminUser/InsertOK";
        f.submit();
    }
</script>


}

@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
}

@section Body{

    <div class="content">
        <!--path-->
        <div class="path">
            <a href="/index.asp">HOME</a> &gt; <a href="#">수퍼어드민</a> &gt; <a href="#">관리자관리</a> &gt; <strong>관리자등록</strong>
        </div>
        <!--//path-->
        <!--
                <div class="tar mb10">
                    <a class="btn btn-default middium" href="/AdminUser/Insert">관리자 등록</a>
                    <a class="btn btn-default middium" href="/AdminUser/Excel">EXEL 다운로드</a>
                </div>
        -->
        <!--
                <div class="panel">
                    <h3 class="sub-header">기본설정</h3>
                    <div class="alert alert-info">
                        <ul>
                            <li>· 관리자를 등록 합니다.</li>
                        </ul>
                    </div>
                </div>
        -->

        <div class="panel">
            <h3 class="sub-header">관리자등록</h3>
@using (Html.BeginForm("InsertOK", "AdminUser", FormMethod.Post, new { id = "frmFORM", name = "frmFORM" }))
{
    @Html.AntiForgeryToken()  //폼 데이터 위조 방지 토큰 생성

                <table class="table table_row">
                    <colgroup><col width="200px" /><col width="*" /></colgroup>
                    <tbody>
                        <tr>
                            <th>*아이디</th>
                            <td><input type="text" name="ADM_ID" value="" maxlength="13" /></td>
                        </tr>
                        <tr>
                            <th>*이름</th>
                            <td><input type="text" name="ADM_NAME" value="" maxlength="20" /></td>
                        </tr>
                        <tr>
                            <th>*암호</th>
                            <td><input type="text" name="ADM_PWD" value="" maxlength="20" /></td>
                        </tr>
                        <tr>
                            <th>*등급</th>
                            <td>
                                <select name="ADM_GRADE">
                                    <option value="A">일반관리자</option>
                                    <option value="S">수퍼어드민</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>EMAIL</th>
                            <td><input type="text" name="ADM_EMAIL" value="" maxlength="50" /></td>
                        </tr>
                        <tr>
                            <th>전화</th>
                            <td><input type="text" name="ADM_PHONE" value="" maxlength="30" /></td>
                        </tr>
                        <tr>
                            <th>*사용여부</th>
                            <td>
                                <select name="ADM_USE_YN">
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
}

        </div>

        <div class="btn_area">
            <a class="btn btn-default small" href="javascript:fGoSave();">등록</a>
            <!--
            <a class="btn btn-default small" href="#">수정</a>
            <a class="btn btn-success small" href="#">삭제</a>
            <a class="btn btn-primary small" href="/cmsManager/product/index.html">목록</a>
              -->
        </div>

    </div>
}

