
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/cmsManager/aboutCom/css/bootstrap.css" rel="stylesheet">
    <link href="/cmsManager/aboutCom/css/style.css" rel="stylesheet">
    <script src="/cmsManager/aboutCom/js/jquery-1.11.3.min.js"></script>
    <script src="/cmsManager/aboutCom/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    <title>ABOUT ME</title>
    <script>
    var ERR_CODE = "@ViewBag.ERR_CODE";
    var ERR_MSG = "@ViewBag.ERR_MSG";

    function fErrChk()
    {
        if (ERR_CODE != "")
            alert("ERR_CODE:" + ERR_CODE + "\n" + ERR_MSG);

    }
    function fGoLogin()
        {
            var f = document.frmLOGIN;
            if (f.ID.value.length < 2) {
                alert("아이디를 입력하세요");
                return;
            }
            if (f.PW.value.length < 2) {
                alert("패스워드를 입력하세요");
                return;
            }
            f.action = "/AdminUser/LoginProc/";
            f.submit();

    }

    fErrChk();

    </script>
</head>

<body class="login">

    <div class="container">
        <div class="loginwrap">
            <form class="form-signin" name="frmLOGIN" method="post" >
                
                <h2 class="form-signin-heading"><img src="/cmsManager/aboutCom/images/login_logo.gif" alt="ABOUT ME Adminstration" /></h2>
                <label for="inputEmail" class="sr-only">아이디</label>
                <input type="text" id="inputEmail" class="form-control" name="ID" value="admin" maxlength="13" required autofocus onclick="this.style.background='#fff'" onblur="if (this.value.length==0){this.style.background='#fff url(/cmsManager/aboutCom/images/bg_loginipt.gif) 0 0 no-repeat'}">
                <label for="inputPassword" class="sr-only" >패스워드</label>
                <input type="password" id="inputPassword" class="form-control pw" name="PW" value="1111" maxlength="20" required onclick="this.style.background='#fff'" onblur="if (this.value.length==0){this.style.background='#fff url(/cmsManager/aboutCom/images/bg_loginipt.gif) 0 -47px no-repeat'}">
                <a href="javascript:fGoLogin();"><img src="/cmsManager/aboutCom/images/btn_login.gif" alt="L O G I N " /></a>
                <div class="copy">
                    Copyright ⓒ ABOUTME. All right reserved.
                </div>

                <input type="hidden" name="RedirectUrl" value="@ViewBag.RedirectUrl"><!--로그인 성공후 이동할 페이지-->

            </form>
        </div>
    </div>
    <br />
    ViewBag.ERR_CODE:@ViewBag.ERR_CODE
    <br />
    ViewBag.ERR_MSG:@ViewBag.ERR_MSG

    <br />
    ViewBag.ADM_ID:@ViewBag.ADM_ID
    <br />
    ViewBag.ADM_NAME:@ViewBag.ADM_NAME
    <br />
    ViewBag.ADM_GRADE:@ViewBag.ADM_GRADE
    <br />
    ViewBag.ADM_EMAIL:@ViewBag.ADM_EMAIL
    <br />
    ViewBag.ADM_PHONE:@ViewBag.ADM_PHONE


</body>
</html>