@{
    ViewBag.Title = "Mobile-IdSearch";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/membership.css" rel="stylesheet" />
}


<!--header-->
@section Header{

}
<!--//header-->
@section Scripts{

<script type="text/javascript" src="/aboutCom/js/common_member.js"></script>

<script>
    var glHTTPS_DOMAIN = "@ViewBag.HTTPS_DOMAIN";
    var glHTTP_DOMAIN = "@ViewBag.HTTP_DOMAIN";

    var glREGISTER_ING = false;  //저장처리중

    function fSetEmailDomain() {
        var f = document.frmPopSearch;
        if (f.M_EMAIL_SEL.selectedIndex > 0) {
            f.M_EMAIL_2.value = f.M_EMAIL_SEL[f.M_EMAIL_SEL.selectedIndex].value;
        }
    }

    function  fComplete()
    {
        var f = document.frmPopSearch;
        f.action = "/MemberShip/IdSearch_End";
        f.method = "post";
        f.submit();
    }
    function fGoFind() {

        if (glREGISTER_ING == true)
        {
            alert("처리중입니다. 잠시만 기다려 주세요")
        }

        var f = document.frmPopSearch;
        if (f.M_NAME.value.length < 2) {
            alert("이름을 입력하세요");
            return;
        }
        if (f.M_EMAIL_1.value.length < 2 || f.M_EMAIL_2.value.length < 3) {
            alert("EMAIL을 입력하세요.");
            return;
        }
        f.M_EMAIL.value = f.M_EMAIL_1.value + "@@" + f.M_EMAIL_2.value;


        if (f.M_MOBILE_1.value.length < 3 || f.M_MOBILE_2.value.length < 3 || f.M_MOBILE_3.value.length < 3) {
            alert("휴대폰 번호를 입력하세요.");
            return;
        }

        if (fIsValidMemberTEL_PART(f.M_MOBILE_2.value, "N") == false) {
            return;
        }
        if (fIsValidMemberTEL_PART(f.M_MOBILE_3.value, "N") == false) {
            return;
        }
        f.M_MOBILE.value = f.M_MOBILE_1.value + "-" + f.M_MOBILE_2.value + "-" + f.M_MOBILE_3.value;

        if (f.agree.checked != true) {
            alert("아이디 찾기 위해 이름,이메일,핸드폰 번호 제공에 동의하여야 합니다.");
            return;
        }

        f.action = glHTTPS_DOMAIN + "/MemberShip/IdSearchProc";
        f.target = "";
        f.submit();

        /*
        //---- Ajax방식의 경우 -----------------------
        var strTOKEN = f.__RequestVerificationToken.value;
        var strM_NAME = f.M_NAME.value;
        var strM_EMAIL = f.M_EMAIL.value;
        var strM_MOBILE = f.M_MOBILE.value;

        var strURL = glHTTPS_DOMAIN + "/MemberShip/AjaxIdSearchProc";

        glREGISTER_ING = true;

        $.ajax({
            url: strURL,
            async: false,  //동기 통신
            type: 'POST',
            dataType: 'json',
            data: {
                __RequestVerificationToken: strTOKEN
                , M_NAME: strM_NAME
                , M_EMAIL: strM_EMAIL
                , M_MOBILE: strM_MOBILE

            },
            success: function (retDATA) {
                if (retDATA.ERR_CODE == "0") {
                    f.M_ID.value = retDATA.M_ID;
                    f.M_CREDATE.value = retDATA.M_CREDATE;
                    glREGISTER_ING = false;
                    fComplete();

                }
                else {
                    glREGISTER_ING = false;
                    alert("아이디 찾기 실패! " +retDATA.ERR_MSG);
                }
            },
            error: function (e) {
                glREGISTER_ING = false;
                alert("ajax 오류발생1");
            }
        }); //ajax
        */

    } //func


</script>



}


@section Body{

    <div class="wrap">
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}


        <!--container-->
        <div class="container">
            <div class="h2_area">
                <a href="#" class="historyback"><img src="/aboutCom/images/common/btn_historyback.gif" alt="뒤로가기" /></a>
                <h2>아이디 찾기</h2>
            </div>
            <!-- 아이디 찾기 입력 -->
            <div class="searchform boxtypea">
@using (Html.BeginForm("IdSearch_End", "MemberShip", FormMethod.Post, new { id = "frmPopSearch", name = "frmPopSearch" }))
{
@Html.AntiForgeryToken()  //폼 데이터 위조 방지 토큰 생성

                <input type="hidden" name="M_EMAIL" value="" />
                <input type="hidden" name="M_MOBILE" value="" />
    <!--리턴값-->
    <input type="hidden" name="M_ID" value="" />
    <input type="hidden" name="M_CREDATE" value="" />

                    <fieldset>
                        <legend>아이디 찾기 폼</legend>
                        <ul>
                            <li>
                                <dl>
                                    <dt>이름</dt>
                                    <dd class="frm_name"><input type="text" class="ipttypea" style="width:100%;" title="이름 입력" name="M_NAME" value="" maxlength="20" /></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>이메일</dt>
                                    <dd class="frm_email">
                                        <input type="email" class="ipttypea" title="이메일 계정 입력" name="M_EMAIL_1" maxlength="30" value="" /><span class="at">@@</span><input type="email" class="ipttypea" title="이메일 도메인 입력" name="M_EMAIL_2" maxlength="50" value="" />
                                        <!--
                                    -->
                                        <span class="selbox select_a">
                                            <select title="이메일 도메인 선택" name="M_EMAIL_SEL" onchange="javascript: fSetEmailDomain();">
                                                <option value="">직접입력</option>
                                                <option value="daum.net">daum.net</option>
                                                <option value="hanmail.net">hanmail.net</option>
                                                <option value="hotmail.com">hotmail.com</option>
                                                <option value="gmail.com">gmail.com</option>
                                                <option value="yahoo.co.kr">yahoo.co.kr</option>
                                                <option value="lycos.co.kr">lycos.co.kr</option>
                                                <option value="nate.com">nate.com</option>
                                                <option value="naver.com">naver.com</option>
                                                <option value="hanafos.com">hanafos.com</option>
                                                <option value="empal.com">empal.com</option>
                                                <option value="hanmir.com">hanmir.com</option>
                                                <option value="netian.com">netian.com</option>
                                                <option value="freechal.com">freechal.com</option>
                                                <option value="chol.com">chol.com</option>
                                                <option value="hitel.net">hitel.net</option>
                                                <option value="paran.com">paran.com</option>
                                            </select>
                                        </span>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>휴대번호</dt>
                                    <dd class="frm_phone">
                                        <span class="selbox select_a">
                                            <select title="휴대번호 앞자리 선택" name="M_MOBILE_1">
                                                <option value="010" selected="selected">010</option>
                                                <option value="011">011</option>
                                                <option value="016">016</option>
                                                <option value="019">019</option>
                                            </select>
                                        </span>
                                        <!--
                                    -->
                                        <span class="hypen">-</span><input type="tel" class="ipttypea" title="휴대번호 가운데자리 입력" name="M_MOBILE_2" value="" maxlength="4" /><span class="hypen">-</span><input type="tel" class="ipttypea" title="휴대번호 끝자리 입력" name="M_MOBILE_3" value="" maxlength="4" />
                                    </dd>
                                </dl>
                            </li>
                            <li class="agree">
                                <label class="chkcon line2"><input type="checkbox" id="agree" name="agree" title="" /> <span class="txt">어바웃미 아이디를 찾기 위해 이름, 이메일, 휴대번호<br />제공에 동의합니다.</span></label>
                            </li>
                        </ul>
                        <a href="javascript:fGoFind();" class="btn btn_brown_h40">확인</a>
                    </fieldset>
}
            </div>
            <!-- //아이디 찾기 입력 -->
        </div>
        <!--//container-->


        <!--footer-->
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
        <!--//footer-->
    </div>
}

@section Footer{

}

