@{
    ViewBag.Title = "join Step1";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}

@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/membership.css" rel="stylesheet" />
}

<!--header-->
@section Header{
    
}
<!--//header-->
<!--container-->
@section Body{
   <div>mypage > myreview</div>
}