<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="wurfl" type="WURFL.Aspnet.Extensions.Config.WURFLConfigurationSection, Wurfl.Aspnet.Extensions, Version=1.5.1.1, Culture=neutral, PublicKeyToken=816aeec277aa13b9" /></configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-AboutMe.Web.Mobile-20150722054358.mdf;Initial Catalog=aspnet-AboutMe.Web.Mobile-20150722054358;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FaqEntities" connectionString="metadata=res://*/Entity.Faq.ModelFaq.csdl|res://*/Entity.Faq.ModelFaq.ssdl|res://*/Entity.Faq.ModelFaq.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProductEntities" connectionString="metadata=res://*/Entity.Product.ModelProduct.csdl|res://*/Entity.Product.ModelProduct.ssdl|res://*/Entity.Product.ModelProduct.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NoticeEntities" connectionString="metadata=res://*/Entity.Notice.ModelNotice.csdl|res://*/Entity.Notice.ModelNotice.ssdl|res://*/Entity.Notice.ModelNotice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CartEntities" connectionString="metadata=res://*/Entity.Cart.ModelCart.csdl|res://*/Entity.Cart.ModelCart.ssdl|res://*/Entity.Cart.ModelCart.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MemberEntities" connectionString="metadata=res://*/Entity.Member.ModelMember.csdl|res://*/Entity.Member.ModelMember.ssdl|res://*/Entity.Member.ModelMember.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminPromotion3Entities" connectionString="metadata=res://*/Entity.AdminPromotion.ModelAdminPromotion.csdl|res://*/Entity.AdminPromotion.ModelAdminPromotion.ssdl|res://*/Entity.AdminPromotion.ModelAdminPromotion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminCouponEntities" connectionString="metadata=res://*/Entity.AdminCoupon.ModelAdminCoupon.csdl|res://*/Entity.AdminCoupon.ModelAdminCoupon.ssdl|res://*/Entity.AdminCoupon.ModelAdminCoupon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OrderEntities" connectionString="metadata=res://*/Entity.Order.ModelOrder.csdl|res://*/Entity.Order.ModelOrder.ssdl|res://*/Entity.Order.ModelOrder.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RecallbbsEntities" connectionString="metadata=res://*/Entity.Recallbbs.ModelRecallbbs.csdl|res://*/Entity.Recallbbs.ModelRecallbbs.ssdl|res://*/Entity.Recallbbs.ModelRecallbbs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QnaEntities" connectionString="metadata=res://*/Entity.Qna.QnaModel.csdl|res://*/Entity.Qna.QnaModel.ssdl|res://*/Entity.Qna.QnaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EventEntities" connectionString="metadata=res://*/Entity.Event.ModelEvent.csdl|res://*/Entity.Event.ModelEvent.ssdl|res://*/Entity.Event.ModelEvent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExhibitEntities" connectionString="metadata=res://*/Entity.Exhibit.ModelExhibit.csdl|res://*/Entity.Exhibit.ModelExhibit.ssdl|res://*/Entity.Exhibit.ModelExhibit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="DisplayEntities" connectionString="metadata=res://*/Entity.Display.ModelDisplay.csdl|res://*/Entity.Display.ModelDisplay.ssdl|res://*/Entity.Display.ModelDisplay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PointEntities" connectionString="metadata=res://*/Entity.Point.ModelPoint.csdl|res://*/Entity.Point.ModelPoint.ssdl|res://*/Entity.Point.ModelPoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReviewEntities" connectionString="metadata=res://*/Entity.Review.ModelReview.csdl|res://*/Entity.Review.ModelReview.ssdl|res://*/Entity.Review.ModelReview.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MagazineEntities" connectionString="metadata=res://*/Entity.Magazine.ModelMagazine.csdl|res://*/Entity.Magazine.ModelMagazine.ssdl|res://*/Entity.Magazine.ModelMagazine.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopinfoEntities" connectionString="metadata=res://*/Entity.Shopinfo.ModelShopinfo.csdl|res://*/Entity.Shopinfo.ModelShopinfo.ssdl|res://*/Entity.Shopinfo.ModelShopinfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SampleEntities" connectionString="metadata=res://*/Entity.Sample.ModelSample.csdl|res://*/Entity.Sample.ModelSample.ssdl|res://*/Entity.Sample.ModelSample.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.52.63.60;initial catalog=AboutMe;persist security info=True;user id=about;password=sostlfod;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- image path-->
    <add key="ProductPhotoPath" value="/Upload/Product/" />
    <add key="DisplayPath" value="/Upload/Display/" />
    <add key="ReviewPhotoPath" value="/Upload/Review/" />
    <add key="PromotionPhotoPath" value="/Upload/Promotion/" />
    <!-- image path-->

    <add key="AES256_KEY" value="abcdefghijklmnopqrstuvwxyz123456" />

    <add key="PC_VERSION_URL" value="http://aboutme-dev.cstone.co.kr" />
    <add key="HTTP_PROTOCOL" value="http://" />
    <add key="HTTPS_PROTOCOL" value="http://" />  <!-- ssl적용시 :  https://-->

    <!--메일관련:start-->
    <add key="MAIL_SENDER_EMAIL" value="noreply@cstone.co.kr" /> <!--EMAIL발송자 계정:회원가입축하메일,주문완료메일 등..-->
    <add key="MAIL_SENDER_PW" value="cstonedev12" />  <!--EMAIL발송자 암호-->
    <add key="MAIL_SENDER_SMTP_SERVER" value="smtp.gmail.com" />    <!--smtp서버-->
    <add key="MAIL_SENDER_SMTP_PORT" value="587" />    <!--smtp서버 port-->
    <add key="MAIL_SENDER_SMTP_TIMEOUT" value="20000" />    <!--smtp서버 timeout-->
    <!--메일관련:end-->



    <!--실명인증관련:start-->
    <add key="REAL_NAME_memId" value="P19960000000" /> <!--회원사코드-->
    <add key="REAL_NAME_serverIp" value="10.129.39.11" />  <!-- 웹서버 PrivateIP-->
    <add key="REAL_NAME_siteDomain" value="aboutme-devmobile.cstone.co.kr" />  <!--회원사 도메인-->
    <add key="REAL_NAME_logPath" value="c:\\WWW\\REALNAME\\module\\log" /> <!--로그파일 생성 경로-->
    <add key="REAL_NAME_keyPath" value="c:\\WWW\\REALNAME\\module\\key\\okname.key" /> <!--키파일 경로-->

    <add key="REAL_NAME_returnUrl_HP" value="http://aboutme-devmobile.cstone.co.kr/realname/hp/hs_cnfrm_popup3.aspx" /> <!--HP:본인인증 완료후 리턴될 URL (도메인 포함 full path)-->
    <add key="REAL_NAME_returnUrl_IPIN" value="http://aboutme-devmobile.cstone.co.kr/realname/ipin/ipin3.aspx" /> <!--IPIN:본인인증 완료후 리턴될 URL (도메인 포함 full path)-->
    
    <add key="REAL_NAME_SubmitLocalURL" value="http://aboutme-devmobile.cstone.co.kr/MemberShip/RealNameResult" />    <!--실명인증완료후 submit 경로 : 실제 - HTTPS 적용필요-->
    <!--실명인증관련:end-->

    <!-- 네이버지도 API 발급key -->
    <add key="NaverMapKey" value="c6d91e80df5dddbae5efefaea386318f" />

    <!-- 이니페이 설치 디렉토리 (log, key 폴더 있는 폴더, (주의)보안을위해 webroot 밑에 위치하면 안됨.) -->
    <add key="INIpay.SetPath" value="C:\WWW\INIpayNet50" />
    <!-- 상점 ID (WEB) INIpayTest aboutmesho -->
    <add key="INIpay.Mid" value="INIpayTest" />
    <!-- 키패스워드 (WEB), 키파일을 발급받으실 때 통보받은 키패스워드  -->
    <add key="INIpay.Admin" value="1111" />
    <!-- 상점 ID (MOBILE) INIpayTest aboutmesh0 -->
    <add key="INIpay.Mobile.Mid" value="INIpayTest" />
    <!-- 키패스워드 (MOBILE), 키파일을 발급받으실 때 통보받은 키패스워드  -->
    <add key="INIpay.Mobile.Admin" value="1111" />

    <!-- log 파일 남기는지 여부 (true 설정시 상세로그남김)  -->
    <add key="INIpay.Debug" value="true" />
    
    <!-- 택배사 배송조회 URL (CJ택배, &pTdNo= 파라메터를 붙여서 조회해야함 : pTdNo 송장번호)  -->
    <add key="Order.DeliveryUrl" value="http://www.doortodoor.co.kr/jsp/cmn/Tracking.jsp?QueryType=3" />

    <add key="DesktopUrl" value="http://aboutme-dev.cstone.co.kr"/>

    <!-- Device 감지 관련 기능에서 쓰임-->
    <add key="WurflManagerCacheKey" value="__WurflManager"/>
    <!-- Device 감지 관련 기능에서 디바이스종류를 정의한 파일.-->
    <add key="WurflDataFilePath" value="~/App_Data/wurfl-latest.zip"/>
    
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="ko-KR" uiCulture="ko-KR" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="Data Source=.\SQLEXPRESS;Trusted_Connection=Yes;" cookieless="false" timeout="100" />

    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<!-- Note about WURFL config
       You can use the root operator (~) to refer to a virtual path. --><wurfl mode="Performance">
    <mainFile path="~/App_Data/wurfl-latest.zip" />
  </wurfl></configuration>