@{
    Layout = null;
}
 <!--list1-->
<div class="list list1">
    <p class="tit"><a href="/shopping/beauty_list.asp">뷰티</a></p>
    <div class="sublist">
        <ul>
            <li><a href="#">스킨케어</a></li>
            <li><a href="#">팩/마스크</a></li>
            <li><a href="#">선케어</a></li>
            <li><a href="#">클렌징</a></li>
        </ul>
        <ul>
            <li><a href="#">바디/핸드</a></li>
            <li><a href="#">베이스 메이크업</a></li>
            <li><a href="#">옴므</a></li>
            <li><a href="#">뷰티툴</a></li>
        </ul>
    </div>
    <div class="banner">
        <a href="#">
            <span class="ban_tit">그녀의 화장대</span>
            <span class="ban_txt">40대 워킹맘 필수아이템!</span>
        </a>
    </div>
</div>
<!--//list1-->
<!--list2-->
<div class="list list2">
    <p class="tit"><a href="/shopping/health_list.asp">헬스</a></p>
    <div class="sublist">
        <ul>
            <li><a href="#">스킨케어</a></li>
            <li><a href="#">뉴트리션케어</a></li>
            <li><a href="#">웨이트케어</a></li>
        </ul>
    </div>
    <div class="banner">
        <a href="#">
            <span class="ban_tit">신상품 출시</span>
            <span class="ban_txt">나른한 가을 에너지충전!</span>
        </a>
    </div>
</div>
<!--//list2-->
<!--list3-->
<div class="list list3">
    <p class="tit"><a href="/shopping/selectshop_list.asp">수입브랜드</a></p>
    <div class="sublist">
        <ul>
            <li><a href="#">엘라바쉐</a></li>
            <li><a href="#">립스메이커</a></li>
            <li><a href="#">페탈프레쉬</a></li>
            <li><a href="#">베이비가닉스</a></li>
            <li><a href="#">피그콜라겐</a></li>
        </ul>
        <ul>
            <li><a href="#">뷰크로스</a></li>
            <li><a href="#">키스 에버레스트</a></li>
            <li><a href="#">기타</a></li>
            <li><a href="#">엘라바쉐</a></li>
            <li><a href="#">립스메이커</a></li>
        </ul>
    </div>
</div>
<!--//list3-->
