.btnone {border-top:none !important;}
.bbnone {border-bottom:none !important;}
.cart .container {background:#f7f3f2; padding-bottom:27px;}
.userhave ul {overflow:hidden;}
.userhave li {float:left; width:33.3333334%;}
.userhave li div { height:105px;  padding-top:11px; box-sizing:border-box; background:#efe8e6; border-left:1px solid #fff; text-align:center;}
.userhave li:first-child {border-left:none;}
.userhave li.downcpn .ico {display:block; margin:0 auto; width:36px; height:35px; background:url("/aboutCom/images/cart/userhave_ico.png") 0 0 no-repeat; background-size:cover; }
.userhave li.hascpn .ico {display:block; margin:0 auto; width:40px; height:35px; background:url("/aboutCom/images/cart/userhave_ico.png") -106px 0 no-repeat; background-size:cover;}
.userhave li.point .ico {display:block; margin:0 auto; width:40px; height:35px; background:url("/aboutCom/images/cart/userhave_ico.png") -210px 0 no-repeat; background-size:cover;}
.userhave li .num {display:block; margin-top:10px; font-size:13px; color:#1b1818; }
.userhave li .txt {display:block; margin-top:10px; font-size:11px; color:#696361;}
.shopping_product {padding-top:10px; background:#fff;}

.product_list {margin-top:10px; background:#fff;}
.product_list.v2 {margin-top:-1px;}
.product_list h3 {padding:20px 0 10px 0px; margin:0 15px; font-size:13px; color:#1b1818; border-bottom:1px solid #dddad9;}
.product_list .prd_check {margin-bottom:10px;}
.product_list ul { border-top:1px solid #dddad9}
.product_list.v2 ul li {padding-top:0; padding-bottom:0;}
.product_list ul > li {position:relative; padding:10px 15px 15px 15px; border-bottom:1px solid #dddad9;}
.product_list ul > li .del_ico {position:absolute; right:15px; top:13px; width:13px; height:14px; background:url("/aboutCom/images/common/bul30.png") 0 0 no-repeat; background-size:cover;}
.product_list ul > li .product_info {border-top:none;}
.product_list ul > li .product_info > li {position:relative; padding:13px 0; overflow:hidden; border-bottom:1px solid #f7f3f2; color:#696361;}
.product_list ul > li .product_info > li.bbnone {border-bottom:none;}
.product_list ul > li .product_info > li.photo_info  {padding:10px 0;}
.product_list ul > li .product_info > li.photo_info .photo {float:left; width:60px;}
.product_list ul > li .product_info > li.photo_info .photo img { width:60px;}
.product_list ul > li .product_info > li.photo_info .detail {float:left; width:215px; margin-left:15px;}
.product_list ul > li .product_info > li.photo_info .detail .ico {}
.product_list ul > li .product_info > li.photo_info .detail .tit {display:block; margin-top:10px;font-size:12px;  color:#1b1818; -webkit-text-stroke-width:0.5px;}
.product_list ul > li .product_info > li.photo_info .detail .price {display:block; margin-top:9px; font-size:12px; color:#1b1818;}
.product_list ul > li .product_info > li.photo_info .detail .price del {font-size:10px; margin-right:6px; color:#696361;}
.product_list ul > li .product_info > li.photo_info .detail .del_ico {right:0;}
.product_list ul > li .product_info > li .num {display:block; position:absolute; right:0; top:13px; font-size:12px; color:#1b1818;}
.product_list ul > li .product_info > li.count_info {}
.product_list ul > li .product_info > li.count_info .tit {font-size:12px; color:#696361;}
.product_list ul > li .product_info > li.count_info .tit strong {font-weight:normal; color:#1b1818; margin-left:3px;}
.product_list ul > li .product_info > li.count_info .num {display:block; position:absolute; right:0; top:13px; font-size:12px; color:#1b1818;}
.product_list ul > li .product_info > li.count_info .btn_change_count {position:absolute; right:0; top:5px;}
.product_list ul > li .product_info > li.coupon_choice {padding:13px 0;}
.product_list ul > li .product_info > li.coupon_choice:after {display:block; content:''; clear:both;}
.product_list ul > li .product_info > li.coupon_choice .tit {font-size:12px; color:#696361;}
.product_list ul > li .product_info > li.coupon_choice .tit strong {font-weight:normal; color:#1b1818}
.product_list ul > li .product_info > li.coupon_choice .selbox {position:absolute; right:0; top:5px;}

.product_list ul > li .product_info > li .change_count {display:none; position:relative; padding:13px 15px; border-top:1px solid #f7f3f2; margin-top:11px; background:#efe8e6}
.product_list ul > li .product_info > li .change_count .tit {font-size:12px; color:#1b1818;}
.product_list ul > li .product_info > li .change_count .close_count {display:block; position:absolute; right:5px; top:5px; width:20px; height:20px; font-size:0; background:url("/aboutCom/images/common/bul30.png") 0 -30px; background-size:cover; }
.product_list ul > li .product_info > li.point_info {width:100%; overflow:hidden; font-size:12px;}
.product_list ul > li .product_info > li.point_info .point {float:left; display:block; width:50%; color:#696361;}
.product_list ul > li .product_info > li.point_info .point strong {margin-left:6px; color:#1b1818;}
.product_list ul > li .product_info > li.point_info .buy_amount {float:right; -webkit-text-stroke-width:0.5px; color:#1b1818; display:block; width:50%; box-sizing:border-box; padding-left:25px;}
.product_list ul > li .product_info > li.point_info .buy_amount strong {/* margin-left:46px; */}

.total_paywrap {position:relative; margin-top:-1px; padding-bottom:15px; border-top:1px solid #99e0f2; border-bottom:1px solid #d9d4d3; background:#fff; }
.total_paywrap .total_pay {padding:0 15px; background:#eaf9fc; color:#1b1818;}
.total_paywrap .total_pay .point {padding:13px 0; overflow:hidden; border-bottom:1px solid #fff;}
.total_paywrap .total_pay .point dt {float:left; font-size:12px;}
.total_paywrap .total_pay .point dd {float:right; font-size:12px;}
.total_paywrap .total_pay .amount {padding:13px 0;  overflow:hidden;}
.total_paywrap .total_pay .amount dt {float:left; font-size:12px; -webkit-text-stroke-width:0.5px; line-height:18px;}
.total_paywrap .total_pay .amount dd {float:right;  font-size:18px; -webkit-text-stroke-width:0.5px;}
.total_paywrap .pstxt {font-size:11px; color:#696361; padding:10px 0 10px 15px;}
.total_paywrap .pstxt2 {margin-left:15px; padding:10px 0 0 14px; color:#696361; font-size:11px;}
.total_paywrap .pstxt2 {padding-top:10px; font-size:11px; color:#9f9998; text-indent:-7px; padding-left:15px;}
.total_paywrap .pstxt2 span {color:#33c1e5; display:inline-block; margin-right:4px;}
.month_banner {padding:15px;  background:#f7f3f2;}
.month_banner img {width:100%;}

.relative_product {position:relative; margin:0 15px; background:#fff; box-sizing:border-box;}
.relative_product .tit {padding:10px 15px; font-size:12px; color:#333; border-bottom:1px solid #f7f3f2; -webkit-text-stroke-width:0.5px;}
.relative_product .btnarea {position:absolute; right:15px; top:11px; width:45px; overflow:hidden;}
.relative_product .btnarea .prev {display:block; float:left; width:8px; height:13px; background:url("/aboutCom/images/cart/btn_relative_prev.gif") 0 -27px no-repeat; background-size:cover;}
.relative_product .btnarea .prev.off {background:url("/aboutCom/images/cart/btn_relative_prev.gif") 0 0 no-repeat; background-size:cover;}
.relative_product .btnarea .next {display:block; float:right; width:8px; height:13px; background:url("/aboutCom/images/cart/btn_relative_next.gif") 0 -27px no-repeat; background-size:cover;}
.relative_product .btnarea .next.off {background:url("/aboutCom/images/cart/btn_relative_next.gif") 0 0 no-repeat; background-size:cover;}
.relative_product .relative_list_wrap {width:100%; height:210px; overflow:hidden; border-bottom:1px solid #efe8e6;}
.relative_product .list {width:9999px; }
.relative_product .list:after {display:block; content:''; clear:both;}
.relative_product .list li {position:relative; float:left; width:50%; padding:10px; overflow:hidden; box-sizing:border-box;}
.relative_product .list .photo {}
.relative_product .list .photo img {width:120px;}
.relative_product .list .detail {}
.relative_product .list .detail .ptit {display:block; margin-top:9px; height:18px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; font-size:12px; color:#1b1818;}
.relative_product .list .detail .price {display:block; margin-top:7px; font-size:13px; color:#1b1818;}
.relative_product .list .detail .price del {display:block; margin-bottom:6px; font-size:10px; color:#696361;}
.relative_product .list .detail .btn_cart {display:block; position:absolute; right:13px; bottom:13px; font-size:0; width:19px; height:18px; background:url("/aboutCom/images/cart/btn_cart.gif") 0 0 no-repeat; background-size:cover;}

.alert {padding:15px; font-size:12px; color:#696361;}
.alert .tit {margin-bottom:8px; }
.alert .tit:before {display:inline-block; content:''; margin-right:4px; width:15px; height:14px; background:url("/aboutCom/images/common/bul30.png") 0 -64px no-repeat; background-size:cover; vertical-align:top;}
.alert li {text-indent:-10px; padding-left:10px; margin-bottom:5px;}


/*주문결제*/
.oder .boxtypec {position:relative;}
.oder .boxtypec h3 {padding-bottom:8px; font-size:13px; color:#1b1818; border-bottom:1px solid #dddad9;}
.con_list {}
.con_list li {position:relative; padding:13px 0; overflow:hidden; border-bottom:1px solid #f7f3f2; color:#696361;}
.con_list li:after {display:block; clear:both; content:'';}
.con_list li div {position:relative; padding:5px 0;}
.con_list li div:after {display:block; clear:both; content:'';}
.con_list .tit {display:inline-block; font-size:12px; color:#696361;}
.con_list .stit {padding-left:10px;font-size:11px; position:relative;}
.con_list .stit:before {position:absolute; left:0; top:2px; display:inline-block; content:''; width:6px; height:5px; background:url("/aboutCom/images/common/bul12.png") 0 0 no-repeat; background-size:cover;}
.con_list .num {display:block; position:absolute; right:0; top:13px; font-size:12px; color:#1b1818;}
.con_list .pointchk {float:right;}
.con_list  .mypoint {float:right;}
.con_list .tit.mt7 {margin-top:7px;}
.con_list  .mypoint .arrow {display:inline-block; margin:0 5px; width:10px; height:13px; background:url("/aboutCom/images/common/bul20.png") 0 -22px no-repeat; background-size:cover; vertical-align:middle;}
.con_list .pstxt {padding-top:5px; font-size:11px; color:#9f9998; text-indent:-7px; padding-left:15px;} 
.con_list .pstxt span {color:#33c1e5; display:inline-block; margin-right:4px;}
.con_list p {position:relative; padding:5px 0;}
.con_list p .selbox { position:absolute; right:0; top:0px;}

h3 {overflow:hidden;}
h3 .essential {float:right; font-size:11px; color:#696361;}
h3 .essential:before {display:inline-block;content:''; margin-right:4px;width:8px; height:8px; background:url("/aboutCom/images/common/bul20.png") 0 -36px no-repeat; background-size:cover;}
.addressform {margin-top:20px;}
.addressform li {margin-top:20px;}
.addressform li dl dt {font-size:12px; color:#696361;margin-bottom:8px;}
.addressform li dl dt.essential:after {display:inline-block; content:''; margin-left:4px; width:8px; height:8px; background:url("/aboutCom/images/common/bul20.png") 0 -36px no-repeat; background-size:cover;}
.addressform li dl dt span {color:#9f9998;}
.addressform2 {}
.addressform2 li {padding:13px 0; border-bottom:1px solid #f7f3f2;}
.addressform2 li.lst {border-bottom:none;}
.addressform2 li dl {font-size:12px; }
.addressform2 li dl dt {display:table-cell; width:101px; color:#696361; vertical-align:middle;}
.addressform2 li dl dt span {color:#9f9998;}
.addressform2 li dl dd {display:table-cell; color:#1b1818;vertical-align:middle;}
.oder .por {position:relative;}
.chkaddress_same {position:absolute; right:0; top:0;}
.radio_area {margin-top:10px;}
.radio_area .ea3 {overflow:hidden;}
.radio_area .ea3 li {float:left; width:33.3333334%;}
.boxtypec.pd0 {padding-bottom:0;}
.order_fin_txt {text-align:center; padding:19px 0;} 
.boxtypec.payinfo {}
.boxtypec.payinfo h3 {border:none;}
.boxtypec.payinfo .wrap {border:1px solid #dddad9; padding:14px 20px;}
.boxtypec.payinfo .wrap dl {display:table; width:100%; margin:5px 0;}
.boxtypec.payinfo .wrap dt {display:table-cell; width:35%; color:#696361; vertical-align:middle;}
.boxtypec.payinfo .wrap dd {display:table-cell; width:65%;color:#1b1818; text-align:right; vertical-align:middle;}

.oder .odercon h3 {border-bottom:none;  padding-bottom:0;}
.odercon .tit {color:#696361; margin-top:20px;}
.odercon .contxt {color:#1b1818; margin-top:6px;}
.odercon .contxt span {color:#696361;}
.odercon .contxt span.fcblue {color:#33c1e5;}
.oder .odercon i.tel {width:15px; height:14px; display:inline-block; margin-right:2px; background:url("/aboutCom/images/common/bul30.png") 0 -155PX; background-size:cover; vertical-align:middle;}


.joinsuggest {position:relative; margin:15px 15px 0 15px; padding:15px ; background:#efe8e6; color:#1c1c1c;}
.joinsuggest .btn_benefit {display:inline-block;margin:6px 0 5px 0;  font-size:11px; color:#696361; }
.joinsuggest .btn_benefit:after {display:inline-block; content:''; margin-left:5px; width:6px; height:9px; background:url("/aboutCom/images/common/bul12.png") 0 -21px no-repeat; background-size:cover; }
.joinsuggest .btn_brown_h30 {position:absolute; top:15px; right:15px;}
.joinsuggest .benefit_con {}
.joinsuggest .benefit_con .tit {margin-top:15px; margin-bottom:10px; padding-bottom:9px; border-bottom:1px solid #d5cecd}
.joinsuggest .benefit_con .txt1 img{width:85px}
.joinsuggest .benefit_con .txt2 img {width:69px}
.joinsuggest .benefit_con ul li {color:#696361; font-size:11px; padding-bottom:5px}