/*고객센터 메인*/
.customer .info {padding:20px 15px;background-color:#f7f4f3;}
.customer .info a {position:relative;display:block;padding:15px 0 15px 93px;border:3px solid #fff;}
.customer .info a:before {content:"";position:absolute;top:50%;left:15px;display:block;margin-top:-29px;width:58px;height:58px;background:url('/aboutCom/images/customer/ico_info.png') 0 0 no-repeat;background-size:58px 58px;}
.customer .info a strong {display:inline-block;margin-bottom:3px;font-size:12px;color:#1b1818;}
.customer .info a em {display:inline-block;margin-bottom:5px;font-size:17px;color:#403836;}
.customer .menu_list {margin:5px 15px 30px;}
.customer .menu_list ul li {border-bottom:1px solid #efe8e6;}
.customer .menu_list ul li a {position:relative;display:block;height:42px;line-height:44px;font-size:12px;color:#333;}
.customer .menu_list ul li a:before {content:"";position:absolute;top:50%;right:0;display:block;margin-top:-6px;width:10px;height:13px;background:url('/aboutCom/images/common/bul20.png') 0 -70px no-repeat;background-size:cover;}

/*FAQ*/
.customer .faq_search {position:relative;padding:20px 15px 15px;background-color:#f7f4f3;}
.customer .faq_search .searchbox {position:relative;padding:0 102px 5px 0;background-color:#f7f4f3;}
.customer .faq_search .searchbox input {width:100%;}
.customer .faq_search .searchbox .btn_brown_h30 {position:absolute;top:0;right:0;width:97px;}
.customer .faq_search .bullista {color:#696361;}
.customer .faq_div {padding:15px 15px 0;}
.customer .faq_div ul:after {display:block; clear:both; content:'';}
.customer .faq_div ul li {float:left;width:33.333334%;}
.customer .faq_div ul li a {display:block;margin:0 0 1px 1px;height:29px;line-height:31px;background-color:#bbb5b4;border:1px solid #bbb5b4;color:#fff;font-size:12px;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.customer .faq_div ul li.cnt a {background-color:#fff;border:1px solid #bbb5b4;color:#1b1818;}
.customer .faq_list {padding:15px 15px 0;}
.customer .faq_list .lstot {padding:0 0 5px 0;font-size:12px;color:#1b1818;}
.customer .faq_list .lstot em {color:#33c1e5;}
.customer .faq_list ul li .txt_fdiv {display:block;margin-top:3px;font-size:11px;color:#696361;}
.customer .faq_list ul li .txt_fdiv:before {content:"└";display:inline-block;margin-right:5px;font-size:8px;color:#7c7776;}
.customer .faq_list ul li .faq_a {display:none;padding:15px;border-top:1px dotted #efe8e6;background-color:#fcfafa;}
.customer .faq_list ul li .faq_a .txt_q {position:relative;padding-left:15px;color:#696361;font-size:12px;line-height:16px;}
.customer .faq_list ul li .faq_a .txt_q:before {content:"Q.";position:absolute;top:0;left:0;}
.customer .faq_list ul li .faq_a .txt_a {position:relative;margin-top:5px;padding-left:15px;color:#7c7675;font-size:12px;line-height:16px;line-height:16px;}
.customer .faq_list ul li .faq_a .txt_a:before {content:"A.";position:absolute;top:0;left:0;color:#33c1e5;}

/*회원혜택*/
.customer .tbl_tya table{width:100%;}
.customer .benefit_sti {padding:10px 0;background-color:#f7f4f3;font-size:12px;color:#1b1818;text-align:center;}
.customer .benefit_ls li {position:relative;padding:0 0 5px 8px;color:#696361;font-size:12px;line-height:15px;}
.customer .benefit_ls li:before {content:"-";position:absolute;top:0;left:0;}

