/*이벤트 메인*/
.event .eventtabs {padding:15px 15px 0;}
.event #eventCon1 {display:block;}
.event .eventcon {}
.event .eventcon img {width:100%;}
.event .eventcon .event_timesale {position:relative;margin:15px 15px 0;}
.event .eventcon .event_timesale .remain_time {position:absolute;top:10%;left:7%;}
.event .eventcon .event_timesale .remain_time strong {display:inline-block;padding:3px 3px 2px;background-color:#000;color:#fff;}

.event .eventcon .event_plan {padding:0 15px 15px;}
.event .eventcon .event_plan li {padding:15px 0 0;}
.event .eventcon .event_list {padding:0 0 0 0;border-top:1px solid #d9d4d3;background-color:#f7f3f2;}
.event .eventcon .event_list li {padding:15px 15px 0;}

/*타임세일*/
.timesale_area {position:relative; margin-bottom:30px;}
.timesale_area .timesale {position:absolute;top:4%;left:6%;}
.timesale_area .timesale strong {display:inline-block; font-family:"OpenSansBold"; font-size:20px; padding:1px 5px 2px ; background-color:#000;color:#fff;}
.timesale_area .timesale .tcolon {display:inline-block; font-size:0; line-height:20px; vertical-align:top; margin:0 3px; margin-top:10px; width:4px; height:12px; background:url("/aboutCom/images/common/bg_tcolone.png") 0 0 no-repeat; background-size:cover;}
.timebnr {width:100%; background:#fff;}
.timebnr img {width:100%; }
/* .timesale_area .btn_area {width:100%; position:absolute; bottom:15px; left:0; text-align:center;} */
.eventtime_bnr {position:relative; width:100%; overflow:hidden; border-top:1px solid #d9d4d3;  box-sizing:border-box;}
.eventtime_bnr ul {width:999999px;}
.eventtime_bnr ul:after {display:block; clear:both; content:'';}
.eventtime_bnr li {float:left;}
.eventtime_bnr li .probnr {position:relative; padding:15px 15px 27px 15px; text-align:left; }
.eventtime_bnr li .probnr .photo {position:absolute; left:15px; top:15px; width:109px;}
.eventtime_bnr li .probnr .photo img {width:100%;}
.eventtime_bnr li .probnr .detail { padding-left:124px;}
.eventtime_bnr li .probnr .detail .ico {}
.eventtime_bnr li .probnr .detail .tit {display:block; margin-top:7px; font-size:12px; color:#1b1818; font-weight:normal; height:15px; -webkit-text-stroke-width:0.5px; display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:1;-webkit-box-orient:vertical;}
.eventtime_bnr li .probnr .detail .stit {display:block; margin-top:3px; font-size:10px; color:#a3a3a3; } 
.eventtime_bnr li .probnr .detail .price {display:block;margin-top:25px; font-size:13px; color:#1b1818; }
.eventtime_bnr li .probnr .detail .price del {display:block; font-weight:normal; font-size:10px; color:#696361; margin-bottom:4px; }
.eventtime_bnr .btn_prevnext {}
.eventtime_bnr .btn_prevnext a {display:block; z-index:1; width:15px; height:23px; background:url("/aboutCom/images/common/bul30.png") 0 0 no-repeat; background-size:cover;}
.eventtime_bnr .btn_prevnext .btn_prev {position:absolute; left:10px; top:81px; background-position:0 -550px; background-size:cover;}
.eventtime_bnr .btn_prevnext .btn_next {position:absolute; right:10px; top:81px; background-position:0 -599px; background-size:cover;}
.eventtime_bnr .btn_area {width:100%;text-align:center;}

/*상세*/
.detail .h2_area{padding:12px 15px 10px;font-size:14px;color:#403836;}
.detail .h2_area h2{padding:0;text-align:left;}
.detail .h2_area .date{display:block;margin-top:5px;text-align:left;-webkit-text-stroke-width:0.5px;}
.detail .detailbnr {width:100%;}
.detail .detailbnr img {width:100%;}
.detail .product_wrap .list_tit{position:relative;padding:0 20px;background-color:#e4dedd;font-size:12px;line-height:50px;color:#1c1c1c;}
.detail .product_wrap .list_tit:before{content:"";display:inline-block;position:absolute;top:20px;left:10px;width:6px;height:10px;background:url("/aboutCom/images/common/bl_subtit.png") 0 0 no-repeat;background-size:cover;}
.detail .product_wrap .product_list{padding:0;}
.detail .product_wrap .product_list li{padding-left:15px;padding-right:15px;}
.detail .totalnum_txt {padding:19px 15px 16px 15px; font-size:12px; color:#1c1c1c;}
.detail .btn_allcheck {border-bottom:1px solid #dddad9; padding:10px 15px;}
.btn_application {margin-top:20px; margin-bottom:20px; text-align:center}

/*product_list*/
.product_list {padding:0 15px;}
.product_list li {position:relative; padding: 15px 0 18px 0; border-bottom:1px solid #dddad9}
.product_list li label {position:absolute; left:0; top:15px;}
.product_list li .photo {width:125px; display:table-cell;}
.product_list li .photo img {width:109px;}
.product_list li .detail { display:table-cell;}
.product_list li .detail .ico {}
.product_list li .detail .tit {display:block; margin:8px 0;font-size:12px; color:#1b1818; font-weight:normal;-webkit-text-stroke-width:0.5px; letter-spacing:-1px;}
.product_list li .detail .stit {display:block; height:38px; overflow:hidden; font-size:10px; color:#bcbcbc; letter-spacing:-1px;}
.product_list li .detail .price {display:block;  font-size:13px; color:#1b1818;}
.product_list li .detail .price del {display:block;font-size:10px; color:#696361; }
.product_list li .btn_cart {display: block;position: absolute; right: 20px; bottom: 22px; width: 19px; height: 18px; background: url("/aboutCom/images/cart/btn_cart.gif") no-repeat  0 0; background-size: cover ;}

.setgoods .product_list li:last-child {border-bottom:none}


.buy_product {position:fixed; bottom:0; left:0; width:100%; background:#fff; z-index:10}
.buy_product .dim {display:none; width:100%; height:100%; position:fixed; left:0; bottom:220px; background:#000; opacity:0.2; }
.buy_product .slidedown {position:relative; border-top:1px solid #dad5d4; padding:5px 0; text-align:center;}
.buy_product .slidedown:before{display:block; position:absolute; left:50%; top:-13px; margin-left:-21px; content:''; width:43px; height:13px; background:url("/aboutCom/images/common/bg_buy_product.png") 0 0 no-repeat; background-size:cover;}
.buy_product .slidedown .btn_brown_h40 {line-height:35px;}
.buy_product .slidedown .btn_brown_h40 .num {display:inline-block; margin-left:5px; font-size:11px; line-height:16px; background:#32bcde; width:14px; height:14px; border-radius:7px; vertical-align:middle;}
.buy_product .slideup {background:#fff; padding-bottom:15px; position:relative;}
.buy_product .slideup:before{display:block; position:absolute; left:50%; top:-13px; margin-left:-21px; content:''; width:43px; height:13px; background:url("/aboutCom/images/common/bg_buy_product.png") 0 -27px no-repeat; background-size:cover;}
.buy_product .slideup .tip {padding:13px 15px; border-bottom:1px solid #f7f3f2; font-size:10px; color:#696361;}
.buy_product .slideup .tip span {color:#bbb5b4;font-weight:normal;-webkit-text-stroke-width:0.5px;}
.buy_product .slideup .paylist {padding:0 15px 15px 15px; }
.buy_product .slideup .paylist .total_select {padding:13px 0; font-size:13px; color:#1b1818;}
.buy_product .slideup .paylist ul {background:#eaf9fc; padding:13px 10px 0 10px;}
.buy_product .slideup .paylist ul li {position:relative; font-size:12px; padding-bottom:8px;cursor:pointer;}
.buy_product .slideup .paylist ul li dl {}
.buy_product .slideup .paylist ul li dl dt {color:#696361;}
.buy_product .slideup .paylist ul li dl dd {position:absolute; right:0; top:3px; ;color:#1b1818;}
.buy_product .slideup .paylist ul li.discount dd:before {display:inline-block; content:'';margin-right:6px; width:15px; height:12px; background:url("/aboutCom/images/common/bul30.png") 0 -438px; background-size:cover; vertical-align:middle;}
.buy_product .slideup .paylist ul li.totalpay {padding:13px 0; border-top:1px solid #fff;}
.buy_product .slideup .paylist ul li.totalpay dt {color:#1b1818; font-weight:normal;-webkit-text-stroke-width:0.5px; l}
.buy_product .slideup .paylist ul li.totalpay dd {top:13px;}

@media only screen and (min-width:320px){
	.event .eventcon .event_timesale .remain_time {font-size:11px;}
	.timesale_area .timesale strong{font-size:20px;}
}
@media only screen and (min-width:360px){
	.event .eventcon .event_timesale .remain_time {font-size:14px;}
	.timesale_area .timesale strong {font-size:20px;}
}
@media only screen and (min-width:480px){
	.event .eventcon .event_timesale .remain_time {font-size:16px;}
	.timesale_area .timesale strong{font-size:35px;}
	.timesale_area .timesale .tcolon {margin-top:20px}
}
@media only screen and (min-width:640px){
	.event .eventcon .event_timesale .remain_time {font-size:24px;}
	.timesale_area .timesale strong {font-size:40px;}
	.timesale_area .timesale .tcolon {margin-top:25px}
}