@charset "utf-8";
body {min-width:320px; font-family: 'NanumBarunGothicLight'; font-size:12px;}

/* header */
.header {position:relative; width:100%; z-index:30;}
.header .h_top {position:relative; height:45px; background:#fff; border-bottom:1px solid #f7f3f2;}
.header .h_top h1 {text-align:center;}
.header .h_top h1 img {margin-top:15px; width:132px;}
.header .h_top .openlnb {position:absolute; left:5px; top:6px; padding:10px;}
.header .h_top .openlnb img {width:15px;}
.header .h_top .btn_cart {position:absolute; right:12px; top:7px;}
.header .h_top .btn_cart img {width:22px;}
.header .h_top .btn_cart .num {position:absolute; left:12px; top:-1px; font-size:9px; color:#fff;font-family:"OpenSansBold";}
.header .lnb_area {display:none; position:relative; width:100%; height:100%;}
.header .lnb_area .dim {position:fixed; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.7;  filter: alpha(opacity=70);z-index:1}
.header .lnb_area .lnb {position:fixed; left:-280px; top:0; width:280px; height:100%; z-index:5; overflow-y:auto; }
.header .lnb_area .lnbclose {display:block;  position:absolute; left:286px; top:-78px; width:30px; height:30px; background:url("/aboutCom/images/common/btn_lnbclose.gif") 0 0px no-repeat; background-size:cover; z-index:5; font-size:0; }
.header .btn_search {position:absolute; right:50px; top:14px;}
.header .btn_search img {width:16px;}
.header .h_menu { background:#fff; border-bottom:1px solid #dddad9;}
.header .h_menu ul{}
.header .h_menu ul:after {display:block; clear:both; content:'';}
.header .h_menu ul li {float:left; width:33.3333%;  padding:14px 0; }
.header .h_menu ul li a {display:inline-block; font-size:12px; width:100%; text-align:center; color:#1b1818;font-weight:normal;-webkit-text-stroke-width:0.5px;}

.lnb .userclass_info {padding:18px 15px; font-size:13px; color:#1c1c1c;background:#fff;}
.lnb .logintxt {padding:15px; font-size:13px; color:#1c1c1c;background:#fff;}
.lnb .userclass_info.vip span {color:#403836; border-bottom:1px solid #403836;}
.lnb .userclass_info.gold span {color:#bfa32c; border-bottom:1px solid #bfa32c;}
.lnb .userclass_info.siver span {color:#aaaaaa; border-bottom:1px solid #aaaaaa;}
.lnb .userclass_info.bronze span {color:#947158; border-bottom:1px solid #947158;}
.lnb .btn_cart {position:absolute; right:24px; top:17px;}
.lnb .btn_cart img {width:19px;}
.lnb .nav {border-top:1px solid #dddad9; border-bottom:1px solid #dddad9; background:#f7f3f2;}
.lnb .nav .depth1 {background:#fff;}
.lnb .nav .depth1:after {display:block; clear:both; content:'';}
.lnb .nav .depth1 li {width:50%; float:left; }
.lnb .nav .depth1 li a {display:block; padding:15px; font-size:13px; border-bottom:1px solid #f7f3f2; border-left:1px solid #f7f3f2;  margin-left:-1px;font-weight:normal;-webkit-text-stroke-width:0.5px;}
.lnb .nav .depth1 li.slidetype {position:relative; width:100%; clear:both; float:none;}
.lnb .nav .depth1 li.slidetype:after{display:block; content:''; position:absolute; right:15px; top:18px; width:16px; height:8px; background:url("/aboutCom/images/common/bg_lnbslide.gif") 0 -22px no-repeat; background-size:cover;}
.lnb .nav .depth1 li.slidetype.v2:after{display:none;}
.lnb .nav .depth1 li.slidetype.on:after{background-position:0 0;}
.lnb .nav .depth1 li.slidetype a {border-bottom:1px solid #dddad9;}
.lnb .nav .depth1 li.slidetype .depth2 {display:none; background:#f7f3f2; padding:8px 0;}
.lnb .nav .depth1 li.slidetype .depth2:after {display:block; clear:both; content:'';}
.lnb .nav .depth1 li.slidetype.on .depth2 {display:block;}
.lnb .nav .depth1 li.slidetype .depth2 li {float:none; width:100%;}
.lnb .nav .depth1 li.slidetype .depth2 li a {border:none; padding:10px 15px; margin-left:-1px;font-weight:normal;-webkit-text-stroke-width:0px;}
.lnb .nav .depth1 li.slidetype .fl {float:left; width:50%;}
.lnb .nav .depth1 li.slidetype .depth2 .tit a {padding-top:13px;padding-left:15px; padding-bottom:9px; font-size:13px; border:none; font-weight:normal;-webkit-text-stroke-width:0.5px; }
.lnb .nav .cscenter {background:#fff; margin-top:10px; padding:15px;}
.lnb .nav .cscenter .tit {font-size:11px; color:#1c1c1c;}
.lnb .nav .cscenter .tel a {display:block; font-size:18px; margin:5px 0; font-weight:normal;-webkit-text-stroke-width:0px;}
.lnb .nav .cscenter .txt {font-size:11px; color:#696361;letter-spacing:-1px;}



/* footer */
.footer {position:relative; padding-bottom:24px; width:100%; background:#584e4c; z-index:20;}
.setgood .footer {padding-bottom:100px;}
.footer .btn_term {border:1px solid #9f9998; margin:10px 15px 0 15px;}
.footer .btn_term a {color:#b8b5b4; display:block; padding:6px 0; text-align:center;}
.footer .btn_term a:after {display:inline-block; content:''; margin-left:6px; width:8px; height:6px; background:url("/aboutCom/images/common/bg_term.gif") 0 0 no-repeat; background-size:cover;}
.footer .btn_term a.on:after {background-position: 0 -20px;}
.footer .term_area {display:none;}
.footer .tel_area {height:58px; padding-top:15px; box-sizing:border-box; text-align:center; box-sizing:border-box; border-bottom:1px solid #837b7a;}
.footer .tel_area .tel {}
.footer .tel_area .tel img {width:84px; margin-top:2px;}
.footer .tel_area .txt {display:block; padding-top:7px;  text-align:center; color:#fff; font-size:10px;}
.footer .address {padding:19px 15px; font-size:10px; color:#fff;}
.footer .address dl {width:286px; margin:0 auto;overflow:hidden;}
.footer .address dt {float:left; width:64px; letter-spacing:-1px}
.footer .address dd {float:left; margin-left:11px;  width:208px; letter-spacing:-1px}
.footer .f_link {overflow:hidden;}
.footer .f_link ul {width:252px; margin:0 auto;}
.footer .f_link  li {float:left; background:url(/aboutCom/images/common/bg_bar.gif) 0 4px no-repeat; background-size:1px 8px; margin-left:12px; padding-left:12px;}
.footer .f_link  li:first-child {background:none; margin-left:0; padding-left:0;}
.footer .f_link  li a {font-size:10px; color:#fff;}
.footer .copy {margin-top:20px; text-align:center; font-family:"Verdana"; font-size:9px; color:#a7a7a7}
.footer .copy img {width:245px;}
.f_bottom {display:none; position:fixed; left:0; bottom:0; width:100%; z-index:40;}
.f_bottom .historyback {position:absolute; left:6px; bottom:6px;}
.f_bottom img {width:40px;}
.f_bottom .documtop {position:absolute; right:6px; bottom:6px;}

/* container */
.container {position:relative;  z-index:10;}

/*뒤로가기*/
.container .h2_area {position:relative; text-align:center;  border-bottom:1px solid #dddad9; background:#fff;}
.container .h2_area h2 {padding:12px 0 10px 0; font-size:14px; color:#403836; text-align:center; background:#fff}
.container .historyback {position:absolute; left:15px; top:14px;}
.container .historyback img {width:13px;}

/*상단검색*/
.h_search_wrap {display:none;position:absolute; left:0; top:46px; width:100%; height:43px;background:#fff;}
.h_search_wrap .dimd {display:block; position: fixed; left: 0; top:90px; width: 100%; height: 100%; background: #000; opacity: 0.5;}
.h_search_wrap .h_search {display:block;position:relative; margin:2px 15px 12px 15px; padding-right:37px; height:32px; border-bottom:1px solid #c0c0c0}
.h_search_wrap .h_search input {padding-left:10px;padding-right:10px;width:100%; height:32px; border:1px solid #fff; font-size:13px; font-family: 'NanumBarunGothicLight'; color:#bbb5b4;box-sizing:border-box;-webkit-box-sizing:border-box;}
.h_search_wrap .h_search .btn_search {position:absolute; right:0; top:0;}
.h_search_wrap .h_search .btn_search img {width:34px;}