.main .container {padding-top:10px; background:#f7f3f2; font-weight:normal; }
.mainbnr {position:relative;  border-bottom:1px solid #d9d4d3; overflow:hidden;}
.mainbnr img {width:100%;}
/* .mainbnr .timearea {position:absolute; left:15px; top:30px;width:115px; height:32px; background:url("/aboutCom/images/common/bg_time.png") 0 0 no-repeat; background-size:cover;}
.mainbnr .main_time {font-family:"OpenSansBold"; font-size:20px; color:#fff; }
.mainbnr .tcolon {display:none}
.mainbnr .txt_hour {margin-right:19px; margin-left:4px;}
.mainbnr .txt_minute {margin-right:19px;} */
.mainbnr .timearea {position:absolute;top:7%;left:6%;}
.mainbnr .timearea strong {display:inline-block; font-family:"OpenSansBold"; font-size:20px; padding:1px 5px 2px ; background-color:#000;color:#fff;}
.mainbnr .tcolon {display:inline-block; font-size:0; line-height:20px; vertical-align:top; margin:0 3px; margin-top:10px; width:4px; height:12px; background:url("/aboutCom/images/common/bg_tcolone.png") 0 0 no-repeat; background-size:cover;}

.mainbnr .nav {position:absolute; bottom:15px; left:50%; overflow:hidden; z-index:1}
.mainbnr .nav li {float:left; margin-left:2px; } 
.mainbnr .nav li:first-child {margin-left:0;}
.mainbnr .nav li a {display:block; width:7px; height:7px; background:url("/aboutCom/images/common/bnr_nav.png") 0 0 no-repeat; background-size:cover;} 
.mainbnr .nav li.cnt a {background-position:-10px 0;}
.mainbnr .slider {width:99999px; overflow: hidden;}
.mainbnr .slider li {position:relative;  float:left;}

@media only screen and (min-width:320px){
	.mainbnr .timearea strong {font-size:20px;}
}
@media only screen and (min-width:360px){
	.mainbnr .timearea strong {font-size:20px;}
}
@media only screen and (min-width:480px){
	.mainbnr .timearea strong {font-size:35px;}
	.mainbnr .tcolon {margin-top:20px}
}
@media only screen and (min-width:640px){
	.mainbnr .timearea strong {font-size:40px;}
	.mainbnr .tcolon {margin-top:25px}
}


.mainevent {margin-top:10px; background:#fff; padding:0 15px; border-bottom:1px solid #d9d4d3; text-align:center;}
.mainevent h2 {display:inline-block; padding-top:13px; margin-bottom:13px;  font-weight:normal; font-size:14px; color:#1b1818; text-align:center; border-bottom:1px solid #1b1818;}
.mainevent .imgbnr_wrap {padding:15px 0; border-top:1px solid #dddad9; border-bottom:1px solid #dddad9; }
.mainevent .imgbnr {}
.mainevent .imgbnr img {width:100%;}


.mainevent .eventpro_bnr {margin-top:10px; overflow:hidden;}
.mainevent .eventpro_bnr .btnarea {position:relative; font-size:0;}
.mainevent .eventpro_bnr .btnarea .prev {position:absolute; left:0; top:83px; display:block; width:30px; height:30px; background:url("/aboutCom/images/common/btn_prevnext.png") 0 0 no-repeat; background-size:cover;}
.mainevent .eventpro_bnr .btnarea .next {position:absolute; right:0; top:83px;  display:block; width:30px; height:30px;  background:url("/aboutCom/images/common/btn_prevnext.png") 0 -60px no-repeat; background-size:cover;}
.mainevent .eventpro_bnr .slider {width:99999px; overflow:hidden;}
.mainevent .eventpro_bnr .slider li {float:left; margin:0 5px; padding-bottom:13px; box-sizing:border-box; text-align:left;}
.mainevent .eventpro_bnr .slider li img {display:block; width:135px; margin:0 auto;}
.mainevent .eventpro_bnr .slider li .tit {display:block; margin-top:9px;padding-left:5px;  font-size:12px; color:#1b1818; font-weight:normal; -webkit-text-stroke-width:0.5px;}
.mainevent .eventpro_bnr .slider li .price {display:block; padding-left:5px; font-size:13px; color:#1b1818; }
.mainevent .eventpro_bnr .slider li .price del {display:block;  margin-top:7px; margin-bottom:6px; font-size:10px; color:#bbb5b4}


.mainevent .probnr {position:relative; margin-top:10px; height:135px; text-align:left;}
.mainevent .probnr .detail { padding-left:10px;}
.mainevent .probnr .detail .ico {margin-top:10px;}
.mainevent .probnr .detail .tit {display:block; margin-top:7px; font-size:15px; color:#1b1818; font-weight:normal; -webkit-text-stroke-width:0.5px; }
.mainevent .probnr .detail .price {display:block;margin-top:25px; font-size:13px; color:#1b1818; }
.mainevent .probnr .detail .price del {display:block; font-weight:normal; font-size:10px; color:#bbb5b4; margin-bottom:4px; }
.mainevent .probnr .photo {position:absolute; right:0; top:0; width:135px;}
.mainevent .probnr .photo img {width:100%;}

.mainevent .btn_moreevent {display:block; margin:15px 0; padding:10px 0 9px 0; background:#9b9796; font-size:11px; color:#fff; text-align:center; }
.mainevent .btn_moreevent:after {display:inline-block; position:relative; top:1px; content:''; margin-left:6px; width:6px; height:9px; background:url("/aboutCom/images/common/bul12.png") 0 -43px no-repeat; background-size:cover; vertical-align:1;}



.skintype_recom {margin-top:10px; padding:15px 0; background:#fff; border-bottom:1px solid #d9d4d3; text-align:center;}
.skintype_recom  h2 {display:inline-block; margin-bottom:15px; font-size:14px; color:#1b1818; text-align:center; border-bottom:1px solid #1b1818;}
.skintype_recom .tittxt {float:left; margin-top:15px; margin-left:25px; font-size:14px; color:#696361; text-align:left;}
.skintype_recom .tittxt strong {color:#1b1818}
.skintype_recom .skintype {float:left; margin-left:19px; width:75px;}
.skintype_recom .ico_skin {display:block; width:75px; height:75px; margin:0 auto; background:url("/aboutCom/images/common/ico_skintype.jpg") 0 0 no-repeat; background-size:cover;}
.skintype_recom .ico_skin.type1 {background-position: 0 0} 
.skintype_recom .ico_skin.type2 {background-position:0 -75px}
.skintype_recom .ico_skin.type3 {background-position:0 -150px}
.skintype_recom .ico_skin.type4 {background-position:0 -225px}
.skintype_recom .ico_skin.type5 {background-position:0 -300px}
.skintype_recom .ico_skin.type6 {background-position:0 -375px}
.skintype_recom .ico_skin.type7 {background-position:0 -450px}
.skintype_recom .ico_skin.type8 {background-position:0 -525px}
.skintype_recom .txt_skintype span {display:inline-block; font-size:12px; color:#1b1818;}
.skintype_recom .btn_viewprd {margin-top:15px;}

.skintype_recom .nologin .tittxt {float:none;margin-bottom:30px; }
.skintype_recom .ico_all {display:block; width:209px; margin: 0 auto; margin-bottom:34px; }


.skintype_recom .eventpro_bnr {border-top:1px solid #ede9e9; margin-left:15px; margin-top:10px; overflow:hidden;}
.skintype_recom .eventpro_bnr .btnarea {position:relative; font-size:0;}
.skintype_recom .eventpro_bnr .btnarea .prev {position:absolute; left:0; top:83px; display:block; width:30px; height:30px; background:url("/aboutCom/images/common/btn_prevnext.png") 0 0 no-repeat; background-size:cover;}
.skintype_recom .eventpro_bnr .btnarea .next {position:absolute; right:0; top:83px;  display:block; width:30px; height:30px;  background:url("/aboutCom/images/common/btn_prevnext.png") 0 -60px no-repeat; background-size:cover;}
.skintype_recom .eventpro_bnr .slider {width:99999px; overflow:hidden;}
.skintype_recom .eventpro_bnr .slider li {float:left; margin:0 5px; padding-bottom:13px; box-sizing:border-box; text-align:left;}
.skintype_recom .eventpro_bnr .slider li img {display:block; width:135px; margin:0 auto;}
.skintype_recom .eventpro_bnr .slider li .tit {display:block; margin-top:9px;padding-left:5px;  font-size:12px; color:#1b1818; font-weight:normal; -webkit-text-stroke-width:0.5px;}
.skintype_recom .eventpro_bnr .slider li .price {display:block; padding-left:5px; font-size:13px; color:#1b1818; }
.skintype_recom .eventpro_bnr .slider li .price del {display:block;  margin-top:7px; margin-bottom:6px; font-size:10px; color:#bbb5b4}


.review_wrap {margin-top:10px;}
.review_wrap .top {position:relative; border-bottom:1px solid #dddad9; cursor:pointer; height:175px; overflow:hidden;}
.review_wrap .top .txtarea {position:relative; z-index:1; text-align:center;}
.review_wrap .top .tit {display:inline-block; padding-top:14px; font-size:14px; color:#fff; font-weight:normal; -webkit-text-stroke-width:0.5px; border-bottom:1px solid #fff;}
.review_wrap .top .num {margin-top:16px; font-family:"OpenSansBold"; font-size:50px; color:#fff;}
.review_wrap .top .txt { margin-top:3px; font-size:12px; color:#fff;}
.review_wrap .top .txt:after {display:block; width:15px; height:16px; margin:0 auto; margin-top:10px; content:''; background:url("/aboutCom/images/common/bul30.png") 0 -239px no-repeat; background-size:cover;}
.review_wrap .top img.bg_img {position:absolute; left:0; top:0; width:100%;}
.review_wrap .review {display:none; padding:15px; background:#fff;border-bottom:1px solid #dddad9;}
.review_wrap .review .proarea {padding-bottom:15px; border-bottom:1px solid #f7f3f2; overflow:hidden;}
.review_wrap .review .proarea .photo {float:left;}
.review_wrap .review .proarea .photo img {width: 60px;}
.review_wrap .review .proarea .detail {float:left; margin-left:15px;font-size:12px; }
.review_wrap .review .proarea .detail .tit {margin-top:4px; font-weight:normal; -webkit-text-stroke-width:0.5px; color:#1b1818}
.review_wrap .review .proarea .detail .price {margin-top:8px; color:#1b1818}
.review_wrap .review .proarea .detail .price del {display:inline-block; font-size:10px; color:#bbb5b4; margin-right:5px;}
.review_wrap .review .txtarea { padding:15px 0 13px;}
.review_wrap .review .txtarea .info {position:relative;}
.review_wrap .review .txtarea .info .skin {display:block; width:55px; height:12px; background:url("/aboutCom/images/common/txt_skintype.gif") 0 0 no-repeat; background-size:cover;}
.review_wrap .review .txtarea .info .skin.dry {background-position: 0 -60px;}
.review_wrap .review .txtarea .info .skin.normal {background-position: 0 -30px;}
.review_wrap .review .txtarea .info .skin.oily {background-position: 0 0;}
.review_wrap .review .txtarea .info .writer {position:absolute; right:0; top:0px; }
.review_wrap .review .txtarea .info .writer .id {font-size:11px; color:#1b1818;}
.review_wrap .review .txtarea .info .writer .age{display:font-size:11px; color:#696361; }
.review_wrap .review .txtarea .info .writer .age:before {display:inline-block; content:''; margin-left:10px; margin-right:10px; width:1px; height:8px; background:url("/aboutCom/images/common/bg_bar2.gif") 0 0 no-repeat; background-size:cover;}
.review_wrap .review .txtarea .userrivew { margin-top:13px;color:#696361; display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;  }

.review_wrap .probnr {position:relative; margin-top:10px; height:135px; text-align:left;}
.review_wrap .probnr .detail { padding-left:10px;}
.review_wrap .probnr .detail .ico {margin-top:10px;}
.review_wrap .probnr .detail .tit {display:block; margin-top:7px; font-size:15px; color:#1b1818; font-weight:normal; -webkit-text-stroke-width:0.5px; }
.review_wrap .probnr .detail .price {display:block;margin-top:25px; font-size:13px; color:#1b1818; }
.review_wrap .probnr .detail .price del {display:block; font-weight:normal; font-size:10px; color:#bbb5b4; margin-bottom:4px; }
.review_wrap .probnr .photo {position:absolute; right:0; top:0; width:135px;}
.review_wrap .probnr .photo img {width:100%;}

.hotnow {position:relative; margin:10px 0; border-bottom:1px solid #dddad9;height:420px; overflow:hidden; text-align:center;}
.hotnow  h2 {display:inline-block; position:relative; font-size:14px; color:#1b1818; text-align:center; border-bottom:1px solid #1b1818; z-index:1; padding-top:15px;}
.hotnow .btn_area {position:absolute; right:0; top:0; width:61px;  z-index:1;}
.hotnow .btn_area a {display:block; width:30px; height:30px;  overflow:hidden;}
.hotnow .btn_area a.prev {float:left; background:url("/aboutCom/images/common/btn_hotnow_prev.png") 0 -45px no-repeat; background-size:cover;}
.hotnow .btn_area a.prev.off {background-position:0 0;}
.hotnow .btn_area a.next {float:left; margin-left:1px; background:url("/aboutCom/images/common/btn_hotnow_next.png") 0 -45px no-repeat; background-size:cover;}
.hotnow .btn_area a.next.off {background-position:0 0;}
.hotnow .lagre_img {}
.hotnow .lagre_img li {display:none; position:absolute; left:0; top:0; width:100%;}
.hotnow .lagre_img li img {width:100%;}
.hotnow .thum_img {position:absolute; bottom:20px; left:50%; height:67px; margin-left:-145px;}
.hotnow .thum_img li {position:relative; float:left; width:67px; margin-left:9px;}
.hotnow .thum_img li:first-child {margin-left:0;}
.hotnow .thum_img li .bg { position:absolute; left:0; top:0; width:67px; height:67px; border-radius:70px; border:1px solid #fff; box-sizing:border-box; background:#dddad9; opacity:0.5}
.hotnow .thum_img li.cnt .bg  {background:#fff; border:2px solid #33c1e5; opacity:1;}
.hotnow .thum_img li a {display:block; position:relative; z-index:1; padding-top:19px; text-align:center; color:#1b1818; font-size:12px;}
.hotnow .thum_img li.cnt a {}
