/*공통 스타일*/
.info_msg h3{font-size:12px;color:#696361;font-weight:normal;}
.info_msg h3 i.bl_info{display:inline-block;margin:-1px 4px 0 -1px;width:15px;height:15px;background:url("/aboutCom/images/common/bul30.png") 0 -63px no-repeat;background-size:cover;vertical-align:middle;}
.info_msg ul li{margin-top:4px;position:relative;padding-left:8px;font-size:11px;line-height:14px;color:#696361;}
.info_msg ul li:before{content:"-";position:absolute;left:0;}
.info_msg p{margin-top:7px;font-size:11px;line-height:15px;color:#696361;}
.info_msg p a{display:inline-block;margin:2px 0 16px;-webkit-text-stroke-width:0.5px;}

/*아이디 & 비밀번호 찾기 step1*/
.searchform{text-align:center;}
.searchform ul li{margin-top:20px;text-align:left;}
.searchform ul li dl dt{font-size:12px;color:#1b1818;-webkit-text-stroke-width:0.5px;}
.searchform ul li dl dd{margin-top:10px;font-size:0;}
.searchform .btn_brown_h40{margin-top:20px;width:143px;}


/*아이디 & 비밀번호 찾기 step2*/
.search_result{padding-top:80px;text-align:center;}
.search_result i.ico_person{display:inline-block;width:60px;height:60px;background:url("/aboutCom/images/common/ico_person.png") 0 0 no-repeat;background-size:cover;}
.search_result .msgbox{margin-top:12px;}
.search_result .msgbox .rsltinfo{font-size:13px;line-height:16px;color:#1c1c1c;}
.search_result .msgbox .rsltinfo em{-webkit-text-stroke-width:0.5px;}
.search_result .msgbox .rsltinfo strong{color:#33c1e5;}
.search_result .msgbox .joindate{margin-top:7px;display:inline-block;padding:7px;background-color:#eeecec;font-size:11px;color:#696361;}
.search_result .btn_brown_h50{margin-top:75px;width:100%;}

/*로그인*/
.login .loginform{margin-top:10px;}
.login .loginform label{display:block;margin-top:20px;font-size:12px;color:#1b1818;-webkit-text-stroke-width:0.5px;}
.login .loginform label input{margin-top:10px;}
.login .loginform .btn{width:100%;}
.login .sublink{margin-top:30px;text-align:center;}
.login .sublink ul{display:inline-block;}
.login .sublink ul:after{content:"";display:block;clear:both;}
.login .sublink ul li{float:left;position:relative;margin-left:1px;padding:0 5px;}
.login .sublink ul li:first-child{margin-left:0;padding-left:0;}
.login .sublink ul li:last-child{padding-right:0;}
.login .sublink ul li:before{content:"";display:inline-block;position:absolute;top:1px;left:-1px;width:1px;height:10px;background-color:#dedede;}
.login .sublink ul li:first-child:before{display:none;}
.login .sublink ul li a{padding:5px;font-size:12px;color:#696361;}
.login .info_msg{margin-top:32px;}

/*회원가입*/
.join .joinstep ul:after{content:"";display:block;clear:both;}
.join .joinstep ul li{float:left;position:relative;margin-left:5%;width:20.7%;font-size:12px;line-height:14px;color:#bbb5b4;text-align:center;}
.join .joinstep ul li:first-child{margin-left:0;}
.join .joinstep ul li:nth-child(3){width:22.9%;}
.join .joinstep ul li.cnt{color:#1b1818;}
.join .joinstep ul li:before{content:"";display:inline-block;position:absolute;top:13px;left:-12px;width:8px;height:13px;background:url("/aboutCom/images/membership/joinstep_arrow.png") 0 0 no-repeat;background-size:cover;}
.join .joinstep ul li:first-child:before{display:none;}
.join .joinstep ul li i{display:inline-block;margin-bottom:5px;width:40px;height:35px;background:url("/aboutCom/images/membership/joinstep.png") 0 0 no-repeat;background-size:cover;}
.join .joinstep ul li i.ico_d2{background-position:0 -72px;}
.join .joinstep ul li i.ico_d3{background-position:0 -144px;}
.join .joinstep ul li i.ico_d4{background-position:0 -216px;}
.join .joinstep ul li.cnt i{background-position:0 -36px;}
.join .joinstep ul li.cnt i.ico_d2{background-position:0 -108px;}
.join .joinstep ul li.cnt i.ico_d3{background-position:0 -180px;}
.join .joinstep ul li.cnt i.ico_d4{background-position:0 -252px;}
.join .msg{margin-top:16px;font-size:11px;line-height:16px;color:#696361;}

.join .step1 .certify{margin-top:20px;overflow:hidden;}
.join .step1 .certify span{float:left;display:inline-block;padding:15px;width:50%;height:150px;border:1px solid #d9d4d3;background-color:#fff;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;}
.join .step1 .certify .phone{border-width:0 1px 1px 0;border-right-color:#efe8e6;}
.join .step1 .certify .ipin{border-width:0 0 1px 0;}
.join .step1 .certify span i{display:block;margin:14px auto 0;height:58px;}
.join .step1 .certify span.phone i.ico_phone{width:34px;background:url("/aboutCom/images/membership/ico_phone.png") 0 0 no-repeat;background-size:cover;}
.join .step1 .certify span.ipin i.ico_ipin{width:50px;background:url("/aboutCom/images/membership/ico_ipin.png") 0 0 no-repeat;background-size:cover;}
.join .step1 .certify span .btn{margin-top:18px;width:100%;}
.join .step1 .info_msg{margin-top:14px;}

.join .step2 .boxtypeb{padding-bottom:15px;}
.join .step2 .boxtypea{padding-top:15px;}
.join .step2 .agreeform ul{margin-bottom:15px;}
.join .step2 .agreeform ul li{padding:10px 0;overflow:hidden;}
.join .step2 .agreeform ul li.all{padding:0 0 10px;border-bottom:1px solid #dddad9;}
.join .step2 .agreeform ul li .chkcon{color:#333;-webkit-text-stroke-width:0.5px;}
.join .step2 .agreeform ul li .view{float:right;display:inline-block;margin-top:5px;font-size:12px;color:#333;-webkit-text-stroke-width:0.5px;}
.join .step2 .agreeform ul li .view i{display:inline-block;margin-left:6px;width:15px;height:15px;background:url("/aboutCom/images/common/bul30.png") 0 -109px no-repeat;background-size:cover;vertical-align:middle;}
.join .step2 .agreeform .btn{width:49%;}
.join .step2 .agreeform a.btn + a.btn{margin-left:2%;}

.join .step3 .joinform{padding-top:15px;}
.join .step3 .joinform .title{padding-bottom:10px;border-bottom:1px solid #dddad9;overflow:hidden;}
.join .step3 .joinform .title h3{display:inline-block;font-size:12px;color:#333;}
.join .step3 .joinform .title .tips{float:right;font-size:11px;color:#696361;}
.join .step3 .joinform .title .tips .bl_essential{margin-right:3px;}
.join .step3 .joinform ul li{margin-top:20px;}
.join .step3 .joinform ul li:first-child{margin-top:15px;}
.join .step3 .joinform ul li dl dt{font-size:12px;color:#1b1818;-webkit-text-stroke-width:0.5px;}
.join .step3 .joinform ul li dl dt .bl_essential{margin-left:5px;}
.join .step3 .joinform ul li dl dd{margin-top:10px;}
.join .step3 .joinform ul li .frm_radio2{padding-top:5px;}
.join .step3 .joinform .btn_group{margin-top:25px;}
.join .step3 .joinform .btn_group .btn{width:49%;}
.join .step3 .joinform .btn_group .btn + .btn{margin-left:2%;}

.join .step4 .boxtypeb{padding-bottom:15px;}
.join .step4 .boxtypea{padding-top:15px;}
.join .step4 .title .member{font-size:13px;color:#1c1c1c;}
.join .step4 .title .titmsg{margin-top:5px;font-size:11px;line-height:16px;color:#696361;}
.join .step4 .mbinfo{margin-top:12px;width:100%;border-top:1px solid #dddad9;table-layout:fixed;}
.join .step4 .mbinfo tbody tr th{padding:14px 0;text-align:left;}
.join .step4 .mbinfo tbody tr th,
.join .step4 .mbinfo tbody tr td{border-bottom:1px solid #f7f3f2;}
.join .step4 .mbinfo tbody tr:last-child th,
.join .step4 .mbinfo tbody tr:last-child td{border-bottom:0;}
.join .step4 .btn_group{margin-top:15px;}
.join .step4 .btn_group .btn{width:49%;}
.join .step4 .btn_group .btn + .btn{margin-left:2%;}