/*공통*/
.mypage_top{padding-bottom:15px;}
.mypage_top h3{font-size:13px;color:#1b1818;}
.mypage_top .periodsel{display:block;position:relative;margin-top:10px;}
.mypage_top .periodsel:after{content:"";display:block;clear:both;}
.mypage_top .periodsel li{float:left;display:inline-block;width:96px;height:30px;border:1px solid #9f9998;border-width:1px 1px 1px 0;background-color:#ffffff;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;}
.mypage_top .periodsel li:first-child{border-width:1px;}
.mypage_top .periodsel li.cnt{background-color:#bbb5b4;}
/*.mypage_top .periodsel li.cnt:last-child{margin-bottom:42px;background-color:#bbb5b4;border-bottom-width:0;}*/
.mypage_top .periodsel li > a{display:inline-block;width:100%;font-size:12px;line-height:28px;color:#1c1c1c;text-align:center;}
.mypage_top .periodsel li.cnt > a{color:#fff;}
.mypage_top .periodsel li .periodin{display:none;position:absolute;top:30px;left:0;padding:8px 9px;width:100%;height:42px;border:1px solid #9f9998;border-width:0 1px 1px;background-color:#bbb5b4;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;}
.mypage_top .periodsel li.cnt .periodin{display:block;}
.mypage_top .periodsel li .periodin label{display:inline-block;width:34%;text-align:center;vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;}
.mypage_top .periodsel li .periodin label input[type="text"]{width:66px;border:0;background-color:#bbb5b4;font-size:12px;line-height:25px;color:#fff;text-align:center;}
.mypage_top .periodsel li .periodin label > a{display:inline-block;margin:-2px 0 0 5px;vertical-align:middle;}
.mypage_top .periodsel li .periodin label > a i.ico_calendar{display:inline-block;width:16px;height:17px;background:url("/aboutCom/images/common/ico_calendar.png") 0 0 no-repeat;background-size:cover;}
.mypage_top .periodsel li .periodin .hypen{display:inline-block;width:3.3%;font-size:12px;line-height:25px;color:#fff;text-align:center;vertical-align:top;}
.mypage_top .periodsel li .periodin .btn{margin-left:5%;width:23.7%;vertical-align:top;}

.mywrite_form ul li{margin-top:20px;}
.mywrite_form ul li:first-child{margin-top:0;}
.mywrite_form ul li dl dt{font-size:12px;color:#696361;}
.mywrite_form ul li dl dd{margin-top:10px;}
.mywrite_form ul li.inlinetype dl{overflow:hidden;}
.mywrite_form ul li.inlinetype dl dt{display:inline-block;}
.mywrite_form ul li.inlinetype dl dd{float:right;display:inline-block;margin-top:0;font-size:12px;color:#1b1818;}
.mywrite_form ul li.inlinetype dl dd.ing{color:#33c1e5;}
.mywrite_form .btn_group{margin-top:20px;}
.mywrite_form .btn_group .btn{width:49%;}
.mywrite_form .btn_group .btn + .btn{margin-left:2%;}

/* 메인 */
.mymain .mypoint{padding:8px 15px;height:40px;border-bottom:1px solid #d5cecd;background-color:#f7f3f2;overflow:hidden;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;}
.mymain .mypoint dt{float:left;display:inline-block;width:35%;font-size:12px;color:#696361;}
.mymain .mypoint dd{float:right;display:inline-block;padding-top:3px;width:65%;font-size:12px;color:#1b1818;text-align:right;}
.mymain .myinfobox{padding:15px 15px 10px;}
.mymain .myinfobox h3{font-size:12px;color:#696361;-webkit-text-stroke-width:0;}
.mymain .myinfobox .deliveryflow{margin-top:6px;padding:20px 0;border:3px solid #f7f3f2;}
.mymain .myinfobox .deliveryflow ul:after{content:"";display:block;clear:both;}
.mymain .myinfobox .deliveryflow ul li{float:left;position:relative;margin-right:5%;width:30%;height:62px;font-size:13px;line-height:17px;color:#696361;text-align:center;}
.mymain .myinfobox .deliveryflow ul li:nth-child(3n){margin-right:0;}
.mymain .myinfobox .deliveryflow ul li:nth-child(n+4){margin-top:15px;}
.mymain .myinfobox .deliveryflow ul li:after{content:"";display:inline-block;position:absolute;top:26px;left:-14%;width:10px;height:13px;background:url("/aboutCom/images/common/bul20.png") 0 -22px;background-size:cover;}
.mymain .myinfobox .deliveryflow ul li:nth-child(3n+1):after{display:none;}
.mymain .myinfobox .deliveryflow ul li strong{color:#33c1e5;}
.mymain .myinfobox .deliveryflow ul li .bg_d0{display:inline-block;padding-top:14px;width:57px;height:57px;border-radius:27px;background-color:#f7f3f2;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;}
.mymain .myinfobox .deliveryflow ul li i{display:block;margin:0 auto;width:85px;height:36px;background:url("/aboutCom/images/mypage/ico_deliveryflow.png") 0 0 no-repeat;background-size:cover;}
.mymain .myinfobox .deliveryflow ul li i.ico_d2{background-position:0 -72px;}
.mymain .myinfobox .deliveryflow ul li i.ico_d3{background-position:0 -144px;}
.mymain .myinfobox .deliveryflow ul li i.ico_d4{background-position:0 -216px;}
.mymain .myinfobox .deliveryflow ul li i.ico_d5{background-position:0 -288px;}
.mymain .myinfobox .deliveryflow ul li.cnt i.ico_d1{background-position:0 -36px;}
.mymain .myinfobox .deliveryflow ul li.cnt i.ico_d2{background-position:0 -108px;}
.mymain .myinfobox .deliveryflow ul li.cnt i.ico_d3{background-position:0 -180px;}
.mymain .myinfobox .deliveryflow ul li.cnt i.ico_d4{background-position:0 -252px;}
.mymain .myinfobox .deliveryflow ul li.cnt i.ico_d5{background-position:0 -324px;}
.mymain .myinfobox .myinfo_list ul li{position:relative;border-bottom:1px solid #efe8e6;}
.mymain .myinfobox .myinfo_list ul li:last-child{border-bottom:0;}
.mymain .myinfobox .myinfo_list ul li > a {display:block;padding:0 80px 0 15px;height:42px;line-height:44px;font-size:12px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.mymain .myinfobox .myinfo_list ul li > a span{font-size:12px;color:#1b1818;}
.mymain .myinfobox .myinfo_list ul li > a span em{margin-left:2px;font-size:10px;color:#696361;}
.mymain .myinfobox .myinfo_list ul li > a span em strong{margin-left:1px;color:#33c1e5;}
.mymain .myinfobox .myinfo_list ul li i.arrow_right{display:inline-block;position:absolute;top:15px;right:0;width:10px;height:13px;background:url("/aboutCom/images/common/bul20.png") 0 -87px no-repeat;background-size:cover;}
.mymain .myinfobox .myinfo_list ul li .btn_group{margin-top:5px;}
.mymain .myinfobox .myinfo_list ul li .btn_group .btn{width:32%;}
.mymain .myinfobox .myinfo_list ul li .btn_group .btn + .btn{margin-left:1.3333%;}
.mymain .myinfobox .myinfo_list ul li .concerns{margin-top:20px;overflow:hidden;}
.mymain .myinfobox .myinfo_list ul li .concerns .ctit{font-size:12px;color:#1b1818;}
.mymain .myinfobox .myinfo_list ul li .concerns .ctit .btn_set{float:right;display:inline-block;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox{margin-top:10px;padding:20px;width:100%;border:1px solid #f7f3f2;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl{position:relative;padding-left:112px;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl dt{display:inline-block;position:absolute;top:2px;left:4px;font-size:11px;color:#696361;text-align:center;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl dt:before{content:"";display:block;margin:0 auto 9px;width:65px;height:55px;background:url("/aboutCom/images/mypage/sp_skintype.png") 0 0 no-repeat;background-size:131px 487px;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl dt.mo:before{background-position:-66px 0px;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl dt.wr:before{background-position:-66px -61px;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl dt.br:before{background-position:-66px -122px;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl dt.wh:before{background-position:-66px -183px;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl dt.aa:before{background-position:-66px -244px;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl dt.fj:before{background-position:-66px -305px;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl dt.vi:before{background-position:-66px -366px;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl dt.uv:before{background-position:-66px -427px;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl dd{width:100%;font-size:12px;color:#696361;}
.mymain .myinfobox .myinfo_list ul li .concerns .msgbox dl dd .viewlink{display:inline-block;margin-top:18px;}

/* 배송/주문 조회 */
.myorder .myorder_con{padding:0;}
.myorder .myorder_con .total_count{padding:0 15px;border:1px solid #dddad9;border-width:1px 0;font-size:13px;line-height:43px;color:#1b1818;}
.myorder .myorder_con .total_count strong{color:#33c1e5;}
.myorder .myorder_con ul li{padding:0 15px;border-bottom:1px solid #d9d4d3;}
.myorder .myorder_con ul li dl dt{font-size:12px;line-height:41px;color:#696361;}
.myorder .myorder_con ul li dl dd .photo_info{position:relative;padding:15px 0 15px 75px;border-top:1px dashed #efe8e6;}
.myorder .myorder_con ul li dl dd .photo_info .photo{position:absolute;top:15px;left:0;width:60px;}
.myorder .myorder_con ul li dl dd .photo_info .photo img{width:60px;}
.myorder .myorder_con ul li dl dd .photo_info .detail{display:block;margin-left:15px;}
.myorder .myorder_con ul li dl dd .photo_info .detail .ordergoods{font-size:12px;color:#1b1818;}
.myorder .myorder_con ul li dl dd .photo_info .detail .price{display:block;margin-top:2px;font-size:12px;color:#696361;}
.myorder .myorder_con ul li dl dd .photo_info .detail .orderdate{display:block;margin-top:19px;font-size:10px;color:#9f9998;}
.myorder .myorder_con ul li dl dd .state_info{padding:6px 0;border-top:1px solid #f7f3f2;}
.myorder .myorder_con ul li dl dd .state_info .state{position:relative;padding-left:10px;font-size:12px;line-height:30px;color:#696361;}
.myorder .myorder_con ul li dl dd .state_info .state:before{content:"";display:inline-block;position:absolute;top:5px;left:0;width:6px;height:5px;background:url("/aboutCom/images/common/bul12.png") 0 0 no-repeat;background-size:cover;}
.myorder .myorder_con ul li dl dd .state_info .btn{float:right;}

/* 주문상세 */
.myorder_list .info2{padding-bottom:19px;}
.myorder_list .product_list{position:relative;padding:0;}
.myorder_list .product_list h3{margin:0 15px;padding:6px 0;font-size:13px;line-height:30px;color:#1b1818;border-bottom:1px solid #dddad9;overflow:hidden;}
.myorder_list .product_list > .btn{position:absolute;top:6px;right:15px;width:37.5%;-webkit-text-stroke-width:0;}
.myorder_list .product_list ul > li{padding:0 15px 14px;border-bottom:1px solid #d9d4d3;}
.myorder_list .product_list ul > li.setgoods{padding:14px 15px 15px;background-color:#f1f1f0;}
.myorder_list .product_list ul > li.setgoods h4{display:inline-block;font-size:12px;color:#1b1818;-webkit-text-stroke-width:0;overflow:hidden;vertical-align:middle;}
.myorder_list .product_list ul > li.setgoods .stxt{display:inline-block;margin-left:5px;font-size:10px;color:#696361;}
.myorder_list .product_list ul > li.setgoods > .btn_group{margin:8px 0 10px;text-align:right;}
.myorder_list .product_list ul > li.setgoods > .btn_group .btn{width:37.5%;}
.myorder_list .product_list ul > li.setgoods ul{margin-top:14px;background-color:#fff;}
.myorder_list .product_list ul > li.setgoods ul > li{padding-bottom:0;}
.myorder_list .product_list ul > li .product_info > li{position:relative;padding:0;border:1px solid #f7f3f2;border-width:1px 0 0;color:#696361;overflow:hidden;}
.myorder_list .product_list ul > li .product_info > li.photo_info{position:relative;padding:10px 0 10px 75px;border-top:0;}
.myorder_list .product_list ul > li .product_info > li.photo_info .photo{position:absolute;top:10px;left:0;width:60px;}
.myorder_list .product_list ul > li .product_info > li.photo_info .photo img{width:60px;}
.myorder_list .product_list ul > li .product_info > li.photo_info .detail{}
.myorder_list .product_list ul > li .product_info > li.photo_info .detail .tit{display:block;margin-top:10px;font-size:12px;color:#1b1818;-webkit-text-stroke-width:0.5px;}
.myorder_list .product_list ul > li .product_info > li.photo_info .detail .price{display:block;margin-top:9px;font-size:12px;color:#1b1818;}
.myorder_list .product_list ul > li .product_info > li.photo_info .detail .price del{font-size:10px;margin-right:6px;color:#696361;}
.myorder_list .product_list ul > li .product_info > li.count_info{line-height:40px;}
.myorder_list .product_list ul > li .product_info > li.count_info .tit{font-size:12px;color:#696361;}
.myorder_list .product_list ul > li .product_info > li.count_info .num {float:right;display:inline-block;font-size:12px;color:#696361;}
.myorder_list .product_list ul > li .product_info > li.count_info .num strong{color:#1b1818}
.myorder_list .product_list ul > li .product_info > li.pay_info{line-height:40px;}
.myorder_list .product_list ul > li .product_info > li.pay_info{font-size:12px;color:#696361;}
.myorder_list .product_list ul > li .product_info > li.pay_info .num{float:right;display:inline-block;font-size:12px;color:#1b1818;}
.myorder_list .product_list ul > li .product_info > li.state_info{padding:6px 0;border-top:1px dashed #efe8e6;line-height:30px;}
.myorder_list .product_list ul > li .product_info > li.state_info .state{position:relative;padding-left:10px;font-size:12px;color:#696361;}
.myorder_list .product_list ul > li .product_info > li.state_info .state:before{content:"";display:inline-block;position:absolute;top:5px;left:0;width:6px;height:5px;background:url("/aboutCom/images/common/bul12.png") 0 0 no-repeat;background-size:cover;}
.myorder_list .product_list ul > li .product_info > li.state_info .btn{float:right;}
.myorder_list .product_list ul > li .product_info > li.state_info .num{float:right;display:inline-block;font-size:12px;color:#1b1818;}
.myorder_list .boxtypec{position:relative;padding-bottom:0;}
.myorder_list .boxtypec h3{padding-bottom:8px;border-bottom:1px solid #dddad9;font-size:13px;color:#1b1818;}
.myorder_list .con_list li{position:relative;padding:13px 0;border-bottom:1px solid #f7f3f2;color:#696361;overflow:hidden;}
.myorder_list .con_list li div{position:relative;padding:5px 0;}
.myorder_list .con_list li div:after{display:block;clear:both;content:'';}
.myorder_list .con_list .tit{display:inline-block;font-size:12px;color:#696361;}
.myorder_list .con_list .stit{padding-left:10px;font-size:11px;position:relative;}
.myorder_list .con_list .stit:before{content:'';display:inline-block;position:absolute;top:2px;left:0;width:6px;height:5px;background:url("/aboutCom/images/common/bul12.png") 0 0 no-repeat;background-size:cover;}
.myorder_list .con_list .num{display:block;position:absolute;top:13px;right:0;font-size:12px;color:#1b1818;}
.myorder_list .con_list li.bbnone{border-bottom:0;}
.myorder_list .total_paywrap{position:relative;margin-top:-1px;padding-bottom:15px;border-top:1px solid #99e0f2;border-bottom:1px solid #d9d4d3;background:#fff;}
.myorder_list .total_paywrap .total_pay{padding:0 15px;background:#eaf9fc;color:#1b1818;}
.myorder_list .total_paywrap .total_pay .point{padding:13px 0; overflow:hidden; border-bottom:1px solid #fff;}
.myorder_list .total_paywrap .total_pay .point dt{float:left; font-size:12px;}
.myorder_list .total_paywrap .total_pay .point dd{float:right; font-size:12px;}
.myorder_list .total_paywrap .total_pay .amount{padding:13px 0;  overflow:hidden;}
.myorder_list .total_paywrap .total_pay .amount dt {float:left; font-size:12px; -webkit-text-stroke-width:0.5px; line-height:18px;}
.myorder_list .total_paywrap .total_pay .amount dd {float:right;  font-size:18px; -webkit-text-stroke-width:0.5px;}
.myorder_list .total_paywrap .pstxt2 {margin-left:15px; padding:10px 0 0 14px; color:#696361; font-size:11px;}
.myorder_list .total_paywrap .pstxt2 {padding-top:10px; font-size:11px; color:#9f9998; text-indent:-7px; padding-left:15px;}
.myorder_list .total_paywrap .pstxt2 span {color:#33c1e5; display:inline-block; margin-right:4px;}
.myorder_list .addressform2 li {padding:13px 0; border-bottom:1px solid #f7f3f2;}
.myorder_list .addressform2 li dl {font-size:12px; }
.myorder_list .addressform2 li dl dt {display:table-cell; width:101px; color:#696361; vertical-align:middle;}
.myorder_list .addressform2 li dl dt span {color:#9f9998;}
.myorder_list .addressform2 li dl dd {display:table-cell; color:#1b1818;vertical-align:middle;}
.myorder_list .boxtypec.payinfo {padding-bottom:20px;}
.myorder_list .boxtypec.payinfo h3 {border:none;}
.myorder_list .boxtypec.payinfo .wrap {border:1px solid #dddad9; padding:14px 20px;}
.myorder_list .boxtypec.payinfo .wrap dl {display:table; width:100%; margin:5px 0;}
.myorder_list .boxtypec.payinfo .wrap dt {display:table-cell; width:35%; color:#696361; vertical-align:middle;}
.myorder_list .boxtypec.payinfo .wrap dd {display:table-cell; width:65%;color:#1b1818; text-align:right; vertical-align:middle;}
.myorder_list .odercon{padding-bottom:20px;}
.myorder_list .odercon h3 {border-bottom:none;  padding-bottom:0;}
.myorder_list .odercon .tit {color:#696361; margin-top:20px;}
.myorder_list .odercon .contxt {color:#1b1818; margin-top:6px;}
.myorder_list .odercon .contxt span {color:#696361;}
.myorder_list .odercon .contxt span.fcblue {color:#33c1e5;}
.myorder_list .odercon i.tel {width:15px; height:14px; display:inline-block; margin-right:2px; background:url("/aboutCom/images/common/bul30.png") 0 -155PX; background-size:cover; vertical-align:middle;}

/* 교환/반품신청 */
.myreturn .myreturn_con{background-color:#fff;}
.myreturn .myreturn_con table{width:100%;table-layout:fixed;}
.myreturn .myreturn_con table thead tr th{background-color:#696361;font-size:12px;line-height:42px;color:#fff;-webkit-text-stroke-width:0;}
.myreturn .myreturn_con table tbody tr td{border-bottom:1px solid #e0dddc;font-size:12px;color:#1b1818;}
.myreturn .myreturn_con table thead tr th:first-child{border-right:1px solid #817b7a;}
.myreturn .myreturn_con table tbody tr td:first-child{border-right:1px solid #f7f3f2;}
.myreturn .myreturn_con table tbody tr td:last-child{text-align:center;}
.myreturn .myreturn_con table tbody tr td a{display:block;padding:5px 0 5px 13px;}
.myreturn .myreturn_con table tbody tr td .ordernum{display:block;padding-right:15px;font-size:10px;line-height:28px;color:#1b1818;overflow:hidden;}
.myreturn .myreturn_con table tbody tr td .ordernum .date{float:right;color:#9f9998;}
.myreturn .myreturn_con table tbody tr td .ordertit{display:block;padding-right:15px;border-top:1px dashed #efe8e6;line-height:33px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.myreturn .myreturn_con table tbody tr td.ing{color:#34c1e5;}

.myreturn .myreturn_view table{width:100%;table-layout:fixed;}
.myreturn .myreturn_view table tbody tr th,
.myreturn .myreturn_view table tbody tr td{padding:15px 10px;border:1px solid #f7f3f2;border-width:1px 0;font-size:12px;line-height:15px;text-align:left;}
.myreturn .myreturn_view table tbody tr th{background-color:#f9f6f5;-webkit-text-stroke-width:0;}
.myreturn .myreturn_view table tbody tr td.ing{color:#33c1e5;}
.myreturn .myreturn_view .btn_group{margin-top:20px;text-align:center;}
.myreturn .myreturn_view .btn_group .btn{width:32%;}
.myreturn .myreturn_view .btn_group .btn + .btn{margin-left:2%;}

/* 찜목록 */
.wishlist .mypage_top .count{padding-bottom:10px;font-size:13px;color:#1b1818;-webkit-text-stroke-width:0.5px;}
.wishlist .mypage_top .count i.bl_wish{margin-right:2px;}
.wishlist .mypage_top .count em{color:#33c1e5;}
.wishlist .mypage_top .cmd{padding-top:15px;border-top:1px solid #dddad9;overflow:hidden;}
.wishlist .mypage_top .cmd .btn_group{float:right;width:58%;}
.wishlist .mypage_top .cmd .btn_group .btn{width:48.5%;}
.wishlist .mypage_top .cmd .btn_group .btn + .btn{margin-left:3%;}
.wishlist .product_list ul > li{position:relative;padding:10px 15px 20px;border-top:1px solid #dddad9}
.wishlist .product_list ul > li a.del_ico{position:absolute;top:13px;right:15px;width:13px;height:14px;background:url("/aboutCom/images/common/bul30.png") 0 0 no-repeat;background-size:cover;}
.wishlist .product_list ul > li .product_info > li{position:relative;padding:13px 0;border-top:0;border-bottom:1px solid #f7f3f2;color:#696361;}
.wishlist .product_list ul > li .product_info > li.photo_info{position:relative;padding:10px 0 10px 75px;}
.wishlist .product_list ul > li .product_info > li.photo_info .photo {position:absolute;top:10px;left:0;width:60px;}
.wishlist .product_list ul > li .product_info > li.photo_info .photo img { width:60px;}
.wishlist .product_list ul > li .product_info > li.photo_info .detail {}
.wishlist .product_list ul > li .product_info > li.photo_info .detail .ico {}
.wishlist .product_list ul > li .product_info > li.photo_info .detail .tit {display:block; margin-top:10px;font-size:12px;  color:#1b1818; -webkit-text-stroke-width:0.5px;}
.wishlist .product_list ul > li .product_info > li.photo_info .detail .price {display:block; margin-top:9px; font-size:12px; color:#1b1818;}
.wishlist .product_list ul > li .product_info > li.photo_info .detail .price del {font-size:10px; margin-right:6px; color:#696361;}
.wishlist .product_list ul > li .btn_group{margin-top:15px;}
.wishlist .product_list ul > li .btn_group .btn{width:49%;}
.wishlist .product_list ul > li .btn_group .btn + .btn{margin-left:2%;}

/* 1:1문의 */
.myquestion .question_list{padding:5px 15px;}
.myquestion .question_list > .btn_group{padding-bottom:10px;text-align:right;}
.myquestion .question_list .btn_group .btn{width:34%;}
.myquestion .question_list .toggle_box{}
.myquestion .question_list .toggle_box li .toggle_ti{padding-right:80px;}
.myquestion .question_list .toggle_box li .toggle_ti strong{-webkit-text-stroke-width:0;}
.myquestion .question_list .toggle_box li .toggle_ti .state{display:inline-block;position:absolute;top:50%;right:23px;margin-top:-6px;font-size:12px;color:#1b1818;}
.myquestion .question_list .toggle_box li.ing .toggle_ti .state{color:#34c1e5;}
.myquestion .question_list .toggle_box li .toggle_ti .txt_fdiv{display:block;margin-top:6px;font-size:10px;color:#1b1818;}
.myquestion .question_list .toggle_box li .toggle_ti .txt_fdiv em{margin-left:7px;color:#9f9998;}
.myquestion .question_list .toggle_box li .faq_a {display:none;padding:15px;border-top:1px dotted #efe8e6;background-color:#fcfafa;}
.myquestion .question_list .toggle_box li .faq_a .txt_q {position:relative;padding-left:15px;color:#696361;font-size:12px;line-height:16px;}
.myquestion .question_list .toggle_box li .faq_a .txt_q:before {content:"Q.";position:absolute;top:0;left:0;-webkit-text-stroke-width:0.5px;}
.myquestion .question_list .toggle_box li .faq_a .txt_q span{display:block;margin-top:5px;}
.myquestion .question_list .toggle_box li .faq_a .txt_a {position:relative;margin-top:10px;padding-left:15px;color:#7c7675;font-size:12px;line-height:16px;line-height:16px;}
.myquestion .question_list .toggle_box li .faq_a .txt_a:before {content:"A.";position:absolute;top:0;left:0;color:#33c1e5;-webkit-text-stroke-width:0.5px;}
.myquestion .question_list .toggle_box li .faq_a .date{display:block;margin-top:10px;padding-left:15px;font-size:10px;color:#9f9998;}
.myquestion .question_list .toggle_box li .faq_a .btn_group{margin-top:13px;}
.myquestion .question_list .toggle_box li .faq_a .btn_group .btn{width:31.5%;}
.myquestion .question_list .toggle_box li .faq_a .btn_group .btn + .btn{margin-left:5px;}

/* 회원정보수정 */
.mymodify .bullistb.v2 .info_sti{color:#696361;}
.mymodify .mywrite_form .btn_group .btn{width:50%;}

.mymodify .mywrite_form{padding-top:15px;}
.mymodify .mywrite_form .title{padding-bottom:10px;border-bottom:1px solid #dddad9;overflow:hidden;}
.mymodify .mywrite_form .title h3{display:inline-block;font-size:12px;color:#333;}
.mymodify .mywrite_form .title .tips{float:right;font-size:11px;color:#696361;}
.mymodify .mywrite_form .title .tips .bl_essential{margin-right:3px;}
.mymodify .mywrite_form ul li{margin-top:17px;}
.mymodify .mywrite_form ul li:first-child{margin-top:15px;}
.mymodify .mywrite_form ul li dl dt{font-size:12px;color:#1b1818;-webkit-text-stroke-width:0.5px;}
.mymodify .mywrite_form ul li dl dt .bl_essential{margin-left:5px;}
.mymodify .mywrite_form ul li dl dd{margin-top:10px;}
.mymodify .mywrite_form ul li.inlinetype dl dd{margin-top:0;}
.mymodify .mywrite_form ul li .frm_radio2{padding-top:5px;}
.mymodify .mywrite_form ul li.pwchange{position:relative;}
.mymodify .mywrite_form ul li.pwchange .btn{position:absolute;top:-9px;right:0;}
.mymodify .mywrite_form .btn_group{margin-top:25px;}
.mymodify .mywrite_form .btn_group .btn{width:49%;}
.mymodify .mywrite_form .btn_group .btn + .btn{margin-left:2%;}


/* 나의 쿠폰 */
.mycoupon .tabbox{padding:15px;}
.mycoupon .coupon_list .coupon_top{position:relative;padding:0 15px 15px;}
.mycoupon .coupon_list .coupon_top .count{font-size:12px;color:#1b1818;}
.mycoupon .coupon_list .coupon_top .count strong{color:#32bcde;}
.mycoupon .coupon_list .coupon_top .btn{position:absolute;top:0;right:15px;}
.mycoupon .coupon_list ul{border-top:1px solid #dddad9;}
.mycoupon .coupon_list li{position:relative;padding:20px 15px 20px 140px;border-bottom:1px solid #d9d4d3;}
.mycoupon .coupon_list li .couponimg{position:absolute;top:50%;left:20px;margin-top:-37px;width:100px;height:74px;background:url("/aboutCom/images/mypage/bg_coupon.png") 0 0 no-repeat;background-size:cover;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;}
.mycoupon .coupon_list li .couponimg.type1{padding-top:30px;font-size:13px;color:#32bcde;}
.mycoupon .coupon_list li .couponimg.type1 strong{font-size:20px}
.mycoupon .coupon_list li .couponimg.type2{padding-top:29px;background-position:0 -75px;font-size:11px;color:#403836;}
.mycoupon .coupon_list li .couponimg.type2 strong{font-size:20px}
.mycoupon .coupon_list li .couponimg.type3{padding-top:30px;background-position:0 -150px;font-size:14px;color:#9aca3c;-webkit-text-stroke-width:0.5px;}
.mycoupon .coupon_list li .detail{width:100%;}
.mycoupon .coupon_list li .detail .tit{font-size:12px;line-height:16px;color:#1b1818;}
.mycoupon .coupon_list li .detail .peorid{margin:8px 0;font-size:10px;line-height:13px;color:#696361;}
.mycoupon .coupon_list li .detail .nonbtn_pass{display:inline-block;width:100px;border:1px solid #dddad9;background-color:#fff;font-size:12px;line-height:28px;color:#a7a7a7;text-align:center;}

/* 나의 리뷰 */
.myreview .tabbox{padding:15px;}
.myreview .review_list .product_info .count_info{position:relative;border-top:1px solid #f7f3f2;line-height:40px;}
.myreview .review_list .product_info .count_info .tit{font-size:12px;color:#696361;}
.myreview .review_list .product_info .count_info .tit strong{color:#1b1818;}
.myreview .review_list .product_info .count_info .btn{position:absolute;top:5px;right:0;width:28.5%;}
