/*검색*/
.searcharea {padding:15px 13px; background:#eaf9fc;}
.searcharea .ipt_search {position:relative; display:block; width:100%; height:32px;}
.searcharea .ipt_search input {width:100%; height:30px; background:#fff; border:1px solid #fff; font-size:13px; color:#1b1818; padding-left:10px; box-sizing:border-box;}
.searcharea .ipt_search .btn_search {display:block; position:absolute; right:-1px; top:-1px; width:34px; height:32px; background:url("/aboutCom/images/common/btn_search.gif") 0 0 no-repeat; background-size:cover;}

.product_sort {position:relative;}
.product_sort .sort {position:absolute; right:15px; top:10px; width:85px;}
.product_sort .sort .select_a {width:100%;}

.totalnum_txt {padding:19px 15px 16px 15px; font-size:12px; color:#1c1c1c;}
/*product_list*/
.product_list {padding:0 15px;}
.product_list li {position:relative; padding: 15px 0 18px 0; border-bottom:1px solid #dddad9}
.product_list li label {position:absolute; left:0; top:15px;}
.product_list li .photo {width:125px; display:table-cell;}
.product_list li .photo img {width:109px;}
.product_list li .detail { display:table-cell;}
.product_list li .detail .ico {}
.product_list li .detail .tit {display:block; margin:8px 0;font-size:12px; color:#1b1818; font-weight:normal;-webkit-text-stroke-width:0.5px; letter-spacing:-1px;}
.product_list li .detail .stit {display:block; height:38px; overflow:hidden; font-size:10px; color:#bcbcbc; letter-spacing:-1px;}
.product_list li .detail .price {display:block;  font-size:13px; color:#1b1818;}
.product_list li .detail .price del {display:block;font-size:10px; color:#696361; }
.product_list li .btn_cart {display: block;position: absolute; right: 20px; bottom: 22px; width: 19px; height: 18px; background: url("/aboutCom/images/cart/btn_cart.gif") no-repeat  0 0; background-size: cover ;}

.datanone:before {margin-left:-16px;width:32px;height:32px; background:url("/aboutCom/images/common/ico_datanone.gif") 0 0; background-size:cover;}
.datanone .txt_none {padding-top:110px;}