@model AboutMe.Web.Front.Models.MyReviewCompleteViewModel
@using AboutMe.Web.Front.Controllers
@{
    Layout = null;
    var myController = ViewContext.Controller as SNSController;
}
<!--sns버튼-->
<div class="sns">
    <ul>
        <li><a href="#"><img src="/aboutCom/images/common/sns_facebook.gif" alt="페이스북" /></a></li>
        <li><a href="#"><img src="/aboutCom/images/common/sns_kakaostory.gif" alt="카카오스토리" /></a></li>
        <li><a href="#"><img src="/aboutCom/images/common/sns_kakaotalk.gif" alt="카카오톡" /></a></li>
    </ul>
</div>
<!--//sns버튼-->