@{
    ViewBag.Title = "join Step1";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}

@{
    //실명인증 작업구분을위한 unique한 값 생성 :50 byte 이내
    Random r = new Random();
    int randomNumber = r.Next(10000000, 90000000);
    string strNOW_TIME = @DateTime.Now.ToString("yyyyMMdd_HHmmss");
    string strWORK_TMP_ID = @strNOW_TIME + "_" + @randomNumber.ToString();

}

@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/membership.css" rel="stylesheet" />
}


<!--header-->
@section Header{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
}
<!--//header-->
<!--container-->
@section Body{


    <div class="wrap join">

        <script>
        //HP
        function jsSubmitHP(){
            window.open("", "auth_popup", "width=430,height=590,scrollbar=yes");
            var form1 = document.formREAL_NAME;
            form1.target = "auth_popup";
            form1.action = "/RealName/hp/hs_cnfrm_popup2.aspx";
            form1.submit();
            //popupWindowHP.focus();
        }

        //ipin
        function jsSubmitIPIN() {
            var popupWindow = window.open("", "kcbPop", "left=200, top=100, status=0, width=450, height=550");
            var form1 = document.formREAL_NAME;
            form1.target = "kcbPop";
            form1.action = "/RealName/ipin/ipin2.aspx";
            form1.submit();

            popupWindow.focus();
        }

        </script>

        <!--container-->
        <div id="container">
            <div class="container1080">
                <h2><img src="/aboutCom/images/membership/h2_join.gif" alt="회원가입" /><span>고객님의 가입여부 확인 및 개인 정보보호를 위해 실명확인 서비스를 실시하고 있습니다. </span></h2>
                <!--step-->
                <div class="joinstep"><img src="/aboutCom/images/membership/joinstep1.gif" alt="실명확인" /></div>
                <!--인증하기-->
                <div class="attestation">
                    <!--휴대폰 인증-->
                    <div class="phone">
                        <img src="/aboutCom/images/membership/ico_phone.gif" class="icoimg" alt="" /><br />
                        <a href="javascript:jsSubmitHP()" class="btn_brown_w185h48">휴대폰 인증하기</a><br />
                        <p>본인 명의의 <span>휴대전화로 인증번호</span>를 전송 받아 가입할 수 있습니다.</p>
                    </div>
                    <!--//휴대폰 인증-->
                    <!--아이핀 인증-->
                    <div class="ipin">
                        <img src="/aboutCom/images/membership/ico_ipin.gif" class="icoimg" alt="" /><br />
                        <a href="javascript:jsSubmitIPIN()" class="btn_brown_w185h48">아이핀 인증하기</a><br />
                        <p>본인 명의의 <span>아이핀 계정</span>으로 인증받아 가입할 수 있습니다.</p>
                    </div>
                    <!--//아이핀 인증-->
                </div>
                <!--//인증하기-->
                <!--알려드립니다-->
                <div class="boxtypec alert">
                    <span class="tit">알려<br />드립니다.</span>
                    <p class="txt">
                        정보통신망 이용촉진 및 정보보호 등에 관한 법률 제23조의 2 (주민등록번호의 사용 제한)에 의거하여 주민등록번호 사용을 원칙적으로 금지하는<br />개정된 정보통신망법이 2012년 8월 18일부터 시행되었고, 회원님들의 주민등록번호를 수집, 보관, 이용할 수 없게 되었습니다.<br />
                        [※ 정보통신망 이용촉진 및 정보보호 등에 관한 법률 전문보기]<br /><br />
                        회원가입을 원하시는 회원님들은 개정법에 따라 안전한 인증수단인 본인 인증을 이용하여 주시기 바랍니다.
                    </p>
                </div>
                <!--//알려드립니다-->
            </div>
        </div>
        <!--//container-->


        <script>
        //HP -test 임시
        function fSkipHP() {
        var form1 = document.kcbResultForm_HP;
        form1.target = "";
        form1.action = "/MemberShip/RealNameResult";
        form1.submit();
        }

        //ipin -test 임시
        function fSkipIPIN() {
        var form1 = document.kcbOutForm_IPIN;
        form1.target = "";
        form1.action = "/MemberShip/RealNameResult";
        form1.submit();
        }

        </script>









        <form name="formREAL_NAME" method="post" target="" action="">
            <input type="hidden" name="test" value="test"/>

        </form>


        <!-- 본인확인 처리결과 정보_HP -->
        <form name="kcbResultForm_HP" method="post">
            <input type="hidden" name="mem_id" value="" />
            <input type="hidden" name="tx_seqno" value="" />
            <input type="hidden" name="result_cd" value="" />
            <input type="hidden" name="result_msg" value="" />
            <input type="hidden" name="cert_dt_tm" value="" />
            <input type="hidden" name="di" value="" />
            <input type="hidden" name="ci" value="" />
            <input type="hidden" name="name" value="" />
            <input type="hidden" name="birthday" value="" />
            <input type="hidden" name="gender" value="" />
            <input type="hidden" name="nation" value="" />
            <input type="hidden" name="tel_com_cd" value="" />
            <input type="hidden" name="tel_no" value="" />

            <input type="hidden" name="M_JOIN_MODE" value="hp" />
            <input type="hidden" name="WORK_TMP_ID" value="@strWORK_TMP_ID" />
        </form>  

        <!-- 본인확인 처리결과 정보_ipin -->
        <form name="kcbOutForm_IPIN" method="post">
            <input type="hidden" name="encPsnlInfo" />
            <input type="hidden" name="virtualno" />
            <input type="hidden" name="dupinfo" />
            <input type="hidden" name="realname" />
            <input type="hidden" name="cprequestnumber" />
            <input type="hidden" name="age" />
            <input type="hidden" name="sex" />
            <input type="hidden" name="nationalinfo" />
            <input type="hidden" name="birthdate" />
            <input type="hidden" name="coinfo1" />
            <input type="hidden" name="coinfo2" />
            <input type="hidden" name="ciupdate" />
            <input type="hidden" name="cpcode" />
            <input type="hidden" name="authinfo" />

            <input type="hidden" name="M_JOIN_MODE" value="ipin" />
            <input type="hidden" name="WORK_TMP_ID" value="@strWORK_TMP_ID" />
        </form>


    </div>
}
<!--//container-->
<!--footer-->
@section Footer{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
}
<!--//footer-->
