
<div class="col-xs-2 sidebar">
    <h1><a href="/cmsManager/index.html"><img src="/aboutCom/images/h_logo.png" alt="ABOUT ME" /></a></h1>
    <!-- <a href="#" class="go_mystore">내 상점 바로가기</a> -->
    <!-- 왼쪽 메뉴 열고 닫기 -->
    <div class="menutoggle">
        <a href="#" class="btn btn-default small btnopen">전체열기</a>
        <a href="#" class="btn btn-primary small btnclose">전체닫기</a>
    </div>
    <!-- //왼쪽 메뉴 열고 닫기 -->

    <h2>상품관리</h2>
    <ul class="nav nav-sidebar depth1">
        <!-- 현재 페이지 활성화 시 "active" class 사용합니다.-->
        <li class="active">
            <a href="#" class="menu ">카테고리관리</a>
        </li>
        <li>
            <a href="#" class="menu">상품관리</a>
            <ul class="depth2">
                <li><a href="#">상품목록</a></li>
                <li><a href="#">상품진열설정</a></li>
                <li><a href="#">사은품관리</a></li>
            </ul>
        </li>
    </ul>
</div>