
@{
    Layout = null;
}
<!--오른쪽영역 : 상품상세 세트상품 정보-->
<div class="setgoods">
    <a href="#"><img src="/aboutCom/images/shopping/tit_setgoods.gif" alt="" /></a>
    <ul>
        <li>
            <a href="#">
                <img src="/aboutCom/images/sample/thum_recommend1.jpg" alt="" />
                <span class="tag"><span class="ico_new">NEW</span></span>
                <strong class="gti">스킨톤업마사지크림</strong>
                <span class="desc">매끈한 피부결을 위한 100%천연유래</span>
                <span class="price"><strong>23,000</strong>원</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/aboutCom/images/sample/thum_recommend2.jpg" alt="" />
                <span class="tag"><span class="ico_new">NEW</span></span>
                <strong class="gti">어바웃미 화장솜</strong>
                <span class="desc">이중압축 </span>
                <span class="price"><strong>950</strong>원</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/aboutCom/images/sample/thum_recommend2.jpg" alt="" />
                <span class="tag"><span class="ico_new">NEW</span></span>
                <strong class="gti">어바웃미 화장솜</strong>
                <span class="desc">이중압축 </span>
                <span class="price"><strong>950</strong>원</span>
            </a>
        </li>
    </ul>
</div>
<!--오른쪽영역 : 상품상세 세트상품 정보-->