
@{
    Layout = null;
}

<li>
    <strong>임직원가</strong>
    <span class="staff_price">22,400원</span>
</li>
<li>
    <strong>VIP 할인가</strong>
    <span class="staff_price">22,400원</span>
</li>
<li>
    <strong>즉시할인</strong>
    <span class="discount_num">10</span>% 할인쿠폰
    <a href="#" class="ml10 btn_coupondown">쿠폰 다운로드 <img src="/aboutCom/images/common/ico_down.gif" alt="" /></a>
</li>
<li>
    <strong>포인트</strong>
    ⓟ<span class="discount_num"> 298</span>
</li>