/*브랜드*/
.brand {}
.brand #container {padding-bottom:60px; background:#fff;}
.brand .container100per.bg1 {background:#faf6f5 url("/aboutCom/images/aboutme/bg_con1_w100.jpg") center 0 no-repeat;}
.brand .container100per.bg1 .inner {background:#faf6f5 url("/aboutCom/images/aboutme/bg_con1.jpg") 0 0 no-repeat;}
.brand .container100per.bg2 {background:#fff;}
.brand .container100per.bg2 .inner {background:#fff;}
/* .brand h2 {padding-top:42px; padding-bottom:40px; text-align:center;}
.brand .cont {background:url("/aboutCom/images/aboutme/bg_dotted.png") 0 0 repeat-x; text-align:center;}
.brand .cont.philosophy {padding-bottom:53px}
.brand .cont h3 {padding-top:60px; padding-bottom:36px;}
.brand .cont .tit {font-size:36px; color:#1c1513; padding-bottom:53px;}
.brand .cont .tit span {color:#33c1e5}
.brand .cont .txt {padding-top:34px; font-size:16px; color:#696361; line-height:30px; background:url("/aboutCom/images/aboutme/bg_bar.gif") center 0 no-repeat;}
.brand .cont .txt p {padding-top:30px;}
.brand .cont .txt p:first-child {padding-top:0;}
.brand .cont .txt .img_area {padding-top:51px; padding-bottom:40px;  text-align:center;}
.brand .cont .txt .img_area img {display:inline-block;}
.brand .cont .txt .img_area .img2 {margin-top:36px;}
.brand .cont .txt .img_area .img3 {margin-top:80px} */
.brand h2 {padding:42px 0; text-align:center; background:url("/aboutCom/images/aboutme/bg_dotted.png") 0 bottom repeat-x;}
.brand .tabswrap {padding:40px 0;}
.brand .tabs {width:625px; margin:0 auto; }
.brand .tabs:after {display:block; clear:both; content:'';}
.brand .tabs li {float:left;}
.brand .tabs li a {display:block; overflow:hidden; height:60px;}
.brand .tabs li.cnt a img {margin-top:-79px}
.brand .tabs li.tab1 {margin-right:134px;}
.brand .tabs li.tab2 {margin-right:142px;}
.brand .tabs li.tab3 {}
.brand .cont {padding:40px 0 60px; text-align:center; background:url("/aboutCom/images/aboutme/bg_dotted.png") 0 top repeat-x;}
.brand .cont.pt60 {padding-top:60px;}
.brand .cont h3 {margin-bottom:40px;}
.brand .cont .txtbox {}
.brand .cont .txtbox p {margin-top:27px; font-size:16px; color:#696361; line-height:26px;}
.brand .cont .txtbox p:first-child {margin-top:0;}
.brand .cont .txtbox p strong {font-size:18px; color:#1b1818;}
.brand .cont .txtbox p em {font-size:16px; color:#1b1818; font-weight:bold;}
.brand .cont .txtbox .meterialimg {padding:40px 0;}
.brand .cont .txtbox .meterial_list {}
.brand .cont .txtbox .meterial_list li {margin-top:45px; font-size:14px; color:#696361;}
.brand .cont .txtbox .meterial_list li:first-child {margin-top:0}
.brand .cont .txtbox .meterial_list li .tit {padding-bottom:17px;}

.shopbanner {padding-top:40px; text-align:center;}
.go_link {padding-top:40px;}
.go_link ul {}
.go_link ul:after { display:block;clear:both; content:'';}
.go_link ul li {float:left; margin-left:20px; border:5px solid #efe8e6;}
.go_link ul li:first-child {margin-left:0;}

/*매장*/
.store #container {padding-bottom:60px;}
.store h2 {padding:40px 0;  text-align:center;}
.store .store_area {background:url("/aboutCom/images/aboutme/bg_dotted.png") 0 0 repeat-x; }
/*.store .store_area .region {padding-top:40px;}
.store .store_area .region ul {}
.store .store_area .region ul:after {display:block; clear:both; content:'';}
.store .store_area .region ul li {float:left; margin-left:2px; margin-bottom:2px;}
.store .store_area .region ul li:first-child {margin-left:0;}
.store .store_area .region ul li a {display:block; padding:15px 21px; color:#fff; font-size:16px; background:#bbb5b4;}
.store .store_area .region ul li.cnt a {background:#403836;}
.store .map_area {padding-top:18px;}
.store .map_area:after {display:block; clear:both; content:'';}
.store .map_area .mapapi {float:left; border:1px solid #efe8e6;}
.store .map_area .store {position:relative; float:left; margin-left:20px;}
.store .map_area .store .btn_updown {}
.store .map_area .store .btn_updown a {display:block; width:26px; height:15px; background:url("/aboutCom/images/aboutme/btn_updown.png") 0 0 no-repeat; font-size:0;}
.store .map_area .store .btn_updown .up {position:absolute; left:115px; top:0px; background-position:0 -38px;}m
.store .map_area .store .btn_updown .up.disable {background-position:0 0px;}
.store .map_area .store .btn_updown .down {position:absolute; left:115px; top:493px; background-position:0 -151px;}
.store .map_area .store .btn_updown .down.disable {background-position:0 -185px;}
.store .map_area .store .listwrap {position:absolute; left:0px; top:33px; height:447px; overflow:hidden;}
.store .map_area .store .list {}
.store .map_area .store .list li {width:255px; height:144px; margin-bottom:5px;}
.store .map_area .store .list li a {display:block; padding:22px 22px; background:#fff; border:1px solid #efe8e6; }
.store .map_area .store .list li a:hover {border:1px solid #33c1e5;}
.store .map_area .store .list li a .name{display:block;  font-size:16px; color:#1b1818}
.store .map_area .store .list li a .addres {display:block; margin-top:10px; height:49px; overflow:hidden;font-size:12px; color:#696361; }
.store .map_area .store .list li a .tel {display:block; margin-top:5px; font-size:12px; color:#696361;}*/
.store_list {padding-top:34px;}
.store_list ul {overflow:hidden; margin-left:-6px; width:1092px; }
.store_list ul li {float:left; margin:6px; width:259px; height:142px; background:#fff; border:1px solid #efe8e6; overflow:hidden;}
.store_list ul li a {display:block; height:142px; padding:20px; border:1px solid #fff; box-sizing:border-box;}
.store_list ul li:hover {border:1px solid #33c1e5}
.store_list ul li:hover a {border:1px solid #33c1e5}
.store_list ul li a .name{display:block;  font-size:16px; color:#1b1818; font-weight:bold;}
.store_list ul li a .addres {display:block; margin-top:10px; height:49px; overflow:hidden;font-size:12px; color:#696361; }
.store_list ul li a .tel {display:block; margin-top:5px; font-size:12px; color:#696361;}

.store .map_area {position:relative; margin-top:14px;  border:1px solid #efe8e6;}
.store .map_area .map_info {position:absolute; left:0; top:0; width:267px; height:448px; padding:60px 0 0 40px; background:url("/aboutCom/images/aboutme/bg_address.png") 0 0 no-repeat; box-sizing:border-box;}
.store .map_area .map_info .tit {padding-top:21px; background:url("/aboutCom/images/aboutme/bg_bar3.gif") 0 0 no-repeat; font-size:30px; color:#1b1818;}
.store .map_area .map_info .address {margin-top:203px; padding-left:38px; padding-bottom:2px;  padding-right:28px; font-size:14px; line-height:20px;color:#1b1818; background:url("/aboutCom/images/aboutme/ico_map.png") 0 0 no-repeat; letter-spacing:-1px;}



/*매거진*/
.magazin h2 {padding:40px 0;  text-align:center;}
.magazin #container {padding-bottom:53px;}
.magazin_area {background:url("/aboutCom/images/aboutme/bg_dotted.png") 0 0 repeat-x;}
.magazin .magazin_list {padding-top:40px; padding-bottom:10px; background:url("/aboutCom/images/aboutme/bg_magazinbar.gif") 0 bottom no-repeat;}
.magazin .magazin_list .listwrap {width:994px; height:160px; margin-left:54px; overflow:hidden;}
.magazin .magazin_list .listwrap ul {width:999999px;}
.magazin .magazin_list .listwrap li {position:relative; float:left; margin-right:21px; width:120px; height:159px; padding:1px 0 0 1px;}
.magazin .magazin_list .listwrap li i {display:block; position:absolute; left:0; top:0; width:121px; height:160px; background:url("/aboutCom/images/aboutme/bg_thumb_off.png") 0 0 no-repeat; z-index:10; cursor:pointer;}
.magazin .magazin_list .listwrap li.cnt i {background:url("/aboutCom/images/aboutme/bg_thumb_on.png") 0 0 no-repeat}
.magazin .magazin_list .listwrap li.movie i {background:url("/aboutCom/images/aboutme/bg_movie.png") 0 0 no-repeat}
.magazin .magazin_list .listwrap li.cnt.movie i {background:url("/aboutCom/images/aboutme/bg_movie_on.png") 0 0 no-repeat}

.magazin .magazin_view {position:relative; }
.magazin .magazin_view .btn_area {}
.magazin .magazin_view .btn_area a {display:block; width:22px; height:42px; background:url("/aboutCom/images/common/btn_slide2.png") 0 0 no-repeat; font-size:0;}
.magazin .magazin_view .btn_area .prev {position:absolute; left:0; top:55px; background-position:0 0;}
.magazin .magazin_view .btn_area .next {position:absolute; right:0; top:55px; background-position:-22px 0;}
.magazin .magazin_view .magazin_tit {padding-top:38px; text-align:center;font-size:15px; color:#696361;}
.magazin .magazin_view .magazin_tit strong {display:block; margin-top:14px; font-size:40px; color:#1b1818;}
.magazin .magazin_view .bigimg {display:block; position:relative; padding-top:3px; margin-top:33px; text-align:center;}
.magazin .magazin_view .bigimg i {display:block; width:1080px; height:732px; position:absolute; left:0; top:0; background:url("/aboutCom/images/aboutme/bg_book.png") 0 0 no-repeat;}
.magazin .magazin_view .moviearea {display:none; margin-top:43px; width:1070px; height:650px;border:5px solid #efe8e6; background:#fff;}
.magazin .magazin_view .moviearea .movie {margin-top:70px; margin-left:108px;}