/*브랜드*/
.brand {}
.brand #container {padding-bottom:60px; background:#fff;}
.brand .container100per.bg1 {background:url("/aboutCom/images/brand/bg_con1_w100.jpg") center 0 no-repeat;}
.brand .container100per.bg1 .inner {background:url("/aboutCom/images/brand/bg_con1.jpg") 0 0 no-repeat;}
.brand .container100per.bg2 {background:#fff;}
.brand .container100per.bg2 .inner {background:#fff;}
.brand h2 {padding-top:70px; padding-bottom:50px; text-align:center;}
.brand .cont {background:url("/aboutCom/images/brand/bg_dotted.png") 0 0 repeat-x; text-align:center;}
.brand .cont.philosophy {padding-bottom:72px}
.brand .cont h3 {padding-top:80px; padding-bottom:37px;}
.brand .cont .tit {font-size:36px; color:#1c1513; padding-bottom:52px;}
.brand .cont .tit span {color:#33c1e5}
.brand .cont .txt {padding-top:37px; font-size:16px; color:#696361; line-height:30px; background:url("/aboutCom/images/brand/bg_bar.gif") center 0 no-repeat;}
.brand .cont .txt p {padding-top:30px;}
.brand .cont .txt p:first-child {padding-top:0;}
.brand .cont .txt .img_area {padding-top:51px;padding-bottom:80px;  text-align:center;}
.brand .cont .txt .img_area img {display:inline-block;}
.brand .cont .txt .img_area .img2 {margin-top:36px;}
.brand .cont .txt .img_area .img3 {margin-top:80px}
.shopbanner {padding-top:40px;text-align:center;}