/* common */
i{display:inline-block;vertical-align:middle;}
#container .container100per.notify{background-color:#fff;}
#container .container100per.notify .inner{padding:20px 0 60px;border-bottom:1px solid #efefef;}
#container .container100per.notify .boxtyped{padding:28px 40px;}
#container .container100per.notify .boxtyped:after{content:"";display:block;clear:both;}
#container .container100per.notify .boxtyped h3{float:left;display:inline-block;font-size:30px;line-height:34px;color:#1b1818;font-weight:normal;}
#container .container100per.notify .boxtyped ul{float:left;margin:-9px 0 0 72px;}
#container .container100per.notify .boxtyped ul li{margin-top:13px;font-size:13px;color:#696361;}
.nonmb .banner{padding:20px;overflow:hidden;}
.nonmb .banner .jointxt{float:left;display:inline-block;padding:20px 22px 17px;}
.nonmb .banner .benefittxt{float:left;display:inline-block;padding:15px 28px 18px;}
.nonmb .banner .btn_nonmb{margin-top:-1px;padding-right:1px;}

/* cart */
.cart #container{}
.cart #container .container1080{padding:24px 0 20px;}

.cart .cart_top {}
.cart .cart_top:after {display:block; clear:both; content:'';}
.cart .h2_area {position:relative; float:left; width:208px; z-index:20; }
.cart .h2_area h2 {height:198px; padding-top:76px; font-size:40px; color:#696361;text-align:center; box-sizing:border-box; background:#f9f6f5 url("/aboutCom/images/mypage/bg_h2.gif") 0 0 no-repeat; font-weight:normal;}
.cart .user_area {position:relative;float:left; width:832px; margin-left:40px; padding-bottom:32px;  border-bottom:1px solid #bbb5b4;}
.cart .user_area .info {padding-left:116px; padding-top:46px; font-size:30px; color:#1b1818;}
.cart .user_area .info.bronze {background:url("/aboutCom/images/mypage/ico_bronze.png") 0 33px no-repeat;}
.cart .user_area .info.bronze .grade {color:#947158;border-bottom:1px solid #947158;}
.cart .user_area .info.silver {background:url("/aboutCom/images/mypage/ico_sliver.png") 0 33px no-repeat;}
.cart .user_area .info.silver .grade {color:#aaaaaa; border-bottom:1px solid #aaaaaa;}
.cart .user_area .info.gold {background:url("/aboutCom/images/mypage/ico_gold.png") 0 33px no-repeat;}
.cart .user_area .info.gold .grade {color:#bfa32c; border-bottom:1px solid #bfa32c;}
.cart .user_area .info.vip {background:url("/aboutCom/images/mypage/ico_vip.png") 0 33px no-repeat;}
.cart .user_area .info.vip .grade {color:#403836; border-bottom:1px solid #403836;}
.cart .user_area .info .benefitview{display:block;margin-top:32px;font-size:16px;line-height:1;color:#1b1818;}
.cart .user_area .info .benefitview i{display:inline-block; margin:4px 0 0 10px;width:27px;height:9px;background:url("/aboutCom/images/common/bul30.png") 0 0 no-repeat;}
.cart .userbenefit {position:absolute; left:410px; top:28px;}
.cart .userbenefit ul {float:right;display:inline-block;}
.cart .userbenefit ul:after{content:"";display:block;clear:both;}
.cart .userbenefit ul li{float:left;font-size:13px;line-height:1;color:#696361;text-align:center;}
.cart .userbenefit ul li.downcoupon {width:138px}
.cart .userbenefit ul li.havecoupon {width:146px}
.cart .userbenefit ul li.downpoint {width:138px}
.cart .userbenefit ul li .ico{display:inline-block;;height:57px;background:url("/aboutCom/images/common/bg_couponpoint.gif") 0 0 no-repeat;}
.cart .userbenefit ul li.downcoupon .ico{width:59px;background-position:0 0;}
.cart .userbenefit ul li.havecoupon .ico{width:64px;background-position:-136px 0;}
.cart .userbenefit ul li.downpoint .ico{width:63px;background-position:-278px 0;}
.cart .userbenefit ul li .num {display:block;margin:23px 0;font-size:24px;line-height:1;color:#1b1818;}
.cart .cartform .row2:after{content:"";display:block;clear:both;}
.cart .cartform .row2 .btn_group{float:left;}
.cart .cartform .row2 .btn_group a{float:left;display:inline-block;margin-right:10px;border:1px solid #bbb5b4;overflow:hidden;cursor:default;}
.cart .cartform .row2 .btn_group a.on{cursor:pointer;border-color:#403836;}
.cart .cartform .row2 .btn_group a .ico{float:left;padding:8px;border-right:1px solid #bbb5b4;}
.cart .cartform .row2 .btn_group a.on .ico{border-color:#403836;}
.cart .cartform .row2 .btn_group a .ico i{width:30px;height:30px;background:url("/aboutCom/images/common/bul30.png") 0 0 no-repeat;}
.cart .cartform .row2 .btn_group a.wish .ico i{background-position:0 -180px;}
.cart .cartform .row2 .btn_group a.on.wish .ico i{background-position:0 -30px;}
.cart .cartform .row2 .btn_group a.del .ico i{background-position:0 -210px;}
.cart .cartform .row2 .btn_group a.on.del .ico i{background-position:0 -60px;}
.cart .cartform .row2 .btn_group a .txt{float:right;padding:0 20px;font-size:14px;line-height:46px;color:#1b1818;text-align:center;}
.cart .cartform .row2 .btn_group a.del .txt{padding:0 12px;}
.cart .cartform .row2 .btn_group a .txt strong{color:#33c1e5;}
.cart .cartform .row2 .totinfo{float:right;text-align:right;}
.cart .cartform .row2 .totinfo .point{display:inline-block;position:relative;font-size:13px;line-height:14px;color:#696361;}
.cart .cartform .row2 .totinfo .point .bubhelp{display:none;position:absolute;top:-22px;left:-239px;padding:12px 5px 12px 15px;width:223px;height:60px;border:1px solid #696361;background-color:#fff;font-family:"Dotum";font-size:11px;line-height:18px;color:#696361;letter-spacing:-1px;text-align:left;box-sizing:border-box;}
.cart .cartform .row2 .totinfo .point:hover .bubhelp{display:block;}
.cart .cartform .row2 .totinfo .point .bubhelp:after{content:"";display:inline-block;position:absolute;top:24px;right:-7px;width:7px;height:13px;background:url("/aboutCom/images/common/bul20.png") 0 -101px no-repeat;}
.cart .cartform .row2 .totinfo .point i{margin-right:5px;width:16px;height:16px;background:url("/aboutCom/images/common/bul20.png") 0 -83px no-repeat;}
.cart .cartform .row2 .totinfo .point strong{margin-left:38px;font-size:14px;color:#9aca3c;}
.cart .cartform .row2 .totinfo .totprice{margin-top:20px;font-size:14px;color:#696361;}
.cart .cartform .row2 .totinfo .totprice strong{margin-left:20px;font-size:30px;color:#1b1818;}
.cart .cartform .row2 .totinfo .totprice span{font-size:22px;color:#1b1818;}
.cart .cartform .row3{text-align:center;}
.cart .cartform .row3 .btn_group{display:inline-block;}
.cart .cartform .row3 .btn_group:after{content:"";display:block;clear:both;}
.cart .cartform .row3 .btn_group a{float:left;}
.cart .cartform .row3 .btn_group a+a{margin-left:2px;}
.cart .prolist{background-color:#fff;border-bottom:1px solid #efe8e6;}
.cart .prolist ul:after{content:"";display:block;clear:both;}
.cart .prolist ul li{float:left;padding:16px 0 25px;width:270px;text-align:center;}
.cart .prolist ul li .tag{display:block;margin:10px 0 0 -3px;}
.cart .prolist ul li .tag span{margin-left:3px;}
.cart .prolist ul li .ptit{display:block;margin-top:12px;font-size:14px;color:#1b1818;}
.cart .prolist ul li .pdesc{margin-top:6px;font-family:"Dotum";font-size:11px;letter-spacing:-1px;color:#bbb5b4;}
.cart .prolist ul li .pprice{margin-top:14px;font-size:16px;line-height:1;color:#1b1818;}
.cart .prolist ul li .pprice del{margin-right:8px;font-size:13px;line-height:19px;color:#696361;}
.cart.nonmb .user_area{height:198px;box-sizing:border-box;}
.cart.nonmb .user_area .info{padding:42px 0 0 19px;overflow:hidden;}
.cart.nonmb .user_area .info .nonmbmsg{float:left;display:inline-block;font-size:32px;line-height:1;color:#000;font-weight:bold;}
.cart.nonmb .user_area .info .nonmbmsg span{display:inline-block;margin-top:19px;font-size:16px;color:#696361;font-weight:normal;}
.cart.nonmb .user_area .info .nonmbmsg span strong{color:#1b1818;}
.cart.nonmb .user_area .info .nonmbmsg  .benefitview{margin-top:40px;}
.cart.nonmb .user_area .info .btn_nonmb{float:right;width:155px;}

/* order */
.order .container1080{padding:50px 0 20px;}
.order h2{text-align:center;}
.order .orderstep{float:right;margin-top:28px;}
.order .orderstep:after{content:"";display:block;clear:both;}
.order .orderstep li{float:left;margin-left:25px;padding-left:33px;width:109px;background:url("/aboutCom/images/cart/progress_arrow_10x14.png") 0 6px no-repeat;}
.order .orderstep li:first-child{margin:0;padding:0;background:none;}
.order .orderstep li span, .order .orderstep li em{display:block;height:26px;background:url("/aboutCom/images/cart/orderstep_img.png") 0 0 no-repeat;font-size:0;text-indent:0;}
.order .orderstep li.step1 span{background-position:0 0;}
.order .orderstep li.step1 em{background-position:0 -26px;}
.order .orderstep li.step2 span{background-position:-109px 0;}
.order .orderstep li.step2 em{background-position:-109px -26px;}
.order .orderform{margin-top:15px;}
.order .orderform .row1 table tbody tr td.proimg{padding-left:13px;}
.order .orderform .row1 table tbody tr td.count .relbox{display:inline-block;position:relative;font-size:16px;color:#1b1818;font-weight:bold;}
.order .orderform .row1 table tbody tr td.count .relbox .onenone{position:absolute;top:50%;right:-34px;margin-top:-12px;}
.order .orderform .row1 table tbody tr td.count .relbox .onenone i{width:24px;height:24px;background:url("/aboutCom/images/cart/onenone_img.png") 0 0 no-repeat;text-indent:-9999px;}
.order .orderform .row1 table tbody tr td.count .relbox .onenone i:hover{background-position:0 -24px;}
.order .orderform .row1 table tbody tr td.count .relbox .onenone .tooltip{display:none;position:absolute;top:34px;left:-83px;padding:12px 14px 10px;width:173px;border:1px solid #696361;background-color:#fff;font-family:"Dotum";font-size:11px;line-height:18px;color:#696361;letter-spacing:-1px;font-weight:normal;text-align:left;box-sizing:border-box;z-index:2;}
.order .orderform .row1 table tbody tr td.count .relbox .onenone .tooltip:after{content:"";display:block;position:absolute;top:-6px;left:88px;width:11px;height:6px;background:url("/aboutCom/images/cart/tooltip_bg.png") 0 0 no-repeat;}
.order .orderform .row1 table tbody tr td.count .relbox .onenone i:hover+.tooltip{display:block;}
.order .orderform .row1 table tbody tr td.coupon{font-size:16px;color:#1b1818;}
.order .orderform .orderwrap{margin-top:18px;}
.order .orderform .orderwrap .contypea{padding:40px;}
.order .orderform .orderwrap .divstylea:after{content:"";display:block;clear:both;}
.order .orderform .orderwrap .divstylea .divitem{float:left;width:460px;}
.order .orderform .orderwrap .divstylea .divitem+.divitem{margin-left:80px;}
.order .orderform .orderwrap .tit_h4{padding-bottom:15px;border-bottom:2px solid #bbb5b4;overflow:hidden;}
.order .orderform .orderwrap h4{float:left;}
.order .orderform .orderwrap .tit_h4 .tip{float:right;margin-top:5px;font-size:14px;color:#696361;}
.order .orderform .orderwrap .tit_h4 .tip i.essential{margin-right:5px;width:8px;height:7px;background:url("/aboutCom/images/cart/ico_essential_sm.gif") 0 0 no-repeat;}
.order .orderform .orderwrap .opt label+label{margin-left:49px;}
.order .orderform .orderwrap .opt label .txt{font-size:14px;color:#1b1818;}
.order .orderform .orderwrap .opt a{margin-left:69px;width:135px;}
.order .orderform .orderwrap .info{position:relative;display:inline-block;padding-left:15px;font-family:"Dotum";font-size:11px;line-height:16px;color:#696361;letter-spacing:-1px;}
.order .orderform .orderwrap .info i{position:absolute;top:1px;left:0;width:11px;height:11px;background:url("/aboutCom/images/common/bul20.png") 0 -229px no-repeat;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr th, .order .orderform .orderwrap .saleinfo .tabletypea table tbody tr td{padding:12px 0;box-sizing:border-box;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr th{font-size:14px;line-height:1;color:#1b1818;font-weight:normal;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr td label{font-size:13px;line-height:1;color:#696361;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr td .ipttypea{padding-right:15px;font-weight:bold;text-align:right;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_coupon td a{margin-right:6px;width:106px;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_point th, .order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_point td{height:91px;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_point td .insert{display:inline-block;vertical-align:middle;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_point td .chkcon span.txt{font-size:13px;color:#666;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_point td .insert .btn_ptuse{margin-left:15px;width:106px;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_point td .mypoint{display:inline-block;margin-top:7px;font-size:11px;color:#9aca3c;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_point td .mypoint i{margin:-2px 5px 0 0;width:17px;height:17px;background:url("/aboutCom/images/common/bul20.png") 0 -64px no-repeat;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_vip th, .order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_vip td{height:53px;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_vip td .price{display:inline-block;width:138px;text-align:right;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_vip td .price strong{margin-right:13px;}
.order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_delivery td .outSelB{width:227px;}
.order .orderform .orderwrap .saleapply{background-color:#fff;padding-bottom:27px;}
.order .orderform .orderwrap .saleapply ul:after{content:"";display:block;clear:both;}
.order .orderform .orderwrap .saleapply ul li{float:left;position:relative;margin-left:75px;padding:0 15px;width:280px;box-sizing:border-box;}
.order .orderform .orderwrap .saleapply ul li:first-child{margin-left:0;}
.order .orderform .orderwrap .saleapply ul li:after{content:"";position:absolute;top:33px;left:-52px;width:30px;height:30px;background:url("/aboutCom/images/common/bul30.png") 0 -120px no-repeat;}
.order .orderform .orderwrap .saleapply ul li:first-child:after{background:none;}
.order .orderform .orderwrap .saleapply ul li.total:after{background-position:0 -150px;}
.order .orderform .orderwrap .saleapply ul li p{padding-top:10px;line-height:1;}
.order .orderform .orderwrap .saleapply ul li p:after{content:"";display:block;clear:both;}
.order .orderform .orderwrap .saleapply ul li p .tit{float:left;font-size:14px;color:#696361;}
.order .orderform .orderwrap .saleapply ul li p .price{float:right;text-align:right;font-size:14px;color:#696361;}
.order .orderform .orderwrap .saleapply ul li p .price.point{color:#9aca3c;}
.order .orderform .orderwrap .saleapply ul li p .price.point i{margin:-2px 5px 0 0;width:17px;height:17px;background:url("/aboutCom/images/common/bul20.png") 0 -64px no-repeat;}
.order .orderform .orderwrap .saleapply ul li p.tot{margin-bottom:6px;padding:0 0 11px;border-bottom:1px dotted #bbb5b4;}
.order .orderform .orderwrap .saleapply ul li p.tot .tit{margin-top:12px;font-size:16px;color:#1b1818;}
.order .orderform .orderwrap .saleapply ul li p.tot .price{font-size:22px;color:#1b1818;}
.order .orderform .orderwrap .saleapply ul li p.tot .price strong{font-size:30px;}
.order .orderform .orderwrap .addrinfo .tabletypea table{border-top:0;}
.order .orderform .orderwrap .addrinfo .tabletypea table tbody tr th{font-size:14px;color:#1b1818;font-weight:normal;}
.order .orderform .orderwrap .addrinfo .tabletypea table tbody tr th .txtcnt{font-size:12px;color:#696361;}
.order .orderform .orderwrap .addrinfo .tabletypea table tbody tr td input, .order .orderform .orderwrap .addrinfo .tabletypea table tbody tr td .outSelB a{font-weight:bold;}
.order .orderform .orderwrap .addrinfo .tabletypea table tbody tr td.opt{padding:0;height:54px;}
.order .orderform .orderwrap .addrinfo .tabletypea table tbody tr td.addr{font-size:14px;}
.order .orderform .orderwrap .addrinfo .tabletypea table tbody tr td.addr .btn_white_w96h38{float:right;width:135px;}
.order .orderform .orderwrap .addrinfo .tabletypea table tbody tr td.phone .outSelB{width:90px;}
.order .orderform .orderwrap .addrinfo .tabletypea table tbody tr td.email .outSelB{margin-left:9px;width:135px;}
.order .orderform .orderwrap .payinfo .paycon .opt{padding:20px 0 18px;}
.order .orderform .orderwrap .payinfo .paycon .paytip{display:none;position:relative;padding:20px 30px 39px;border-color:#bbb5b4;}
.order .orderform .orderwrap .payinfo .paycon .paytip:after{content:"";display:block;position:absolute;top:-7px;width:13px;height:7px;background:url("/aboutCom/images/cart/tooltip_bg2.png") 0 0 no-repeat;}
.order .orderform .orderwrap .payinfo .paycon .credit:after{left:49px;}
.order .orderform .orderwrap .payinfo .paycon .realtime:after{left:199px;}
.order .orderform .orderwrap .payinfo .paycon .virtual:after{left:349px;}
.order .orderform .orderwrap .payinfo .paycon .virtual{padding-bottom:30px;}
.order .orderform .orderwrap .payinfo .paycon .paytip .infobtn{margin-bottom:20px;padding-bottom:20px;border-bottom:1px dotted #bbb5b4;}
.order .orderform .orderwrap .payinfo .paycon .paytip .infobtn .btn_blue_w96h38{width:155px;}
.order .orderform .orderwrap .payinfo .paycon .paytip .paymentstep em{font-size:14px;line-height:1;color:#1b1818;}
.order .orderform .orderwrap .payinfo .paycon .paytip .paymentstep .txt{margin-top:7px;font-family:"Dotum";font-size:11px;line-height:16px;letter-spacing:-1px;color:#696361;}
.order .orderform .orderwrap .payinfo .paycon .paytip .paymentstep img{margin-top:26px;}
.order .orderform .orderwrap .payinfo .confirmcon{margin-top:25px;}
.order .orderform .orderwrap .payinfo .confirmcon .total{padding-bottom:20px;border-bottom:1px dotted #bbb5b4;}
.order .orderform .orderwrap .payinfo .confirmcon .total .totprice{overflow:hidden;}
.order .orderform .orderwrap .payinfo .confirmcon .total .totprice .tit{float:left;margin-top:20px;font-size:16px;color:#1b1818;}
.order .orderform .orderwrap .payinfo .confirmcon .total .totprice .price{float:right;font-size:28px;color:#1b1818;}
.order .orderform .orderwrap .payinfo .confirmcon .total .totprice .price strong{font-size:36px;}
.order .orderform .orderwrap .payinfo .confirmcon .total .totpoint{margin-top:12px;font-size:13px;line-height:1;color:#696361;text-align:right;}
.order .orderform .orderwrap .payinfo .confirmcon .total .totpoint i{margin:-2px 5px 0 10px;width:17px;height:17px;background:url("/aboutCom/images/common/bul20.png") 0 -64px no-repeat;}
.order .orderform .orderwrap .payinfo .confirmcon .total .totpoint strong{font-size:14px;color:#9aca3c;}
.order .orderform .orderwrap .payinfo .agreetit{margin-top:35px;font-size:18px;line-height:1;color:#1b1818;font-weight:bold;}
.order .orderform .orderwrap .payinfo .agreetit .chkcon{float:right;}
.order .orderform .orderwrap .payinfo .agreetit .chkcon .txt{font-size:14px;line-height:1;color:#696361;font-weight:normal;}
.order .orderform .orderwrap .payinfo .agreebox{margin-top:9px;padding:18px 17px 19px;border:1px solid #efe8e6;background-color:#faf7f7;font-size:13px;line-height:18px;color:#696361;letter-spacing:-0.5px;}
.order .orderform .orderwrap .payinfo .agreebox .law{display:block;margin-top:4px;font-family:"Dotum";font-size:11px;line-height:1;letter-spacing:-1px;color:#bbb5b4;}
.order .orderform .orderwrap .payinfo .confirmcon .personaldata{overflow:hidden;}
.order .orderform .orderwrap .payinfo .confirmcon .personaldata .lft{float:left;}
.order .orderform .orderwrap .payinfo .confirmcon .personaldata .lft .pti{margin-bottom:8px;font-size:18px;line-height:1;color:#1b1818;font-weight:bold;} 
.order .orderform .orderwrap .payinfo .confirmcon .personaldata .btn_white_w120h38{float:right;width:135px;}
.order .orderform .orderwrap .payinfo .confirmcon .btn_payment a+a{margin-left:2px;}

.order.nonmb .orderform .orderwrap .payinfo .confirmcon .total .nmpwd{margin-top:11px;text-align:right;}
.order.nonmb .orderform .orderwrap .payinfo .confirmcon .total .nmpwd label{font-size:13px;color:#696361;letter-spacing:-0.5px;}
.order.nonmb .orderform .orderwrap .payinfo .confirmcon .agreebox .litit{display:inline-block;}
.order.nonmb .orderform .orderwrap .payinfo .confirmcon .agreebox ol{display:inline-block;margin-left:30px;vertical-align:middle;}
.order.nonmb .orderform .orderwrap .payinfo .confirmcon .agreebox ol li{font-family:"Dotum";font-size:11px;color:#696361;letter-spacing:-1px;}

.order.end .container1080{padding-bottom:60px;}
.order.end .tabletypea table th, .order.end .tabletypea table td{padding:15px 0;}
.order.end .orderform .orderwrap .payinfo .tit_h4{border-bottom:0;}
.order.end .orderform .orderwrap .payinfo .payview:after{content:"";display:block;clear:both;}
.order.end .orderform .orderwrap .payinfo .payview li{float:left;margin-left:1px;padding:29px 0 26px;width:333px;background-color:#faf7f6;text-align:center;}
.order.end .orderform .orderwrap .payinfo .payview li:first-child{margin-left:0;width:332px;}
.order.end .orderform .orderwrap .payinfo .payview li em{font-size:14px;color:#1b1818;vertical-align:middle;}
.order.end .orderform .orderwrap .payinfo .payview li span{margin-left:8px;font-size:13px;color:#696361;}
.order.end .orderform .orderwrap .payinfo .payview.ea4  {margin-top:1px;}
.order.end .orderform .orderwrap .payinfo .payview.ea4 li{width:249px;}

.order.end .orderform .orderwrap .deliveryinfo{overflow:hidden;}
.order.end .orderform .orderwrap .deliveryinfo .contact{float:left;display:inline-block;padding:43px 10px 0;width:240px;box-sizing:border-box;}
.order.end .orderform .orderwrap .deliveryinfo .contact .callnum{display:block;margin-top:16px;font-size:16px;line-height:1;color:#1b1818;text-align:center;}
.order.end .orderform .orderwrap .deliveryinfo .contact .callnum i{margin-right:6px;width:20px;height:20px;background:url("/aboutCom/images/common/bul20.png") 0 -314px no-repeat;}
.order.end .orderform .orderwrap .deliveryinfo .tabletypea{float:left;display:inline-block;margin-left:18px;width:742px;}
.order.end .orderform .orderwrap .deliveryinfo .tabletypea table{border-top:0;}
.order.end .orderform .orderwrap .deliveryinfo .tabletypea table tr th, .order.end .orderform .orderwrap .deliveryinfo .tabletypea table tr td{padding:15px 0;}
.order.end .orderform .orderwrap .deliveryinfo .tabletypea table tr th{font-size:14px;color:#1b1818;}
.order.end .orderform .orderwrap .deliveryinfo .tabletypea table tr td{padding:15px 60px 15px 20px;font-size:13px;color:#696361;}
.order.end .orderform .orderwrap .deliveryinfo .tabletypea table tr td .info{display:block;margin-top:9px;color:#33c1e5;}
.order.end .orderform .orderwrap .returninfo{padding-top:0;}
.order.end .orderform .orderwrap .returninfo .txt{margin-top:18px;font-size:13px;line-height:20px;color:#696361;}
.order.end .orderform .orderwrap .returninfo .txt strong{color:#1b1818;}
.order.end .orderform .orderwrap .returninfo .txt em{font-size:14px;color:#1b1818;}
.order.end .orderform .orderwrap .btn_orderend{text-align:center;}
.order.end .orderform .orderwrap .btn_orderend a{margin-right:2px;}
.order.end .orderform .orderwrap .btn_orderend .btn_white_w185h60{margin-right:0;color:#1b1818;border-color:#bbb5b4;}

.order.end.nonmb .orderform .orderwrap .payinfo .payview li{width:249px;}
.order.end.nonmb .orderform .orderwrap .payinfo .payview li:first-child{width:250px;}


@media \0screen {
	.orderwrap .saleapply ul li p.tot .price strong {display:inline-block; padding-top:2px;}
}