/* common */
i{display:inline-block;vertical-align:middle;}
.container1080{padding:24px 0 65px;}
.cs_top:after {display:block; clear:both; content:'';}
.cs_top .h2_area {position:relative; float:left; width:208px; z-index:20; }
.cs_top .h2_area h2 {height:198px; padding-top:79px; font-size:40px; color:#696361;text-align:center; box-sizing:border-box; cursor:pointer; background:#f9f6f5 url("/aboutCom/images/mypage/bg_h2.gif") 0 0 no-repeat; font-weight:normal;}
.cs_top .h2_area.l2 h2{padding-top:42px;}
.cs_top .h2_area h2 i {display:block; margin:0 auto; margin-top:20px; width:21px; height:11px; background:url("/aboutCom/images/mypage/ico_arrow1.gif") 0 0 no-repeat;}
.cs_top .h2_area h2.on {background:url("/aboutCom/images/mypage/bg_h2_on.gif") 0 0 no-repeat;}
.cs_top .h2_area h2.on i {background:url("/aboutCom/images/mypage/ico_arrow2.gif") 0 0 no-repeat;}
.cs_top .h2_area .smenu { display:none; width:205px; position:absolute; left:0; top:197px; background:#fff; border-right:2px solid #efe8e6; border-bottom:2px solid #efe8e6; border-left:1px solid #efe8e6; padding-bottom:35px;}
.cs_top .h2_area .smenu ul {margin:0 25px; padding-top:28px;}
.cs_top .h2_area .smenu ul li {padding-left:15px; font-size:13px; margin-top:14px;}
.cs_top .h2_area .smenu ul li:first-child {margin-top:0;}
.cs_top .h2_area .smenu ul li a { color:#1b1818;}
.cs_top .h2_area .smenu ul li.cnt a ,.cs_top .h2_area .smenu ul li a:hover {border-bottom:1px solid #32c1e6; color:#32c1e6;}
.cs_top .user_menu{float:right;width:832px;height:198px;border-bottom:1px solid #bbb5b4;box-sizing:border-box;}
.cs_top .user_menu{padding:0 22px 0 12px;}
.cs_top .user_menu .cslink:after{content:"";display:block;clear:both;}
.cs_top .user_menu .cslink li{float:left;margin:0 10px;padding-top:57px;font-size:13px;line-height:1;color:#1b1818;text-align:center;}
.cs_top .user_menu .cslink li span{display:block;margin-bottom:17px;width:113px;height:55px;background:url("/aboutCom/images/customer/ico_notice.png") 0 0 no-repeat;}
.cs_top .user_menu .cslink li span.icon_d2{background-position:0 -55px;}
.cs_top .user_menu .cslink li span.icon_d3{background-position:0 -110px;}
.cs_top .user_menu .cslink li span.icon_d4{background-position:0 -165px;}
.cs_top .user_menu .cslink li span.icon_d5{background-position:0 -220px;}
.cs_top .user_menu .cslink li span.icon_d6{background-position:0 -275px;}

/* cscenter */
.cscenter .faqwrap{margin-top:39px;padding:40px;}
.cscenter .faqwrap .faq_search .ti{display:inline-block;font-size:30px;line-height:1;color:#1b1818;}
.cscenter .faqwrap .faq_search .rslttxt{position:relative;display:inline-block;margin-left:20px;font-size:20px;line-height:1;color:#1b1818;}
.cscenter .faqwrap .faq_search .rslttxt strong{color:#33c1e5;}
.cscenter .faqwrap .faq_search .rslttxt .reset{position:absolute;top:0;right:-14px;}
.cscenter .faqwrap .faq_search .searchin{margin-bottom:14px;overflow:hidden;}
.cscenter .faqwrap .faq_search .searchin input{float:left;vertical-align:middle;}
.cscenter .faqwrap .faq_search .searchin a{float:left;}
.cscenter .faqwrap .faq_search .info{position:relative;display:inline-block;padding-left:15px;font-family:"Dotum";font-size:11px;line-height:16px;color:#696361;letter-spacing:-1px;}
.cscenter .faqwrap .faq_search .info i{position:absolute;top:1px;left:0;width:11px;height:11px;background:url("/aboutCom/images/common/bul20.png") 0 -229px no-repeat;}              
.cscenter .faqwrap .faq_search .btn_category{overflow:hidden;}
.cscenter .faqwrap .faq_search .btn_category a{float:left;display:inline-block;margin-left:2px;padding:18px 21px 16px 20px;background-color:#bbb5b4;font-size:16px;line-height:1;color:#fff;}
.cscenter .faqwrap .faq_search .btn_category a.cnt{background-color:#403836;}
.cscenter .faqwrap .faq_list{border-top:2px solid #bbb5b4;border-bottom:1px dashed #bbb5b4;}
.cscenter .faqwrap .faq_list .accordcont{border-top:1px dashed #bbb5b4;}
.cscenter .faqwrap .faq_list .accordcont:first-child{border:none;}
.cscenter .faqwrap .faq_list .accordcont .accordsubject{position:relative;font-size:13px;color:#1b1818;}
.cscenter .faqwrap .faq_list .accordcont .accordsubject a{display:block;padding:20px 0;overflow:hidden;}
.cscenter .faqwrap .faq_list .accordcont .accordsubject .category{float:left;display:inline-block;width:204px;text-align:center;}
.cscenter .faqwrap .faq_list .accordcont .accordsubject .title{float:right;display:inline-block;margin-left:40px;padding-right:40px;width:756px;box-sizing:border-box;}
.cscenter .faqwrap .faq_list .accordcont .accordsubject i{display:inline-block;position:absolute;top:18px;right:30px;width:22px;height:13px;background:url("/aboutCom/images/customer/bl_accordarrow.png") 0 0 no-repeat;text-indent:-9999px;}
.cscenter .faqwrap .faq_list .accordcont.cnt .accordsubject i{background-position:0 -15px;}
.cscenter .faqwrap .faq_list .accordtxt{display:none;padding:16px 40px 15px 244px;border-top:1px dashed #bbb5b4;background-color:#fcfafa;}
.cscenter .faqwrap .faq_list .accordtxt .desc{font-size:13px;line-height:22px;color:#696361;}
.cscenter .row{overflow:hidden;}
.cscenter .row > div{float:left;height:193px;border:5px solid #fff;box-sizing:border-box;}
.cscenter .row > div + div{margin-left:20px;}
.cscenter .row > div img{display:block;}
.cscenter .row .notice{position:relative;padding:35px 40px 0 41px;width:440px;}
.cscenter .row .notice h3{display:block;padding-bottom:15px;border-bottom:2px solid #bbb5b4;}
.cscenter .row .notice .more{position:absolute;top:44px;left:339px;font-size:12px;line-height:1;color:#1b1818;font-weight:bold;}
.cscenter .row .notice .more i{margin-left:6px;width:14px;height:6px;background:url("/aboutCom/images/common/bul20.png") 0 -260px no-repeat;}
.cscenter .row .notice .con{padding:10px 0;}
.cscenter .row .notice .con ul li{margin:6px 0;font-size:13px;line-height:1;color:#696361;}
.cscenter .row .notice .con ul li a{display:inline-block;width:272px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.cscenter .row .notice .con ul li span{float:right;font-size:12px;}

/* notice */
.notice .board_list table tbody tr td{height:55px;font-size:13px;line-height:55px;color:#1b1818;}
.notice .board_list table tbody tr td.tit a{display:block;width:100%;height:100%;padding:0 40px;text-align:left;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;box-sizing:border-box;}
.notice .board_view{border:1px solid #bbb5b4;}
.notice .board_view .subject{height:53px;border-bottom:1px solid #efe8e6;background-color:#fcfafa;font-size:13px;line-height:53px;color:#1b1818;text-align:center;overflow:hidden;}
.notice .board_view .subject span{float:left;display:inline-block;}
.notice .board_view .subject .num{width:94px;}
.notice .board_view .subject .tit{padding:0 40px;width:825px;text-align:left;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;box-sizing:border-box;}
.notice .board_view .subject .date{width:159px;}
.notice .board_view .txt{padding:36px 40px 56px;background-color:#fff;font-size:13px;line-height:20px;color:#696361;}
.notice .btn_golist{display:block;margin:20px auto 0;}

/* benefit */
.benefit .grade_table{border:1px solid #bbb5b4;text-align:center;}
.benefit .grade_table table tbody tr th,.benefit .grade_table table tbody tr td{padding:30px 0;border-bottom:1px solid #f4efed;}
.benefit .grade_table table tbody tr th{background-color:#f9f6f5;font-size:13px;line-height:1;color:#1b1818;font-weight:normal;}
.benefit .grade_table table tbody tr td{background-color:#fff;font-size:13px;line-height:20px;color:#696361;}
.benefit .grade_table table tbody tr .pl{padding-left:29px;}
.benefit .grade_table table tbody tr .pr{padding-right:29px;}
.benefit .grade_table table tbody tr .last{border-bottom:0;}
.benefit .grade_table table tbody tr.grade{font-size:13px;line-height:1;}
.benefit .grade_table table tbody tr.grade i{margin-bottom:18px;width:87px;height:97px;background:url("/aboutCom/images/mypage/ico_bronze.png") 0 0 no-repeat;}
.benefit .grade_table table tbody tr.grade i.silver{background:url("/aboutCom/images/mypage/ico_sliver.png") 0 0 no-repeat;}
.benefit .grade_table table tbody tr.grade i.gold{background:url("/aboutCom/images/mypage/ico_gold.png") 0 0 no-repeat;}
.benefit .grade_table table tbody tr.grade i.vip{background:url("/aboutCom/images/mypage/ico_vip.png") 0 0 no-repeat;}
.benefit .grade_table table tbody tr.cp i{margin-bottom:8px;width:96px;height:72px;background:url("/aboutCom/images/common/sp_badge.png") 0 0 no-repeat;}
.benefit .container100per{background-color:#fff;}
.benefit .inner{padding:20px 0 60px;}
.benefit .attention{position:relative;padding:22px 40px 25px 151px;height:167px;box-sizing:border-box;}
.benefit .attention i{position:absolute;top:17px;left:31px;width:84px;height:96px;background:url("/aboutCom/images/customer/ico_attention.gif") 0 0 no-repeat;}
.benefit .attention ul li{padding:8px 0 0 10px;font-size:13px;line-height:20px;color:#696361;text-indent:-10px;}