#container{padding-bottom:65px;}



.login h2 {padding:49px 0 50px 0; text-align:center;}
.login h3 {padding-bottom:20px;}
.loginipt_area {overflow:hidden; margin-bottom:30px;}
.loginipt_area .contypea{padding:40px 45px 30px;height:339px;}
.loginipt_area h3 { margin-bottom:20px;  border-bottom:1px solid #bbb5b4;}
.loginipt_area .contypea .iptarea{height:134px;border-bottom:1px dotted #bbb5b4;box-sizing:border-box;}
.loginipt_area .contypea .iptarea.bbnone {border-bottom:none}
.loginipt_area .member_login {position:relative; float:left; width:540px;box-sizing:border-box;}
.loginipt_area .member_login .btn_login {position:absolute; left:347px; top:105px; width:148px;}
.loginipt_area .member_login .iptarea {padding-bottom:25px;}
.loginipt_area .member_login .idpw_search{text-align:right;margin-top:32px;overflow:hidden;}
.loginipt_area .member_login .idpw_search .txt{float:left;font-size:13px;line-height:38px;color:#696361;letter-spacing:-0.5px;}
.loginipt_area .nomember_check {position:relative; float:right; width:539px; border-left:1px solid #efe8e6;box-sizing:border-box;}
.loginipt_area .nomember_check .btn_check {position:absolute; left:336px; top:105px; width:158px;}
.loginipt_area .nomember_check .iptarea {padding-bottom:13px;}
.loginipt_area .nomember_check .iptarea .ps_txt{margin:12px 0 0 87px;padding-left:13px;line-height:14px;}
.loginipt_area .nomember_check .iptarea .ps_txt:after{top:1px;}
.loginipt_area .nomember_check .contact{ padding:18px 15px 10px 15px; background:#f7f3f2;}
.loginipt_area .nomember_check .contact .cti{font-size:13px;line-height:1;color:#696361;}
.loginipt_area .nomember_check .contact .ctxt{margin-top:8px;}
.loginipt_area .nomember_check .contact .ctxt img{}
.loginipt_area .nomember_check .contact .ctxt span{display:inline-block;margin:-5px 0 0 13px;font-size:12px;line-height:16px;color:#696361;}
.loginipt_area .iptarea label {display:block;}
.loginipt_area .iptarea label .txt {display:inline-block; width:87px; font-size:16px; color:#1b1818;}
.loginipt_area .iptarea .idsave {margin-top:10px; margin-left:85px;}
.loginipt_area .iptarea .idsave .txt {font-family:"Dotum";letter-spacing:-1px; font-size:11px; color:#696361;}
.nomem_order{padding:20px;overflow:hidden;}
.nomem_order .jointxt{float:left;display:inline-block;padding:20px 22px 17px;}
.nomem_order .ps_list{float:left;display:inline-block;padding:28px 28px 18px;}
.nomem_order .btn_nomem_order {float:right;margin:31px 25px 0 0;}
.benefitbox{padding-top:220px;width:1080px;height:308px;background:url("/aboutCom/images/membership/bg_membership.gif") 0 0 no-repeat;text-align:center;box-sizing:border-box;}
.benefitbox .btn_join{width:155px;}

.join h2 { text-align:center; padding:59px 0 61px 0;}
.join h2 span {display:block; padding-top:20px; font-size:13px; color:#666; font-weight:normal;}
.join .joinstep {text-align:center;}
.join .attestation {overflow:hidden; margin-top:80px;}
.join .attestation .phone {float:left; padding-top:85px; width:540px; height:320px; background:#fff; text-align:center;  box-sizing:border-box;}
.join .attestation .phone .icoimg {margin-bottom:20px;}
.join .attestation .phone p {margin-top:17px; font-family:"Dotum"; letter-spacing:-1px;font-size:11px; color:#bbb5b4}
.join .attestation .phone span {color:#696361;}
.join .attestation .ipin {float:right; padding-top:96px; width:539px; height:320px; background:#fff; text-align:center; box-sizing:border-box;}
.join .attestation .ipin .icoimg {margin-bottom:25px;}
.join .attestation .ipin p {margin-top:17px; font-family:"Dotum";letter-spacing:-1px; font-size:11px; color:#bbb5b4}
.join .attestation .ipin span {color:#696361;}
.join .alert {margin-top:50px;}
.join .alert span {display:inline-block; font-size:30px; color:#403836; line-height:34px; vertical-align:top;}
.join .alert p {display:inline-block; margin-left:73px; margin-top:-3px; font-size:13px; color:#696361; line-height:22px; vertical-align:top;}

.join .agreecon {position:relative; margin-top:50px;}
.join .agreecon .allagree {position:absolute; right:0; top:0;}
.join .agreecon.first {margin-top:75px}
.join .agreecon h3 {margin-bottom:15px}
.join .agreecon .yscrollbox {padding:30px !important; margin-bottom:15px; min-height:106px; max-height:250px; font-size:13px; color:#696361; overflow-y:scroll; line-height:18px;}
.join .agreecon .yscrollbox table {width:100%;}
.join .agreecon .yscrollbox table th {padding:5px; border:1px solid #efe8e6; font-weight:normal;}
.join .agreecon .yscrollbox table td {padding:5px; border:1px solid #efe8e6; font-weight:normal;}
.join .btngroup {margin-top:40px;text-align:center;}

.join .contypea.step3 {margin-top:58px;padding:40px; overflow:hidden;}
.join .contypea.step3 h3 span {display:inline-block; float:right; background:url("/aboutCom/images/membership/ico_check.gif") 0 4px no-repeat; padding-left:14px; font-size:13px; color:#696361; font-weight:normal; }

.join .tabletypea table td {position:relative;font-size:13px;}
.join .tabletypea table td .ps_txt {padding-left:0; font-size:11px; font-family:"Dotum";letter-spacing:-1px; color:#bbb5b4; letter-spacing:-1px; }
.join .tabletypea table td .ps_txt:after {width:0; height:0; background:none;}
.join .tabletypea table td .ps_txt em {font-size:12px;}
.join .tabletypea table td .ps_txt.txt1{position:absolute; left:342px; top:9px; }
.join .tabletypea table td .ps_txt.txt2 {display:block; padding-top:4px; line-height:11px;}
.join .tabletypea table td .outSelB {width:123px; margin-right:7px;}
.join .tabletypea table td .racon .txt{font-size:13px;color:#1b1818;}
.join .tabletypea table td .btn_white_w96h38{vertical-align:middle;}
.join .tabletypea table .password{vertical-align:top;}
.join .tabletypea table th.password{padding-top:20px;}
.join .tabletypea table td.birth .outSelB {width:90px}
.join .tabletypea table td.birth .select_w95 .outSelB {width:95px}
.join .tabletypea table td.phone_num .outSelB {width:95px}
.join .tabletypea table td.home_num .outSelB {width:90px}
.join .tabletypea table td.email .outSelB {width:185px}
.join .tabletypea table td.addr .btn_white_w96h38 {width:135px}
.join .tabletypea table td .ipttypea.mt8 {margin-top:8px;}
.join .tabletypea table td.selectradio{padding:16px 0;}
.join .tabletypea table td.selectradio .racon {margin-right:44px;}
.join .ps_list {margin-top:16px;}

.join .userinfo {margin-top:75px;overflow:hidden;}
.join .userdetail {float:left;width:535px; padding:40px 55px 22px 40px;}
.join .userdetail .username {font-size:24px; color:#000;}
.join .userdetail .username em {font-size:32px; color:#33c1e5; font-weight:bold;}
.join .userdetail .fintxt {margin-top:9px; font-size:13px; color:#403836;}
.join .userinfo dl {margin-top:17px; padding-top:20px; border-top:1px solid #efe8e6; overflow:hidden; }
.join .userdetail dl dt {float:left; width:79px; height:30px; font-size:13px; color:#696361;}
.join .userdetail dl dd {float:left; width:361px; height:30px; font-size:13px; color:#696361;}
.join .userbenefit {float:left; margin-left:10px; width:535px; height:302px; border:5px solid #fff; box-sizing:border-box;}

/* IE8 only */
@media \0screen {
	.join .userdetail {padding:40px 55px 18px 40px;}
}