.mypage {}
.mypage #container {padding-top:24px; padding-bottom:60px;}
.mypage .mypage_top {}
.mypage .mypage_top:after {display:block; clear:both; content:'';}
.mypage .h2_area {position:relative; float:left; margin-bottom:40px; width:208px; z-index:20; }
.mypage .h2_area h2 {height:198px; padding-top:42px; font-size:40px; color:#696361;text-align:center; box-sizing:border-box; cursor:pointer; background:#f9f6f5 url("/aboutCom/images/mypage/bg_h2.gif") 0 0 no-repeat; font-weight:normal;}
.mypage .h2_area h2 i {display:block; margin:0 auto; margin-top:20px; width:21px; height:11px; background:url("/aboutCom/images/mypage/ico_arrow1.gif") 0 0 no-repeat;}
.mypage .h2_area h2.on {background:url("/aboutCom/images/mypage/bg_h2_on.gif") 0 0 no-repeat;}
.mypage .h2_area h2.on i {background:url("/aboutCom/images/mypage/ico_arrow2.gif") 0 0 no-repeat;}
.mypage .h2_area .mypage_menu { display:none; width:205px; position:absolute; left:0; top:197px; background:#fff; border-right:2px solid #efe8e6; border-bottom:2px solid #efe8e6; border-left:1px solid #efe8e6; padding-bottom:35px;}
.mypage .h2_area .mypage_menu ul {margin:0 25px; padding-top:28px;}
.mypage .h2_area .mypage_menu ul li {padding-left:15px; font-size:14px; margin-top:14px;}
.mypage .h2_area .mypage_menu ul li:first-child {margin-top:0;}
.mypage .h2_area .mypage_menu ul li a { color:#1b1818;}
.mypage .h2_area .mypage_menu ul li.cnt a ,.mypage .h2_area .mypage_menu ul li a:hover {border-bottom:1px solid #32c1e6; color:#32c1e6;}

/*main*/
.mypage .user_area {position:relative;float:left; width:832px; margin-left:40px; padding-bottom:32px;  border-bottom:1px solid #bbb5b4;}
.mypage .user_area .info {padding-left:116px; padding-top:46px; font-size:30px; color:#1b1818;}
.mypage .user_area .info.bronze {background:url("/aboutCom/images/mypage/ico_bronze.png") 0 33px no-repeat;}
.mypage .user_area .info.bronze .grade {color:#947158;border-bottom:1px solid #947158;}
.mypage .user_area .info.silver {background:url("/aboutCom/images/mypage/ico_sliver.png") 0 33px no-repeat;}
.mypage .user_area .info.silver .grade {color:#aaaaaa; border-bottom:1px solid #aaaaaa;}
.mypage .user_area .info.gold {background:url("/aboutCom/images/mypage/ico_gold.png") 0 33px no-repeat;}
.mypage .user_area .info.gold .grade {color:#bfa32c; border-bottom:1px solid #bfa32c;}
.mypage .user_area .info.vip {background:url("/aboutCom/images/mypage/ico_vip.png") 0 33px no-repeat;}
.mypage .user_area .info.vip .grade {color:#403836; border-bottom:1px solid #403836;}
.mypage .user_area .info .benefitview{display:block;margin-top:32px;font-size:16px;line-height:1;color:#1b1818;}
.mypage .user_area .info .benefitview i{display:inline-block; margin:4px 0 0 10px;width:27px;height:9px;background:url("/aboutCom/images/common/bul30.png") 0 0 no-repeat;}
.mypage .userbenefit {position:absolute; left:410px; top:28px;}
.mypage .userbenefit ul {float:right;display:inline-block;}
.mypage .userbenefit ul:after{content:"";display:block;clear:both;}
.mypage .userbenefit ul li{float:left;font-size:13px;line-height:1;color:#696361;text-align:center;}
.mypage .userbenefit ul li.downcoupon {width:138px}
.mypage .userbenefit ul li.havecoupon {width:146px}
.mypage .userbenefit ul li.downpoint {width:138px}
.mypage .userbenefit ul li .ico{display:inline-block;;height:57px;background:url("/aboutCom/images/common/bg_couponpoint.gif") 0 0 no-repeat;}
.mypage .userbenefit ul li.downcoupon .ico{width:59px;background-position:0 0;}
.mypage .userbenefit ul li.havecoupon .ico{width:64px;background-position:-136px 0;}
.mypage .userbenefit ul li.downpoint .ico{width:68px;background-position:-278px 0;}
.mypage .userbenefit ul li .num {display:block;margin:23px 0;font-size:24px;line-height:1;color:#1b1818;}
.mypage .contypea {padding:40px;} 
.mypage .contypea h3 {padding-bottom:14px; border-bottom:2px solid #bbb5b4;}
.delivery {overflow:hidden;padding-top:36px;}
.delivery .delitxt {float:left; width:208px; font-size:24px; color:#696361;}
.delivery .delitxt span {color:#33c1e5; font-weight:bold;}
.delivery .delilist {float:left; width:791px; overflow:hidden;}
.delivery .delilist li {position:relative; float:left; width:162px; height:98px; background:url("/aboutCom/images/common/bg_delivery.gif") 0 0 no-repeat;}
.delivery .delilist li.status1 {background-position:0px 0px;}
.delivery .delilist li.status2 {background-position:-162px 0px;}
.delivery .delilist li.status3 {background-position:-324px 0px;}
.delivery .delilist li.status4 {background-position:-486px 0px;}
.delivery .delilist li.status5 {width:132px; background-position:-648px 0px;}
.delivery .delilist li .num {position:absolute; left:0px; top:0px; color:#fff; font-size:12px; font-weight:bold}
.delivery .delilist li.status1 .num {left:84px; top:9px; }
.delivery .delilist li.status2 .num {left:95px; top:9px; }
.delivery .delilist li.status3 .num {left:81px; top:9px; }
.delivery .delilist li.status4 .num {left:81px; top:9px; }
.delivery .delilist li.status5 .num {left:89px; top:9px; }
.delivery .delilist li .statustxt{display:block; margin-left:34px; margin-top: 72px;}
.contypewrap {}
.contypewrap:after {display:block; clear:both; content:'';}
.contypewrap.fltype .contypea {float:left; padding-bottom:38px;} 
.contypewrap.num3 .contypea {width:360px; border-left:1px solid #efe8e6} 
.contypewrap.num3 .contypea:first-child {border-left:none;}
.contypewrap.num3 .contypea .dltypea {padding-top:9px; font-size:14px; color:#696361;}
.contypewrap.num3 .contypea .dltypea dt {float:left; padding-top:11px; width:249px;}
.contypewrap.num3 .contypea .dltypea dd {float:left; padding-top:11px; width:30px; text-align:right; }
.recommendation_goods {position:relative; margin-top:20px;}
.recommendation_goods h3 {font-size:20px; color:#1b1818; font-weight:normal;}
.recommendation_goods .btn_area {}
.recommendation_goods .btn_area a {display:block; width:12px; height:22px; background:url("/aboutCom/images/mypage/btn_slider.png") 0 0 no-repeat; font-size:0;}
.recommendation_goods .btn_area a.prev {position:absolute; left:15px; top:204px; background-position:0 0;}
.recommendation_goods .btn_area a.next {position:absolute; right:15px; top:204px; background-position:-39px 0;}
.recommendation_goods .setting_skin {position:absolute; right:40px; top:49px; font-size:14px; color:#696361; padding-right:24px; background:url("/aboutCom/images/mypage/ico_setting.gif") right -1px no-repeat;}
.recommendation_goods .listwrap {width:1000px; height:240px; overflow:hidden;}
.recommendation_goods .list {width:999999px; overflow:hidden;}
.recommendation_goods .list li {width:500px; float:left; padding-top:20px;}
.recommendation_goods .list li a {display:block;}
.recommendation_goods .list li a:after {display:block; clear:both; content:'';}
.recommendation_goods .list li a .photo {float:left; width:240px;}
.recommendation_goods .list li a .detail {position:relative; float:left; width:220px; margin-left:40px; padding-top:14px;}
.recommendation_goods .list li a .detail .ico{position:absolute; left:0; top:14px;}
.recommendation_goods .list li a .detail .tit{display:block; margin-top:34px; font-size:20px; color:#1b1818}
.recommendation_goods .list li a .detail .stit{display:block; margin-top:15px; font-size:14px; color:#696361;}
.recommendation_goods .list li a .detail .price{display:block; margin-top:48px; font-size:20px; color:#1b1818}
.recommendation_goods .list li a .detail .price del {display:block; margin-bottom:4px; font-size:15px; color:#696361;}
.skinsetting_popwrap {display:none; position:fixed; left:0; top:0; width:100%; height:100%; z-index:20 }
.skinsetting_popwrap .dimd {position:fixed; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.5; filter: alpha(opacity=50);}
.skinsetting_popwrap .skinsetting_pop {position:absolute; left:50%; top:50%; margin-left:-362px; margin-top:-295px; padding:40px; width:725px; height:590px; background:#fff; box-sizing:border-box;-}
.skinsetting_popwrap .skinsetting_pop .title {padding:23px 0 20px 0; border-top:2px solid #696361; border-bottom:1px solid #bbb5b4; font-size:26px; color:#1b1818; text-align:center; margin-bottom:20px;}
.skinsetting_popwrap .skinsetting_pop .btn_close {position:absolute; right:60px; top:67px;}
.skinsetting_popwrap .skinsetting_pop .list {overflow:hidden;}
.skinsetting_popwrap .skinsetting_pop .list li {position:relative; float:left; width:150px; height:170px; margin:0 15px 15px 0;}
.skinsetting_popwrap .skinsetting_pop .list li.lst {margin-right:0;}
.skinsetting_popwrap .skinsetting_pop .list li a {display:block; height:100%; border:1px solid #efe8e6;}
.skinsetting_popwrap .skinsetting_pop .list li.cnt a , .skinsetting_popwrap .skinsetting_pop .list li a:hover {border:1px solid #33c1e5;}
.skinsetting_popwrap .skinsetting_pop .list li .ico {display:block; width:148px; height:158px; background:url("/aboutCom/images/mypage/bg_skintype.gif") 0 0 no-repeat;}
.skinsetting_popwrap .skinsetting_pop .list li.skintype1 .ico {background-position:0px 0px;}
.skinsetting_popwrap .skinsetting_pop .list li.skintype2 .ico {background-position:-165px 0px;}
.skinsetting_popwrap .skinsetting_pop .list li.skintype3 .ico {background-position:-330px 0px;}
.skinsetting_popwrap .skinsetting_pop .list li.skintype4 .ico {background-position:-495px 0px;}
.skinsetting_popwrap .skinsetting_pop .list li.skintype5 .ico {background-position:0px -185px;}
.skinsetting_popwrap .skinsetting_pop .list li.skintype6 .ico {background-position:-165px -185px;}
.skinsetting_popwrap .skinsetting_pop .list li.skintype7 .ico {background-position:-330px -185px;}
.skinsetting_popwrap .skinsetting_pop .list li.skintype8 .ico {background-position:-495px -185px;}
.skinsetting_popwrap .skinsetting_pop .list li .txt {display:block; position:absolute; left:0; top:130px; width:100%; text-align:center;}

/*myorder*/
.userread {float:left; padding-top:42px; padding-bottom:40px; width:832px; background:url("/aboutCom/images/mypage/ico_userread.gif") 30px 75px no-repeat; padding-left:106px; margin-left:40px; border-bottom:1px solid #bbb5b4; box-sizing:border-box;}
.userread .tit {font-size:18px; color:#1b1818; margin-bottom:13px;}
.userread .ps_list {font-size:13px; color:#696361;}
.userread .ps_list li {line-height:18px; margin-top:5px;}
.userread .ps_list li:first-child {margin-top:0;}

.termcheck {color:#696361;}
.termcheck h3 {font-size:18px; color:#1b1818; margin-bottom:7px;}
.termlist {}
.termlist li {float:left; margin-left:5px;}
.termlist li:first-child {margin-left:0;}
.termlist li a {display:block; padding-top:10px; width:84px; height:36px; border:1px solid #bbb5b4; color:#1b1818; font-size:14px; background:#fff; text-align:center; box-sizing:border-box;}
.termlist li.cnt a {border:1px solid #7b7472; color:#fff; background:#7b7472;}

.oderlist {padding-top:40px;}
.oderlist .title {font-size:13px; color:#1b1818; margin-bottom:8px; }
.oderlist .title span {color:#33c1e5}
.oderlist .tabletypeb {}
.oderlist .tabletypeb td {height:54px; font-size:14px;}
.oderlist .tabletypeb td.subj {text-align:left; padding-left:20px;}
.oderlist .tabletypeb td.fcblue {color:#33c1e5}
.oderlist .tabletypeb td a {color:#1b1818}

/* 달력*/
.ui-datepicker{position:relative; background:#fff; width:200px; padding:10px;}
.ui-datepicker *{border-radius:0;}
.ui-datepicker-title {text-align:center;}
.ui-datepicker .ui-datepicker-header{padding-bottom:7px; background:none; font-family:verdana; color:#252626; border:none; border-bottom:1px solid #252626;}
.ui-datepicker .ui-datepicker-header .ui-state-hover{background:none; border:0;}
.ui-datepicker .ui-datepicker-header .ui-icon {display:block; background:url("/aboutCom/images/mypage/btn_prevnext.gif") 0 0 no-repeat;  }
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev .ui-icon{position:absolute; left:10px; top:15px; width:5px; height:9px; background-position:0 0; font-size:0;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon{position:absolute; right:10px; top:15px;  width:5px; height:9px; background-position:-18px 0;font-size:0;}
.ui-datepicker .ui-datepicker-other-month{font-size:13px; color:#d8dce1;}
.ui-datepicker .ui-state-default{padding-top:3px; padding-bottom:3px; font-family:verdana; font-weight:normal; font-size:13px; color:#252626; border-color:#fff; background:#fff;}
.ui-datepicker .ui-datepicker-today .ui-state-highlight{background-color:#e2ebf8; border:1px solid #e2ebf8; font-size:13px; font-weight:bold; color:#1550a0;}
.ui-datepicker .ui-datepicker-current-day .ui-state-active{}
.ui-datepicker-calendar {width:100%;}
.ui-datepicker .ui-datepicker-calendar thead th{border:0; padding:1px; font-family:verdana; font-size:13px; font-weight:normal; text-align:center;}
.ui-datepicker .ui-datepicker-calendar thead th span{display:block; padding-top:8px; padding-bottom:5px; border-bottom:2px solid #b3b5b7; text-align:center;} 
.ui-datepicker .ui-datepicker-calendar tbody td {}
.ui-datepicker .ui-datepicker-calendar tbody td a {display:block; text-align:center;}

/*주문상세내역*/
.orderdetail {position:relative;}
.orderdetail h3 {margin-bottom:15px;}
.orderdetail .btn_allcancel {display:inline-block; position:absolute; right:0; top:-13px; height:38px; line-height:38px; padding:0 18px 0 19px; background:#fff; border:1px solid #403836; color:#403836; text-align:center; font-size:14px; box-sizing:border-box;}
.btn_return {display:inline-block;  height:38px; line-height:38px; padding:0 20px; background:#fff; border:1px solid #403836; color:#403836; text-align:center; font-size:14px; box-sizing:border-box;}
.btn_goreview {display:inline-block;  height:38px; line-height:38px; padding:0 38px; background:#7b7472; border:1px solid #7b7472; color:#fff; text-align:center; font-size:14px; box-sizing:border-box;}
.btn_writereview {display:inline-block;  height:38px; line-height:38px; padding:0 38px; background:#fff; border:1px solid #bbb5b4; color:#1b1818; text-align:center; font-size:14px; box-sizing:border-box;}
.btn_buyconfirm {display:inline-block;  height:38px; line-height:38px; padding:0 38px; background:#403836; border:1px solid #403836; color:#fff; text-align:center; font-size:14px; box-sizing:border-box;}
.orderdetail .row1 table tbody tr td.count .relbox{display:inline-block;position:relative;font-size:16px;color:#1b1818;font-weight:bold;}
.orderdetail .row1 table tbody tr td.count .relbox .onenone{position:absolute;top:50%;right:-34px;margin-top:-12px;}
.orderdetail .row1 table tbody tr td.count .relbox .onenone i{display:inline-block; width:24px;height:24px;background:url("/aboutCom/images/cart/onenone_img.png") 0 0 no-repeat;text-indent:-9999px; vertical-align:middle;}
.orderdetail .row1 table tbody tr td.count .relbox .onenone i:hover{background-position:0 -24px;}
.orderdetail .row1 table tbody tr td.count .relbox .onenone .tooltip{display:none;position:absolute;top:34px;left:-83px;padding:12px 14px 10px;width:173px;border:1px solid #696361;background-color:#fff;font-family:"Dotum";font-size:11px;line-height:18px;color:#696361;letter-spacing:-1px;font-weight:normal;text-align:left;box-sizing:border-box;z-index:2;}
.orderdetail .row1 table tbody tr td.count .relbox .onenone .tooltip:after{content:"";display:block;position:absolute;top:-6px;left:88px;width:11px;height:6px;background:url("/aboutCom/images/cart/tooltip_bg.png") 0 0 no-repeat;}
.orderdetail .row1 table tbody tr td.count .relbox .onenone i:hover+.tooltip{display:block;}
.orderdetail .row1 table tbody tr td.coupon{font-size:16px;color:#1b1818;}
.orderwrap .saleapply{background-color:#fff;padding-bottom:27px;}
.orderwrap .saleapply ul:after{content:"";display:block;clear:both;}
.orderwrap .saleapply ul li{float:left;position:relative;margin-left:75px;padding:0 15px;width:280px;box-sizing:border-box;}
.orderwrap .saleapply ul li:first-child{margin-left:0;}
.orderwrap .saleapply ul li:after{content:"";position:absolute;top:33px;left:-52px;width:30px;height:30px;background:url("/aboutCom/images/common/bul30.png") 0 -120px no-repeat;}
.orderwrap .saleapply ul li:first-child:after{background:none;}
.orderwrap .saleapply ul li.total:after{background-position:0 -150px;}
.orderwrap .saleapply ul li p{overflow:hidden;padding-top:10px;line-height:1;}
.orderwrap .saleapply ul li p .tit{float:left;font-size:14px;color:#696361;}
.orderwrap .saleapply ul li p .price{float:right;text-align:right;font-size:14px;color:#696361;}
.orderwrap .saleapply ul li p .price.point{color:#9aca3c;}
.orderwrap .saleapply ul li p .price.point i{ display:inline-block; margin:-2px 5px 0 0;width:17px;height:17px;background:url("/aboutCom/images/common/bul20.png") 0 -64px no-repeat; vertical-align: middle}
.orderwrap .saleapply ul li p.tot{margin-bottom:6px;padding:0 0 11px;border-bottom:1px dotted #bbb5b4;}
.orderwrap .saleapply ul li p.tot .tit{margin-top:12px;font-size:16px;color:#1b1818;}
.orderwrap .saleapply ul li p.tot .price{font-size:22px;color:#1b1818;}
.orderwrap .saleapply ul li p.tot .price strong{font-size:30px;}

.orderwrap .divstylea:after{content:"";display:block;clear:both;}
.orderwrap .divstylea .divitem{float:left;width:460px;}
.orderwrap .divstylea .divitem+.divitem{margin-left:80px;}
.orderwrap .tit_h4{padding-bottom:15px;border-bottom:2px solid #bbb5b4;overflow:hidden;}
.orderwrap h4{float:left;}
.orderwrap .tit_h4 .tip{float:right;margin-top:5px;font-size:14px;color:#696361;}
.orderwrap .tit_h4 .tip i.essential{margin-right:5px;width:8px;height:7px;background:url("/aboutCom/images/cart/ico_essential_sm.gif") 0 0 no-repeat;}
.orderwrap .divstylea td {padding:12px 0;}
.orderwrap .opt label+label{margin-left:49px;}
.orderwrap .opt label .txt{font-size:14px;color:#1b1818;}
.orderwrap .opt a{margin-left:69px;width:135px;}
.orderwrap .info{position:relative;display:inline-block;padding-left:15px;font-family:"Dotum";font-size:11px;line-height:16px;color:#696361;letter-spacing:-1px;}
.orderwrap .info i{position:absolute;top:1px;left:0;width:11px;height:11px;background:url("/aboutCom/images/common/bul20.png") 0 -229px no-repeat;}
.orderwrap .saleinfo .tabletypea table tbody tr th, .order .orderform .orderwrap .saleinfo .tabletypea table tbody tr td{padding:12px 0;box-sizing:border-box;}
.orderwrap .saleinfo .tabletypea table tbody tr th{font-size:14px;line-height:1;color:#1b1818;font-weight:normal;}
.orderwrap .saleinfo .tabletypea table tbody tr td label{font-size:13px;line-height:1;color:#696361;}
.orderwrap .saleinfo .tabletypea table tbody tr td .ipttypea{padding-right:15px;font-weight:bold;text-align:right;}
.orderwrap .saleinfo .tabletypea table tbody tr.si_coupon td a{margin-right:6px;width:106px;}
.orderwrap .saleinfo .tabletypea table tbody tr.si_point th, .order .orderform .orderwrap .saleinfo .tabletypea table tbody tr.si_point td{height:90px;}
.orderwrap .saleinfo .tabletypea table tbody tr.si_point td .insert{display:inline-block;vertical-align:middle;}
.orderwrap .saleinfo .tabletypea table tbody tr.si_point td .insert .mypoint{display:inline-block;margin-top:7px;font-size:11px;color:#9aca3c;}
.orderwrap .saleinfo .tabletypea table tbody tr.si_point td .insert .mypoint i{margin:-2px 5px 0 0;width:17px;height:17px;background:url("/aboutCom/images/common/bul20.png") 0 -64px no-repeat;}
.orderwrap .saleinfo .tabletypea table tbody tr.si_delivery td .outSelB{width:227px;}
.orderwrap .saleapply{background-color:#fff;padding-bottom:27px;}
.orderwrap .saleapply ul:after{content:"";display:block;clear:both;}
.orderwrap .saleapply ul li{float:left;position:relative;margin-left:75px;padding:0 15px;width:280px;box-sizing:border-box;}
.orderwrap .saleapply ul li:first-child{margin-left:0;}
.orderwrap .saleapply ul li:after{content:"";position:absolute;top:33px;left:-52px;width:30px;height:30px;background:url("/aboutCom/images/common/bul30.png") 0 -120px no-repeat;}
.orderwrap .saleapply ul li:first-child:after{background:none;}
.orderwrap .saleapply ul li.total:after{background-position:0 -150px;}
.orderwrap .saleapply ul li p{overflow:hidden;padding-top:10px;line-height:1;}
.orderwrap .saleapply ul li p .tit{float:left;font-size:14px;color:#696361;}
.orderwrap .saleapply ul li p .price{float:right;text-align:right;font-size:14px;color:#696361;}
.orderwrap .saleapply ul li p .price.point{color:#9aca3c;}
.orderwrap .saleapply ul li p .price.point i{margin:-2px 5px 0 0;width:17px;height:17px;background:url("/aboutCom/images/common/bul20.png") 0 -64px no-repeat;}
.orderwrap .saleapply ul li p.tot{margin-bottom:6px;padding:0 0 11px;border-bottom:1px dotted #bbb5b4;}
.orderwrap .saleapply ul li p.tot .tit{margin-top:12px;font-size:16px;color:#1b1818;}
.orderwrap .saleapply ul li p.tot .price{font-size:22px;color:#1b1818;}
.orderwrap .saleapply ul li p.tot .price strong{font-size:30px;}
.orderwrap .addrinfo .tabletypea table{border-top:0;}
.orderwrap .addrinfo .tabletypea table tbody tr th{font-size:14px;color:#1b1818;font-weight:normal;}
.orderwrap .addrinfo .tabletypea table tbody tr th .txtcnt{font-size:12px;color:#696361;}
.orderwrap .addrinfo .tabletypea table tbody tr td input, .order .orderform .orderwrap .addrinfo .tabletypea table tbody tr td .outSelB a{font-weight:bold;}
.orderwrap .addrinfo .tabletypea table tbody tr td.opt{padding:0;height:54px;}
.orderwrap .addrinfo .tabletypea table tbody tr td.addr{font-size:14px;}
.orderwrap .addrinfo .tabletypea table tbody tr td.addr .btn_white_w96h38{float:right;width:135px;}
.orderwrap .addrinfo .tabletypea table tbody tr td.phone .outSelB{width:90px;}
.orderwrap .addrinfo .tabletypea table tbody tr td.email .outSelB{margin-left:9px;width:135px;}
.orderwrap .payinfo .paycon .opt{padding:20px 0 18px;}
.orderwrap .payinfo .paycon .paytip{display:none;position:relative;padding:20px 30px 39px;border-color:#bbb5b4;}
.orderwrap .payinfo .paycon .paytip:after{content:"";display:block;position:absolute;top:-7px;width:13px;height:7px;background:url("/aboutCom/images/cart/tooltip_bg2.png") 0 0 no-repeat;}
.orderwrap .payinfo .paycon .credit:after{left:49px;}
.orderwrap .payinfo .paycon .realtime:after{left:199px;}
.orderwrap .payinfo .paycon .virtual:after{left:349px;}
.orderwrap .payinfo .paycon .virtual{padding-bottom:30px;}
.orderwrap .payinfo .paycon .paytip .infobtn{margin-bottom:20px;padding-bottom:20px;border-bottom:1px dotted #bbb5b4;}
.orderwrap .payinfo .paycon .paytip .infobtn .btn_blue_w96h38{width:155px;}
.orderwrap .payinfo .paycon .paytip .paymentstep em{font-size:14px;line-height:1;color:#1b1818;}
.orderwrap .payinfo .paycon .paytip .paymentstep .txt{margin-top:7px;font-family:"Dotum";font-size:11px;line-height:16px;letter-spacing:-1px;color:#696361;}
.orderwrap .payinfo .paycon .paytip .paymentstep img{margin-top:26px;}
.orderwrap .payinfo .confirmcon{margin-top:25px;}
.orderwrap .payinfo .confirmcon .total{padding-bottom:20px;border-bottom:1px dotted #bbb5b4;}
.orderwrap .payinfo .confirmcon .total .totprice{overflow:hidden;}
.orderwrap .payinfo .confirmcon .total .totprice .tit{float:left;margin-top:20px;font-size:16px;color:#1b1818;}
.orderwrap .payinfo .confirmcon .total .totprice .price{float:right;font-size:28px;color:#1b1818;}
.orderwrap .payinfo .confirmcon .total .totprice .price strong{font-size:36px;}
.orderwrap .payinfo .confirmcon .total .totpoint{margin-top:12px;font-size:13px;line-height:1;color:#696361;text-align:right;}
.orderwrap .payinfo .confirmcon .total .totpoint i{margin:-2px 5px 0 10px;width:17px;height:17px;background:url("/aboutCom/images/common/bul20.png") 0 -64px no-repeat;}
.orderwrap .payinfo .confirmcon .total .totpoint strong{font-size:14px;color:#9aca3c;}
.orderwrap .payinfo .confirmcon .agreetit{margin-top:35px;font-size:18px;line-height:1;color:#1b1818;font-weight:bold;}
.orderwrap .payinfo .confirmcon .agreetit .chkcon{float:right;}
.orderwrap .payinfo .confirmcon .agreetit .chkcon .txt{font-size:14px;line-height:1;color:#696361;font-weight:normal;}
.orderwrap .payinfo .confirmcon .agreebox{margin-top:9px;padding:18px 17px 19px;border:1px solid #efe8e6;background-color:#faf7f7;font-size:13px;line-height:18px;color:#696361;letter-spacing:-0.5px;}
.orderwrap .payinfo .confirmcon .agreebox .law{display:block;margin-top:4px;font-family:"Dotum";font-size:11px;line-height:1;letter-spacing:-1px;color:#bbb5b4;}
.orderwrap .payinfo .confirmcon .btn_payment a+a{margin-left:2px;}

.orderwrap .payinfo .confirmcon .total .nmpwd{margin-top:11px;text-align:right;}
.orderwrap .payinfo .confirmcon .total .nmpwd label{font-size:13px;color:#696361;letter-spacing:-0.5px;}
.orderwrap .payinfo .confirmcon .agreebox .litit{display:inline-block;}
.orderwrap .payinfo .confirmcon .agreebox ol{display:inline-block;margin-left:30px;vertical-align:middle;}
.orderwrap .payinfo .confirmcon .agreebox ol li{font-family:"Dotum";font-size:11px;color:#696361;letter-spacing:-1px;}

.orderwrap .payinfo .tit_h4{border-bottom:0;}
.orderwrap .payinfo .payview:after{content:"";display:block;clear:both;}
.orderwrap .payinfo .payview li{float:left;margin-left:1px;padding:29px 0 26px;width:333px;background-color:#faf7f6;text-align:center;}
.nonmb{background-color:red;}
.nonmb .orderwrap .payinfo .payview li{width:249px;}
.orderwrap .payinfo .payview li:first-child{margin-left:0;width:332px;}
.nonmb .orderwrap .payinfo .payview li:first-child{width:250px;}
.orderwrap .payinfo .payview li em{font-size:14px;color:#1b1818;vertical-align:middle;}
.orderwrap .payinfo .payview li span{margin-left:8px;font-size:13px;color:#696361;}
.orderwrap .deliveryinfo{overflow:hidden;}
.orderwrap .deliveryinfo .contact{float:left;display:inline-block;padding:43px 10px 0;width:240px;box-sizing:border-box;}
.orderwrap .deliveryinfo .contact .callnum{display:block;margin-top:16px;font-size:16px;line-height:1;color:#1b1818;text-align:center;}
.orderwrap .deliveryinfo .contact .callnum i{display:inline-block; margin-right:6px;width:20px;height:20px;background:url("/aboutCom/images/common/bul20.png") 0 -314px no-repeat; vertical-align:middle;}
.orderwrap .deliveryinfo .tabletypea{float:left;display:inline-block;margin-left:18px;width:742px;}
.orderwrap .deliveryinfo .tabletypea table{border-top:0;}
.orderwrap .deliveryinfo .tabletypea table tr th, .order.end .orderform .orderwrap .deliveryinfo .tabletypea table tr td{padding:15px 0;}
.orderwrap .deliveryinfo .tabletypea table tr th{font-size:14px;color:#1b1818;}
.orderwrap .deliveryinfo .tabletypea table tr td{padding:15px 60px 15px 20px;font-size:13px;color:#696361;}
.orderwrap .deliveryinfo .tabletypea table tr td .info{display:block;margin-top:9px;color:#33c1e5;}
.orderwrap .returninfo{padding-top:0;}
.orderwrap .returninfo .txt{margin-top:18px;font-size:13px;line-height:20px;color:#696361;}
.orderwrap .returninfo .txt strong{color:#1b1818;}
.orderwrap .returninfo .txt em{font-size:14px;color:#1b1818;}
.orderwrap .btn_orderend{text-align:center;}
.orderwrap .btn_orderend a{margin-right:2px;}
.orderwrap .btn_orderend .btn_white_w185h60{margin-right:0;color:#1b1818;border-color:#bbb5b4;}

/*교환반품*/
.return .userread {padding-bottom:57px;}
.return .outSelB {width:236px;}
.return .oderlist{padding-top:20px;}
.return .tabletypec td.h38 { height:38px;}
.return .tabletypec td.fcblue {color:#33c1e5}
.return .tabletypec td.pd30 {padding:29px 30px 30px 10px; line-height:20px;}

/*쿠폰*/
.mypage .coupon .h2_area h2 {padding-top:70px;}
.coupon {}
.coupon .userread {padding-bottom:57px;}
.coupon .couponwrap {position:relative;}
.coupon .couponwrap .sort {overflow:hidden; margin-bottom:20px;}
.coupon .couponwrap .sort li {float:left; margin-left:1px;}
.coupon .couponwrap .sort li:first-child {margin-left:0;}
.coupon .couponwrap .sort li a {display:block; padding:16px 20px; background:#bbb5b4; color:#fff;}
.coupon .couponwrap .sort li.cnt a {background:#403836; }
.coupon .couponwrap .btn_alldown {position:absolute; right:0; top:-9px; background:#fff;}
.coupon_list {margin-top:20px;}
.coupon_list ul {overflow:hidden;}
.coupon_list li {float:left; padding:44px 35px 41px; width:540px; background:#fff; overflow:hidden; border-bottom:1px solid #efe8e6;box-sizing:border-box;}
.coupon_list li .couponimg {float:left; width:200px; height:148px; padding-top:57px; box-sizing:border-box; text-align:center;}
.coupon_list li .couponimg.type1 {font-size:25px; color:#32bcde; background:url("/aboutCom/images/mypage/coupontype1.gif") 0 0 no-repeat;}
.coupon_list li .couponimg.type1 strong {font-size:40px}
.coupon_list li .couponimg.type2 {font-size:22px; color:#403836;background:url("/aboutCom/images/mypage/coupontype2.gif") 0 0 no-repeat;}
.coupon_list li .couponimg.type2 strong {font-size:40px}
.coupon_list li .couponimg.type3 {font-size:37px; color:#9aca3c; font-weight:bold; background:url("/aboutCom/images/mypage/coupontype3.gif") 0 0 no-repeat;}
.coupon_list li .detail {float:left; margin-left:44px;}
.coupon_list li .detail .tit {font-size:20px; color:#1b1818; height:67px;}
.coupon_list li .detail .peorid {font-size:14px; color:#696361; letter-spacing:-1px; margin-bottom:35px;}
.coupon_list li .detail .peorid strong {color:#1b1818; font-weight:normal;}
.coupon_list.tabletypeb {width:100%;}
.coupon_list.tabletypeb th,.coupon_list.tabletypeb td {font-size:14px;}
.coupon_list.tabletypeb td .couponimg {width:120px; height:90px; padding-top:34px; margin-left:50px; box-sizing:border-box;}
.coupon_list.tabletypeb td .couponimg.type1 {font-size:15px; color:#32bcde; background:url("/aboutCom/images/mypage/coupontype1_s.gif") 0 0 no-repeat;}
.coupon_list.tabletypeb td .couponimg.type1 strong {font-size:24px;}
.coupon_list.tabletypeb td .couponimg.type2 {font-size:13px; color:#403836;background:url("/aboutCom/images/mypage/coupontype2_s.gif") 0 0 no-repeat;}
.coupon_list.tabletypeb td .couponimg.type2 strong {font-size:24px;}
.coupon_list.tabletypeb td .couponimg.type3 {font-size:22px; font-weight:bold; color:#9aca3c;background:url("/aboutCom/images/mypage/coupontype3_s.gif") 0 0 no-repeat;}
.coupon_list .none {font-size:18px; color:#696361; background:#fff;text-align:center; padding:180px 0; }
.coupon_list .none p {margin-top:18px;}

/*point*/
.point .userread {padding-bottom:57px;}
.mypage .point .h2_area h2 {padding-top:70px;}
.point .savepoint_txt {margin-bottom:20px; color:#000; font-size:20px; text-align:center; }
.point .savepoint_txt span {font-size:40px; color:#34c1e5}
.point .savepoint_txt img {margin-right:10px; vertical-align:top;}
.point .savepoint_table {}
.point .savepoint_table td {height:auto; font-size:14px; color:#1b1818; padding:19px 0 20px;}
.point .savepoint_table td a{color:#1b1818;}
.point .savepoint_table td.fcblue {color:#35c1e5;}
.point .savepoint_table td .pluspoint {padding-left:18px; background:url("/aboutCom/images/mypage/bg_point.gif") 0 2px no-repeat; color:#35c1e5;}
.point .savepoint_table td .minuspoint {padding-left:18px; background:url("/aboutCom/images/mypage/bg_point.gif") 0 -53px no-repeat;}

/*위시리스트*/
.mypage .wishlist .h2_area h2 {padding-top:70px;}
.mypage .wishlist .user_area{height:198px;box-sizing:border-box;}
.mypage .wishlist .user_area .info{padding:60px 0 0 22px;font-size:32px;line-height:40px;color:#000;}
.mypage .wishlist .user_area .info img{vertical-align:middle;}
.mypage .wishlist .user_area .info .wishcount{margin-left:6px;color:#33c1e5;border-bottom:1px solid #9dd9ec;}
.mypage .wishlist .product_area_t2{background-color:#fff;}
.mypage .wishlist .product_area_t2 .product_list{position:relative; z-index:10; }
.mypage .wishlist .product_area_t2 .product_list:after{content:"";display:block;clear:both;}
.mypage .wishlist .product_area_t2 .product_list li{position:relative; float:left; width:25%; height:390px; z-index:0;border-bottom:1px solid #efe8e6; box-sizing:border-box;}
.mypage .wishlist .product_area_t2 .product_list li a.list{display:block; padding:15px 14px 27px;  box-sizing:border-box;  overflow:hidden; z-index:0;}
.mypage .wishlist .product_area_t2 .product_list .photo{display:block; width:240px;}
.mypage .wishlist .product_area_t2 .product_list .photo img{width:240px; height:240px;}
.mypage .wishlist .product_area_t2 .product_list .info{display:block; position:relative; padding-top:10px; width:229px; text-align:center;}
.mypage .wishlist .product_area_t2 .product_list .info .tag{display:block;position:absolute;top:10px;left:0;width:100%;text-align:center;}
.mypage .wishlist .product_area_t2 .product_list .info .title{display:block; margin-top:30px; overflow:hidden;}
.mypage .wishlist .product_area_t2 .product_list .info .product_tit{display:block;  font-size:14px; color:#1b1818; }
.mypage .wishlist .product_area_t2 .product_list .info .product_name{display:block; margin-top:6px; font-family:"Dotum"; font-size:11px; color:#bbb5b4; }
.mypage .wishlist .product_area_t2 .product_list .info .price{display:block; margin-top:12px; font-size:16px; color:#1b1818;}
.mypage .wishlist .product_area_t2 .product_list li span.frame{display:none;}
.mypage .wishlist .product_area_t2 .product_list li:hover span.frame{display:block;}
.mypage .wishlist .product_area_t2 .product_list li span.l{position:absolute; left:-1px; top:-1px; display:block; width:1px; height:390px; background:#33c1e5; z-index:10;}
.mypage .wishlist .product_area_t2 .product_list li span.t{position:absolute; left:0; top:-1px; display:block; width:270px; height:1px; background:#33c1e5; z-index:10;}
.mypage .wishlist .product_area_t2 .product_list li span.r{position:absolute; right:0; top:-1px; display:block; width:1px; height:390px; background:#33c1e5;}
.mypage .wishlist .product_area_t2 .product_list li span.b{position:absolute; left:0; bottom:-1px; display:block; width:270px; height:1px; background:#33c1e5; z-index:10;}
.mypage .wishlist .product_area_t2 .product_list li .chkcon{display:none;position:absolute;top:-1px;right:0;}
.mypage .wishlist .product_area_t2 .product_list li.on .frame{display:block;}
.mypage .wishlist .product_area_t2 .product_list li:hover .chkcon{display:block;}
.mypage .wishlist .product_area_t2 .product_list li.on .chkcon{display:block;}
.mypage .wishlist .btn_group{overflow:hidden;}
.mypage .wishlist .btn_group a{float:left;display:inline-block;margin-right:10px;border:1px solid #bbb5b4;overflow:hidden;cursor:default;}
.mypage .wishlist .btn_group a.on{cursor:pointer;border-color:#403836;}
.mypage .wishlist .btn_group a .ico{float:left;padding:8px;border-right:1px solid #bbb5b4;}
.mypage .wishlist .btn_group a.on .ico{border-color:#403836;}
.mypage .wishlist .btn_group a .ico i{display:inline-block;width:30px;height:30px;background:url("/aboutCom/images/common/bul30.png") 0 0 no-repeat;}
.mypage .wishlist .btn_group a.wish .ico i{background-position:0 -180px;}
.mypage .wishlist .btn_group a.on.wish .ico i{background-position:0 -30px;}
.mypage .wishlist .btn_group a.del .ico i{background-position:0 -210px;}
.mypage .wishlist .btn_group a.on.del .ico i{background-position:0 -60px;}
.mypage .wishlist .btn_group a.cart .ico i{background-position:0 -240px;}
.mypage .wishlist .btn_group a.on.cart .ico i{background-position:0 -270px;}
.mypage .wishlist .btn_group a .txt{float:right;padding:0 12px;font-size:14px;line-height:46px;color:#1b1818;text-align:center;}
.mypage .wishlist .btn_group a .txt strong{color:#33c1e5;}


/*1:1문의*/
.myquestion {}
.myquestion .userread {padding-bottom:57px;}
.mypage .myquestion .h2_area h2 {padding-top:70px;}
.myquestion_list {position:relative; margin-top:34px;}
.myquestion_list .btn_question {position:absolute; right:0; top:-48px; }
.myquestion_list.tabletypeb td {height:auto; font-size:14px; color:#1b1818; padding:19px 0 20px; }
.myquestion_list.tabletypeb td.fcblue {color:#33c1e5}
.myquestion_list.tabletypeb tr.qna_subj td.subj {text-align:left; padding-left:20px;}
.myquestion_list.tabletypeb tr.qna_subj td.subj.cnt {font-weight:bold;}
.myquestion_list.tabletypeb tr.qna_detail {}
.myquestion_list.tabletypeb tr.qna_detail td  {padding:0; color:#696361; font-size:14px; border-bottom:none;}
.myquestion_list.tabletypeb tr.qna_detail td .qna_area {display:none; padding:30px 44px 28px;background:#fcfafa;}
.myquestion_list.tabletypeb tr.qna_detail td .q_area {text-align:left; padding:0 70px 28px 95px; background:url("/aboutCom/images/mypage/ico_q.gif") 35px 0 no-repeat; }
.myquestion_list.tabletypeb tr.qna_detail td .q_area .btngroup {margin-top:68px;}
.myquestion_list.tabletypeb tr.qna_detail td .a_area {position:relative; padding:30px 70px 0 95px; border-top:1px dashed #bbb5b4; text-align:left; background:url("/aboutCom/images/mypage/ico_a.gif") 35px 30px no-repeat;}
.myquestion_list.tabletypeb tr.qna_detail td .a_area .btn_qnaclose {position:absolute; right:0; top:30px;}
.myquestion_list.tabletypeb tr.qna_detail td .a_area .date {display:block; margin-top:30px; color:#333; font-size:12px;}

/*나의 리뷰*/
.review .h2_area h2 {padding-top:70px;}
.review .userread{padding:17px 0 17px 106px;background-position:30px 72px;}
.review .userread .tit{margin-bottom:15px;}
.review .userread .ps_list li{margin-top:4px;}
.review .reviewwrap .reviewtab {overflow:hidden; margin-bottom:20px;}
.review .reviewwrap .reviewtab li {float:left; margin-left:2px;}
.review .reviewwrap .reviewtab li:first-child {margin-left:0;}
.review .reviewwrap .reviewtab li a {display:block; padding:16px 20px; background:#bbb5b4; color:#fff;}
.review .reviewwrap .reviewtab li.cnt a {background:#403836; }
.review .reviewwrap .writable table tr td.none p{margin-top:20px;font-size:18px;line-height:24px;color:#696361;}
.review .reviewwrap .wrote{border-top:2px solid #bbb5b4;}
.review .reviewwrap .wrote .pur_review {background-color:#fff;}
.review .reviewwrap .wrote .pur_review .cont {border-top:1px solid #efe8e6; margin-top:-1px;}
.review .reviewwrap .wrote .pur_review .cont.first {border-top:none;}
.review .reviewwrap .wrote .pur_review .cont.last .contxt{border-bottom:none;}
.review .reviewwrap .wrote .pur_review .cont .subj {position:relative; padding:24px 110px 24px 40px; color:#696361; font-size:14px; cursor:pointer;}
.review .reviewwrap .wrote .pur_review .cont .subj:after {display:block;content:''; position:absolute; right:43px; top:67px; width:26px; height:14px; background:url("/aboutCom/images/shopping/bg_pur_review.gif") 0 0 no-repeat;}
.review .reviewwrap .wrote .pur_review .cont.cnt .subj:after { background:url("/aboutCom/images/shopping/bg_pur_review.gif") 0 -36px no-repeat;}
.review .reviewwrap .wrote .pur_review .cont .subj .txtdotdot  {font-size:14px; color:#696361; height:37px;margin-top:15px;}
.review .reviewwrap .wrote .pur_review .cont .subj .writer { font-size:12px;}
.review .reviewwrap .wrote .pur_review .cont .subj .writer .date {color:#1b1818;}
.review .reviewwrap .wrote .pur_review .cont .subj .writer .ico_photo {display:inline-block; margin-left:7px; padding-left:26px; font-size:14px; color:#33c1e5; background:url("/aboutCom/images/shopping/ico_photo.png") 0 0 no-repeat;}
.review .reviewwrap .wrote .pur_review .cont .subj .userage {display:block; font-size:16px; color:#696361;}
.review .reviewwrap .wrote .pur_review .cont .subj .userage .skin {display:inline-block; margin-top:10px; margin-left:15px; width:81px; height:18px; background:url("/aboutCom/images/review/bg_skintype.gif") right 0 no-repeat; font-size:0; vertical-align:bottom;}
.review .reviewwrap .wrote .pur_review .cont .subj .userage .skin.dry {width:48px; background-position:right -100px;}
.review .reviewwrap .wrote .pur_review .cont .subj .userage .skin.normal {width:48px; background-position:right -43px;}
.review .reviewwrap .wrote .pur_review .cont .subj .userage .skin.oily {;background-position:right -100px;}
.review .reviewwrap .wrote .pur_review .cont .contxt {position:relative;padding:26px 130px 28px 70px; border-top:1px dashed #bbb5b4; border-bottom:1px dashed #bbb5b4; background:#fcfafa; font-size:14px; color:#696361;} 
.review .reviewwrap .wrote .pur_review .cont .contxt .writer {margin-bottom:15px;}
.review .reviewwrap .wrote .pur_review .cont .contxt .writer .id {color:#1b1818; font-weight:bold;}
.review .reviewwrap .wrote .pur_review .cont .contxt .writer .date {color:#bbb5b4; padding-left:10px; margin-left:10px; background:url("/aboutCom/images/shopping/bg_bar.gif") 0 1px no-repeat;}
.review .reviewwrap .wrote .pur_review .cont .contxt .writer img {width:308px; height:308px;}
.review .reviewwrap .wrote .pur_review .cont .contxt .userage {display:block; font-size:16px; color:#696361;}
.review .reviewwrap .wrote .pur_review .cont .contxt .userage .skin {display:inline-block; margin-top:10px; margin-left:15px; width:81px; height:18px; background:url("/aboutCom/images/review/bg_skintype.gif") right 0 no-repeat; font-size:0; vertical-align:bottom;}
.review .reviewwrap .wrote .pur_review .cont .contxt .userage .skin.dry {width:48px;background-position:right -100px;}
.review .reviewwrap .wrote .pur_review .cont .contxt .userage .skin.normal {width:48px;background-position:right -43px;}
.review .reviewwrap .wrote .pur_review .cont .contxt .userage .skin.oily {background-position:right -100px;}
.review .reviewwrap .wrote .pur_review .cont .contxt img {margin-top:16px; max-width:100%;}

/*회원정	보수정*/
.mymodify .userread{padding:57px 0 65px 106px;height:198px;background-position:30px 72px;}
.mymodify .contypea.step3 {padding:40px; overflow:hidden;}
.mymodify .contypea.step3 h3 span {display:inline-block; float:right; background:url("/aboutCom/images/membership/ico_check.gif") 0 4px no-repeat; padding-left:14px; font-size:14px; color:#696361; font-weight:normal; }
.mymodify .tabletypea table{border-top:0;}
.mymodify .tabletypea table td {position:relative;font-size:14px;color:#696361}
.mymodify .tabletypea table td .ps_txt {padding-left:0; font-size:11px; font-family:"Dotum";letter-spacing:-1px; color:#bbb5b4; letter-spacing:-1px; }
.mymodify .tabletypea table td .ps_txt:after {width:0; height:0; background:none;}
.mymodify .tabletypea table td .ps_txt em {font-size:12px;}
.mymodify .tabletypea table td .ps_txt.txt1{position:absolute; left:342px; top:9px; }
.mymodify .tabletypea table td .ps_txt.txt2 {display:block; padding-top:4px; line-height:11px;}
.mymodify .tabletypea table td .outSelB {width:123px; margin-right:7px;}
.mymodify .tabletypea table td .racon .txt{font-size:14px;color:#1b1818;}
.mymodify .tabletypea table td .btn_white_w96h38{vertical-align:middle;}
.mymodify .tabletypea table td.memberid, .mymodify .tabletypea table td.membername{padding:20px 0;}
.mymodify .tabletypea table .password{vertical-align:top;}
.mymodify .tabletypea table th.password{padding-top:20px;}
.mymodify .tabletypea table .password .btn_white_w96h38{width:116px;}
.mymodify .tabletypea table td.birth .outSelB {width:90px}
.mymodify .tabletypea table td.birth .select_w95 .outSelB {width:95px}
.mymodify .tabletypea table td.phone_num .outSelB {width:95px}
.mymodify .tabletypea table td.home_num .outSelB {width:90px}
.mymodify .tabletypea table td.email .outSelB {width:185px}
.mymodify .tabletypea table td.addr .btn_white_w96h38 {width:135px}
.mymodify .tabletypea table td .ipttypea.mt8 {margin-top:8px;}
.mymodify .tabletypea table td.selectradio{padding:16px 0;}
.mymodify .tabletypea table td.selectradio .racon {margin-right:44px;}
.mymodify .tabletypea .btngroup a + a{margin-left:2px;}

/*회원탈퇴*/
.dropout .h2_area h2 {padding-top:70px;}
.dropout .userread{padding:34px 0 36px 106px;height:198px;background-position:30px 72px;}
.dropout .dropoutform{padding:15px 0 0;}
.dropout .dropoutform table tr td{padding:15px 0;}
.dropout .dropoutform table tr td .chkcon .txt{font-size:14px;color:#1b1818;letter-spacing:-0.5px;}
.dropout .dropoutform table tr td.comment .chkcon{float:left;}
.dropout .dropoutform table tr td.comment .txtareatypea{margin-left:12px;font-size:14px;line-height:22px;color:#696361;}
.dropout .dropoutform .agreebox{margin-top:15px;padding:15px 20px;border:1px solid #efe8e6;background-color:#faf7f7;overflow:hidden;}
.dropout .dropoutform .agreebox .info{display:inline-block;position:relative;padding-left:14px;font-size:13px;color:#696361;letter-spacing:-0.25px;}
.dropout .dropoutform .agreebox .info i{position:absolute;top:2px;left:0;width:12px;height:12px;background:url("/aboutCom/images/mypage/bl_info.gif") 0 0 no-repeat;}
.dropout .dropoutform .agreebox .chkcon{float:right;}
.dropout .dropoutform .agreebox .chkcon .txt{font-size:13px;color:#1b1818;}


/*팝업 공통 스타일*/
.pro_info {overflow:hidden;}
.pro_info .photo {float:left;}
.pro_info .detail {float:left; margin-left:30px;}
.pro_info .detail .tit {margin-top:6px; font-size:14px; color:#1b1818}
.pro_info .detail .stit {margin-top:6px;font-size:11px; font-family:"Dotum"; letter-spacing:-1px; color:#bbb5b4;}
.pro_info .detail .price  {margin-top:14px;font-size:16px; color:#1b1818; font-weight:bold;}
.review_write .writeform table tr td.skintype .outSelB{width:235px;}

/*체험단리뷰 등록*/
.review_write .container1080{padding:3px 0;}
.review_write h2{margin-top:13px;text-align:center;}
.review_write .writeform.exp table{width:100%;border:1px solid #bbb5b4;table-layout:fixed;}
.review_write .writeform.exp table tr th{padding:19px 0 19px 29px;border-bottom:1px solid #efe8e6;background-color:#f9f6f5;font-size:14px;color:#1b1818;font-weight:normal;text-align:left;}
.review_write .writeform.exp table tr td{padding:8px 10px;border-bottom:1px solid #efe8e6;background-color:#fff;font-size:14px;color:#1b1818;}
.review_write .writeform.exp table tr td.prosearch{padding-left:20px;}
.review_write .writeform.exp table tr td.product{border-left:1px solid #efe8e6;padding:0 0 0 20px;}
.review_write .writeform.exp table tr td.edit{padding:10px 9px;border-bottom:0;}
.review_write .writeform.exp .btngroup a + a{margin-left:2px;}

/*비밀번호 변경 팝업*/
.pop_pwchange .reviewpop{width:460px;}
.pop_pwchange .reviewpop_close{top:67px;}
.pop_pwchange .changeform table{width:100%;table-layout:fixed;}
.pop_pwchange .changeform table tr th,
.pop_pwchange .changeform table tr td{border:1px solid #efe8e6;}
.pop_pwchange .changeform table tr th{padding:20px 0 18px 29px;border-right:0;background-color:#f9f6f5;font-size:14px;color:#1b1818;font-weight:normal;text-align:left;}
.pop_pwchange .changeform table tr td{padding:8px 10px 8px 11px;border-left:0;}
.pop_pwchange .changeform .btngroup a + a{margin-left:2px;}


/* IE8 only */
@media \0screen {
	.orderwrap .saleapply ul li p.tot .price strong {display:inline-block; padding-top:2px;}
}