
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
<script src="/aboutCom/js/main.js" type="text/javascript"></script>
<title>ABOUT ME</title>
</head>
<body>
    <div class="wrap main">
        <!--header-->
       
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
        <!--//header-->
        <!--container-->
        @if (IsSectionDefined("Body"))
        {
            @RenderSection("Body")
        }
        else
        {
            @RenderBody()
        }
        <!--//container-->
        <!--footer-->
       @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
        <!--//footer-->
    </div>
</body>
</html>




