@{
    ViewBag.Title = "Create_Plain";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
}

@section Scripts{

    <script language="javascript">

        function frmCheck() {
            var f = document.bform;
            var DEPTH1_CODE = $("#DEPTH1_CODE option:selected").val();
            var DEPTH2_CODE = $("#DEPTH2_CODE option:selected").val();
            var CATE_GBN = $(':radio[name="CATE_GBN"]:checked').val();;
            //alert("DEPTH1_CODE:" + DEPTH1_CODE + "DEPTH2_CODE:" + DEPTH2_CODE + "CATE_GBN:" + CATE_GBN);

            if ($("input:radio[id='CATE_GBN']").is(":checked") == false) {
                alert("카테고리 타입을 선택해주세요.");
                return false;
            }

            if ((CATE_GBN != 'PRODUCT_TYPE') && (DEPTH1_CODE == '')) {
                alert("부모 카테고리를 선택해주세요.");
                return false;
            }

            //if ((CATE_GBN != 'PRODUCT_TYPE') && (DEPTH1_CODE != '') && (DEPTH2_CODE != '')) {
            //    alert("피부타입이나 라인타입 추가시에는 2DEPTH를 '선택'으로 변경해주세요");
            //    return false;
            //}

            //if ((CATE_GBN == 'PRODUCT_TYPE') && (DEPTH1_CODE != '') && (DEPTH1_CODE != '101') && (DEPTH2_CODE != '')) {
            //    alert("뷰티이외에는 3depth 카테고리를 만들수 없습니다. 2DEPTH를 '선택'으로 변경해주세요");
            //    return false;
            //}

           if (f.DEPTH_NAME.value == '') {
                alert("카테고리 이름을 입력하세요.");
                return false;
           }
           document.bform.submit();
        }


        $(function () {
            ajaxSelectCateCodeJavascriptInit();
        });

        //카테고리 유형별(PRODUCT_TYPE) 초기화 1
        function ajaxSelectCateCodeJavascriptInit() {

            var f = document.bform;

            $.ajax({
                url: '/AdminProduct/CategoryListJavascript',
                type: 'POST',
                data: {
                    CATE_GBN: 'PRODUCT_TYPE',
                    DEPTH1_CODE: '',
                    DEPTH2_CODE: ''
                },
                success: function (data) {
                    //var result = "<select style='width:170px;' id='P_CATE_CODE1' name='P_CATE_CODE1' onchange='alert(this.options[this.selectedIndex].value)'>";
                    var result = "<select style='width:120px;' id='DEPTH1_CODE' name='DEPTH1_CODE' onchange='ajaxSelectCateCodeJavascriptProductType1();'>";
                    result += "<option value=''>=선택=</option>";
                    $('#ajaxPCateCode1').html('');
                    $.each(data.msg, function (id, category) {
                        result += '<option value=' + category.DEPTH1_CODE + '>' + category.DEPTH1_NAME + '</option>';
                    });
                    result += "</select>";

                    $('#ajaxPCateCode1').html(result);

                },
                error: function (errorData) {
                    alert("ajaxSelectCateCodeJavascriptInit error");
                }
            });
        }

        //카테고리 유형별(PRODUCT_TYPE) ProductType 2
        function ajaxSelectCateCodeJavascriptProductType1() {

            var f = document.bform;
            var DEPTH1_CODE = $("#DEPTH1_CODE option:selected").val();
            var CATE_GBN = $(':radio[name="CATE_GBN"]:checked').val();;
            $('#ajaxPCateCode2').html('');
            //카테고리 타입이 "상품타입"이 부모카테고리가 "뷰티"인 경우만 2depth 셀렉트 박스 활성화한다.
            if ((DEPTH1_CODE != '101') || (CATE_GBN != 'PRODUCT_TYPE')) {
                return;
            }
            
            $.ajax({
                url: '/AdminProduct/CategoryListJavascript',
                type: 'POST',
                data: {
                    CATE_GBN: 'PRODUCT_TYPE',
                    DEPTH1_CODE: DEPTH1_CODE,
                    DEPTH2_CODE: ''
                },
                success: function (data) {
                    var result = "<select style='width:120px;' id='DEPTH2_CODE' name='DEPTH2_CODE' >";
                    result += "<option value=''>=선택=</option>";
                    $('#ajaxPCateCode2').html('');
                    $.each(data.msg, function (id, category) {
                        result += '<option value=' + category.DEPTH2_CODE + '>' + category.DEPTH2_NAME + '</option>';
                    });
                    result += "</select>";

                    $('#ajaxPCateCode2').html(result);

                },
                error: function (errorData) {
                    alert("ajaxSelectCateCodeJavascriptProductType1 error");
                }
            });
        }

      
    </script>

}

@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
}

@section Body{

    <div class="content">
        <!--path-->
        <div class="path">
            <a href="/index.asp">HOME</a> &gt; <a href="#">환경설정</a> &gt; <a href="#">전체운영설정</a> &gt; <strong>배송설정</strong>
        </div>
        <!--//path-->

        <div class="panel">
            <h3 class="sub-header">카테고리 등록 @ViewBag.resultVal</h3>

            @using (Html.BeginForm("Create", "AdminProduct", FormMethod.Post, new { id = "bform", name = "bform", onsubmit = "return frmCheck();" }))
            {
                @Html.AntiForgeryToken()  //폼 데이터 위조 방지 토큰 생성

                            <table class="table table_row">
                                <colgroup><col width="25%" /><col width="75%" /></colgroup>
                                <tbody>
                                    <tr>
                                        <th class="c">카테고리 타입 선택</th>
                                        <td class="radio_area">
                                            <label><input type="radio" value="PRODUCT_TYPE" id="CATE_GBN" name="CATE_GBN" /> 상품타입 </label>
                                            <label><input type="radio" value="SKIN_TYPE" id="CATE_GBN" name="CATE_GBN" onclick="$('#ajaxPCateCode2').html('');"/> 피부타입 </label>
                                            <label><input type="radio" value="LINE_TYPE" id="CATE_GBN" name="CATE_GBN" onclick="$('#ajaxPCateCode2').html('');" /> 라인타입 </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>부모 카테고리 선택</th>
                                        <td colspan="3">
                                            <span id="ajaxPCateCode1"></span>
                                            <span id="ajaxPCateCode2"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>카테고리이름</th>
                                        <td><input type="text" class="input-sm text-left" name="DEPTH_NAME" ID="DEPTH_NAME" /></td>
                                    </tr>
                                </tbody>
                            </table>

            }
        </div>

        <div class="btn_area">
            <a class="btn btn-default small" href="#" onclick="javascript:frmCheck();">등록</a>
            <a class="btn btn-primary small" href="/AdminProduct/Index">목록</a>
        </div>
        
    </div>
}

