@model AboutMe.Domain.Entity.Order.OrderResult
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderProcess</title>
</head>
<body>
    <div>order_code : @Model.ORDER_CODE</div>
    <div>Resultcode : @Model.InisysResult.Resultcode</div>
    <div>ResultMsg : @Model.InisysResult.ResultMsg</div>
    <div>ResultErrorCode : @Model.InisysResult.ResultErrorCode</div>
</body>
</html>
